---
title: Australian Cyber League
---
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/lol/splash9.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="goldtext">ACL League of Legends Online Round 4 - 2014!</h1>
        <p><i>August 04 2014 by Midnite</i></p>
        <p>The action returns with the announcement of ACL League of Legends Online Round 4. Once again we're working closely with Riot to ensure that our eSports presence is of high quality to provide the community with plenty of avenues to succeed, and thus, Online Round 4 will act as a qualifier for the Oceanic Regional Final.
        ACL Online Rounds award ACL Season Points and are used to seed players and teams in future Online and National Live Events throughout the 2014 ACL Pro Season.</p>
        </div>
        
        <div class="small-12 columns padding-20 center">
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.plantronics.com/au/gaming">
                    <img src="/images/sponsors/plantronics.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.nvidia.com">
                    <img src="/images/sponsors/nvidia.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.gigabyte.com">
                    <img src="/images/sponsors/gigabyte.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.gaming.benq.com">
                    <img src="/images/sponsors/benq.png" width="75%"/>
                </a>
            </div>
        </div>
        
        <div><p class="empty">Ummmm, this is a tasty burger!</p></div>
    
    </div>
    
        <!--<div class="row">
        
        <div class="small-12 columns articlebody padding-40">
    
    <div class="small-12 columns articlebox" style="background-image: url(/images/syd/2014/venue.jpg); margin-bottom: 20px;">
        <div class="text-center whitetext" style="margin-top: 60px;">
           <h5 class="whitetext">Venue</h5>
           <p>__________</p>
           <ul class="no-bullet">
               <li>Australian Technology Park</li>
               <li>2, Locomotive St</li>
               <li>Eveleigh</li>
               <li>NSW, 2015</li>
           </ul>
       </div>
    </div>
            
           <p>Check out some more photos of the venue <a href="https://www.facebook.com/media/set/?set=a.10151180833938092.507499.240252393091&type=3">here</a></p>
           
        </div>
        </div>
        
           <img src="/images/syd/2014/sixtitles.jpg" />-->
        
        <div class="row">
        <div class="small-12 columns articlebody padding-40">
        
           <h4 class="goldtext">Date/Time</h4>
            <ul class="no-bullet">
               <li><b>Date: </b>August 30th - August 31st</li>
               <li><b>Time: </b>11:00am - 9:00pm AEST both days</li>
            </ul>
           <p>9:00pm AEST is the latest the tournament will be played to unless all teams left agree to continue to play past this time and it is approved by Tournament Admins. Teams entering and competing in this tournament are obligated to play until AT LEAST 9:00pm AEST and if you choose to leave before this time you will be penalised.</p>
          
          <h4 class="goldtext">Registration</h4>
          <p>Registration is open now! Please follow the button below to register for this tournament.<br>
          Registration is open until 11:59pm AEST on Thursday 28th August. Captains may change their lineup through the registration link up until this time.<br>
          <b>PLEASE USE CORRECT SUMMONER NAMES WHEN REGISTERING FOR THIS TOURNAMENT.</b>
          </p>
          <iframe src="http://battlefy.com/embeds/join/53df81888ed188dc0971bb5d" title="ACL League of Legends Online Round 4" width="150" height="45" scrolling="no" frameborder="0"></iframe>
           
            <h4 class="goldtext">Spectating</h4>
            <p>Online Round 4 will be streamed to twitch.tv/aclprolol. Tune in to get your fix and see the best of Oceania battle it our for a spot in the Regional Final.</p>
                      
            <h4 class="goldtext"> Structure</h4>      
            <p>This tournament will host a Two Day competition, featuring a Double Elimination Bracket capped at 128 teams. Seeding for the double elimination bracket will be based off ACL Pro Points from previous ACL Online Rounds and Live Events.
            <br> 
            <br>
            ACL League of Legends rules can be found <a href="http://www.aclpro.com.au/procircuit/acl-league-of-legends-rules">here</a><br>
            ACL / Riot Partner Event rules can be found <a href="http://www.aclpro.com.au/procircuit/league-of-legends-rules-2014">here</a></p>
     
            <p><b>Please add our tournament admins in the League of Legends Client, this will be their main point of contact with you.</b>
            <ul class="no-bullet">
              <li>Brandz</li>
              <li>Ozzymandias</li>
              <li>Alysael</li>
            </ul>
              </p>           
        </div>
        </div>
       
    
<%= partial "footer" %>