<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="goldtext">Introducing the ACL Call of Duty: Ghosts League</h1>
        <p class="smalltext"><i>August 4 2014 by Beware</i></p>
        <p>We’ve hinted at it before, and now we are happy to announce, ACL’s very first online league for Call of Duty: Ghosts. What a better way to say goodbye to Ghosts and prepare for the upcoming release of Advance Warfare than to pit Australia & New Zealand’s best teams against each other, covering the action live from our new broadcast office in Sydney on mlg.tv.</p>


		<p>Hosting ANZ’s 8 best teams, players will compete twice a week for a period of 7 weeks, ending in a 4 team Playoff bracket. At the end of the Regular Season, the four best teams based on Win/Loss ratio will compete in the Single Elimination Playoff bracket for the title of ANZ Call of Duty: Ghosts Champions and the lion’s share of the Prize Pool. For more information, read below:</p>

        <ul class="button-group">
        <!--<li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>-->
        <li><a href="/rules/codleague/conduct_rules.html" class="button tiny">Conduct Rules</a></li>
        <li><a href="/rules/codleague/format.html" class="button tiny">Format</a></li>
        <li><a href="/rules/codleague/rules.html" class="button tiny">Rules</a></li>
        <li><a href="/rules/codleague/gametypes.html" class="button tiny">Gametypes</a></li>
        <li><a href="/events/2014/online/cod/league/schedule.html" class="button tiny">Schedule</a></li>
        <li><a href="/events/2014/online/cod/league/registered_teams.html" class="button tiny">Registered Teams</a></li>
        </ul>
        <br> 
   
        <h4 class="goldtext">Preliminary Details:</h4>
        <ul class="bullet">
            <li>Registration is open to all. Out of the registered teams only the Top 8 teams based on MLG Pro Points will be selected to compete in the League.</li>
            <li>Teams will compete in two League matches a week, scheduled across Tuesday and Thursday nights every week.</li>
            <li>The Regular Season will run for 7 weeks, from August 12th – September 25th.</li>
            <li>The Playoff bracket will be held on September 28th.</li>               
            <li>At the end of the Regular Season, the top 4 teams based on Win/Loss will advance to the Playoff bracket.</li>               
            <li>The schedule of the Regular Season will be set by ACL and all matches will be played as per the schedule. Absolutely no exceptions.</li>               
            <li>The registration fee is $100 per teams for all teams accepted into the Regular Season.</li>
            <li>The miminum prize pool is $1000.</li>
            <li>
            Registration closes on Sunday the 10th of August 11.59pm AEST and the registration fee is due on Monday the 11th of August by 8.30pm AEST.</li>
            <li>All teams accepted into the Regular Season will be contacted privately on Monday the 11th of August by Tournament Admins via the email provided in the registration email.</li>        
        </ul>

        <h4 class="goldtext">Registration Details:</h4> 
        <p>All teams that wish to register should have their captain email the below registration information to the email d.cauci@aclpro.com.au</p>
        <ul class="no-bullet"> 
            <li>ACL Call of Duty Ghosts League Registration</li>   
            <li>Team Name:</li>   
            <br>
            <li>Captain Full Name:</li>   
            <li>Captain Xbox Gamer Tag:</li>   
            <li>Captain Gamebattles Account Name:</li>   
            <li>Captain Phone Number:</li>   
            <li>Captain Email:</li>   
            <li>Captain Skype:</li>   
            <br>
            <li>Member Two Full Name:</li>   
            <li>Member Two Xbox Gamer Tag:</li>   
            <li>Member Two Gamebattles Account Name:</li>    
            <br>
            <li>Member Three Full Name:</li>   
            <li>Member Three Xbox Gamer Tag:</li>   
            <li>Member Three Gamebattles Account Name:</li>    
            <br>
            <li>Member Four Full Name:</li>   
            <li>Member Four Xbox Gamer Tag:</li>   
            <li>Member Four Gamebattles Account Name: </li>   
            <br>
            <li>I hereby certify the above information is correct.</li>   
            <li>I hereby agree to all rules and regulations of the ACL Call of Duty: Ghosts League.</li>
        </ul>

        <h4 class="goldtext">Additional Information: </h4>  
        <p>Additional information such as rules, format, schedule etc will be released over the coming days. For now, get excited for ACL’s first ever Call of Duty League as we say goodbye to Ghosts and prepare for Call of Duty: Advanced Warfare. Prepare yourself to watch all the action go down live over the next 7 weeks at mlg.tv/ACL.</p>
        
        </div>
    
    </div>
    
<%= partial "footer" %>