---
title: Australian Cyber League
---
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/othergames/fifa1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="goldtext">FIFA 14 at ACL Sydney will host an ESWC Qualifier!</h1>
        <p><i>July 13 2014 by Beware</i></p>
        <p>ACL is proud to announce that the FIFA 14 tournament hosted at ACL Sydney is an Electronic Sports World Cup qualifier! That's right, thanks to EA Australia and ESWC, the FIFA 14 Champion crowned at ACL Sydney will be sent to compete against the best FIFA players in the world live in Paris at the ESWC 2014 Final!
</p>
        </div>
    
    </div>
        
        <div class="row">
        <div class="small-12 columns articlebody padding-40">
        
        <div class="small-12 columns center">
        <img src="/images/articles/banner_GoToParis.png" class="center" />
        </div>
            
        <div><p class="empty">Are you the shepherds keeper?</p></div>
            
           <h4 class="graytext">FIFA 14 Prize Pool at ACL Sydney</h4>
           <ol>
               <li>Flights & Accommodation to the ESWC 2014 Final in Paris</li> 
               <li>$3500</li>
               <li>$1500</li>
           </ol>
           <p><b>Price:</b> $30 per person</p>
          
          <h4 class="graytext">Registration & Payment</h4>
          <p>We have already opened up Registration for FIFA 14 at ACL Sydney, however NO spots in the tournament will be held without payment. To secure your registration for FIFA 14 at ACL Sydney fill out the Registration & Payment form <a href="http://form.jotformpro.com/form/41801165888966?">here.</a></p>
            
          <p>At this point the tournament is open on a first in, best dressed scenario limited to 32 players. Players confirm their entry to the competition by registering and paying their entry online. Should registration interest stretch beyond this number, then additional slots may open to extend the competition.</p>
          
           <h4 class="graytext">Structure</h4>
           <p>Structure based on 32 competitors: All competitors will be placed into Pool Play. Pool Play will consist of 8 pools of 4 players. In Pool Play all competitors in each Pool will play against all their opponents twice. From Pool Play, the top 2 players based on Pool Play results will advance to a 16 player Double Elimination bracket. The Double Elimination bracket will play out until a Winner is crowned.</p>

           <h4 class="graytext">Rules</h4>
           <p>The rules and settings that will be used for the FIFA 14 tournament at ACL Sydney can be found <a href="http://www.aclpro.com.au/procircuit/fifa-2014-rules">here</a>.</p>
         
           <h4 class="bluetext">ACL Sydney</h4>
           <p>ACL Sydney, hosted over July 19th - 20th at the Australian Technology Park, will host all the best gamers from all over Australia under one roof. To find out more about the event read the full announcement <a href="/events/2014/live/syd2014.html">here.</a></p>
           
         
        </div>
        </div>
        
    
<%= partial "footer" %>