---
title: ACL - League of Legends
---

    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

	<div class="articlecover small-12 columns" style="background-image: url(../images/cod/cod7.jpg);">
    </div>

	<div class="row">
    
    	<div class="small-12 columns article">

        <a href="/articles/aclcodleague.html">
        <div class="small-12 columns padding-0">
        <div class="codcolour archivebox">
        <p class="whitetext">
        <span style="font-size: 12px;">Call of Duty: Ghosts</span><br>
        <span style="font-size: 18px;">Introducing ACL Call of Duty: Ghosts League</span><br>
        <span style="font-size: 14px;"><i>August 4, 2014 by Beware</i></span>
        </p>
        </div>
        </div>
        </a>
            
        <a href="/events/2014/live/syd2014.html">
        <div class="small-12 columns padding-0">
        <div class="codcolour archivebox">
        <p class="whitetext">
        <span style="font-size: 12px;">Australian Cyber League</span><br>
        <span style="font-size: 18px;">ACL Sydney 2014 Announcement</span><br>
        <span style="font-size: 14px;"><i>June 20, 2014 by Beware</i></span>
        </p>
        </div>
        </div>
        </a>
        
        <a href="#">
        <div class="small-12 columns padding-0">
        <div class="codcolour archivebox">
        <p class="whitetext">
        <span style="font-size: 12px;">Call of Duty: Ghosts</span><br>
        <span style="font-size: 18px;">ACL 2000 Series 05-6</span><br>
        <span style="font-size: 14px;"><i>June 13, 2014 by Beware</i></span>
        </p>
        </div>
        </div>
        </a>
            
		</div>
    
    </div>
    
<%= partial "footer" %>