---
title: Australian Cyber League
---
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/acl/acl7.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="goldtext">Nvidia & Gigabyte Sponsor 2014 ACL Pro Circuit</h1>
        <p><i>July 10 2014 by Beware</i></p>
        <p>Today ACL is proud to announce a partnership with Nvidia & Gigabyte to further develop the growth and prestige of eSports within Australia in 2014. Nvidia & Gigabyte are showing their ongoing commitment to expanding competitive gaming, enabling ACL to raise the bar at our upcoming ACL Sydney event and beyond!
        </p>
        <p>
        ACL Sydney is now almost 1 week away and it is with great pleasure we can announce this partnership! Teaming up with PC components and peripherals powerhouses Nvidia and Gigabyte will help provide the Australian gaming community with prestigious and professional gaming events and prize support. Nvidia and Gigabyte are a leading manufacturer of PC components and peripherals and have been a healthy contributor to the gaming scene in recent years.
        </p>
        </div>
    
    </div>

    <div class="small-12 columns articlebox" style="background-image: url(/images/articles/banner_nVidia&Gigabyte.png); margin-bottom: 20px;">
    </div>
        
        <div class="row">
        <div class="small-12 columns articlebody padding-40">
        
          <h4>About Nvidia</h4>
          <p>NVIDIA's work in visual computing — the art and science of computer graphics — has led to thousands of patented inventions, breakthrough technologies, deep industry relationships and a globally recognized brand. For two decades, we've pioneered this uniquely powerful medium, which has transformed the PC from a tool for productivity into one for creativity and discovery.
          <br>
          <br>
          At the core of our company is the GPU — the engine of modern visual computing — which we invented in 1999. One of the most complex processors ever developed, our Kepler™ generation of GPUs boasts 7 billion transistors. The GPU has propelled computer graphics from a feature into an ever-expanding industry — encompassing video games, movie production, product design, medical diagnosis and scientific research, among many other categories. GPUs are now driving new fields like computer vision, image processing, machine learning and augmented reality.</p>
          
          <h4>About Gigabyte</h4>
          <p>Founded in 1986, as a small research and development team, GIGABYTE Technology Co. Ltd. has taken a position as one of the industry's top motherboard manufacturers. Lauded for high-performance motherboards and graphics cards, GIGABYTE holds numerous overclocking world records thanks to technical design prowess and innovative patented technology. 
          <br>
          <br>
          GIGABYTE further expanded its product portfolio to include laptops and desktop PCs, computer peripherals, datacenter solutions, mobile phones, as well as home entertainment devices to provide a full range of hardware for home and enterprise use.</p>
         
        </div>
        </div>
        
    
<%= partial "footer" %>