---
title: ACL - League of Legends
---

    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

	<div class="articlecover small-12 columns" style="background-image: url(http://i.imgur.com/B67hr8S.png?1?9743);">
    </div>

	<div class="row">
    
    	<div class="small-12 columns article padding-40">
        <h1>ACL Hoodies are back for 2014!</h1>
        <p class="smalltext"><i>May 19 2014 02:46 AM by Baldie</i></p>
        <p>After popular demand we are happy to announce the return of the ACL hoodie in 2014! This year's version will consist of the comfortable black hoodie you have come to know and love - except with the golden ACLPRO logo front and centre!</p>

<p>Not only that - but for the first time we are offering versions of the hoodie without a customised back for a cheaper rate. We know a lot of you love personaling your hoodie so we will continue to offer that - this year with golden text on the back.
</p>
            
<p class="text-center"><img src="http://i.imgur.com/Q2thnPx.png?1?4748" /></p>
<h3 class="text-center"><a href="#">Order here</a></h3>

<p>Orders will be limited to Australia and New Zealand. For any order requests outside of these countries, please email us info@aclpro.com.au. If you pickup your merchandise from one of our events, we will pay you back shipping!</p>
            
<h4>ACL Generic Hoody: $45 (Example)</h4>
<p>These can be purchased online or at ACL Brisbane and Sydney. They come with the golden ACL logo on the front with nothing on the back.</p>

<h4>ACL Customised Hoody: $65 (Example)</h4>
<p>These can be ordered online or at ACL Brisbane and Sydney. They come with the golden ACL logo on the front with a customised name on the back.</p>
            
<h4>Additional Information</h4>
<p>Sizing ranges from XS - 5XL (Extra small to five-extra large).<br>
    For Nicknames the limit is 10 characters (characters can be A-Z, a-z and 0-9).<br>
    We will have generic hoodies available for purchase at our events for a pay and receive.</p>
            
<h4>Delivery</h4>
<p>For generic hoodies they will be processed and ordered within 3 business days of the transaction. Please allow 1-2 weeks to receive your item. For custom hoodies they will be processed and delivered once 10 custom hoodies have been ordered. This may mean a small wait will occur before you receive your customised hoodie. Please allow 2-3 weeks to receive your item. If for some reason there is a longer than expected wait we will notify you about your options.</p>
            
		</div>
    
    </div>
    
<%= partial= "footer" %>