---
title: ACL - League of Legends
---

    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

	<div class="articlecover small-12 columns" style="background-image: url(/images/lol/splash10.jpg);">
    </div>

	<div class="row">
    
    	<div class="small-12 columns article">

        <a href="/events/2014/live/syd2014.html">
        <div class="small-12 columns padding-0">
        <div class="lolcolour archivebox">
        <p class="whitetext">
        <span style="font-size: 12px;">Australian Cyber League</span><br>
        <span style="font-size: 18px;">ACL Sydney 2014 Announcement</span><br>
        <span style="font-size: 14px;"><i>June 20, 2014 by Beware</i></span>
        </p>
        </div>
        </div>
        </a>
            
        <a href="/archive/2014/acl-league-of-legends-online-round-3.html">
        <div class="small-12 columns padding-0">
        <div class="lolcolour archivebox">
        <p class="whitetext">
        <span style="font-size: 12px;">League of Legends</span><br>
        <span style="font-size: 18px;">League of Legends Online Round 3 - Winter Regional Qualifier</span><br>
        <span style="font-size: 14px;"><i>June 06, 2014 by Midnite</i></span>
        </p>
        </div>
        </div>
        </a>
        
        <a href="/archive/2014/acl-league-of-legends-online-round-2.html">
        <div class="small-12 columns padding-0">
        <div class="lolcolour archivebox">
        <p class="whitetext">
        <span style="font-size: 12px;">League of Legends</span><br>
        <span style="font-size: 18px;">League of Legends Online Round 2 - Autumn Regional Qualifier</span><br>
        <span style="font-size: 14px;"><i>April 14, 2014 by Midnite</i></span>
        </p>
        </div>
        </div>
        </a>
            
		</div>
    
    </div>
    
<%= partial "footer" %>