<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/syd2014/sydbg.png);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="bluetext">Australian Cyber League is returning in July in Sydney with the largest event it has ever held.</h1>
        <p class="smalltext"><i>June 20 2014 by Beware</i></p>
        <p>Back in January we released preliminary details for the 2014 ACL Pro Circuit, which revealed our initial plans for ACL Sydney. As we announced back then, ACL Sydney will be held at the Australian Technology Park - the same venue that housed the 2012 Blizzard WCS Australia/Oceania Finals! Come join us for the largest multi-title eSports event that Australia has ever seen where ACL truly brings gaming to the next level.</p>
        </div>
    
    </div>
    
        <div class="row">
        
        <div class="small-12 columns articlebody padding-40">
    
    <div class="small-12 columns articlebox" style="background-image: url(/images/syd2014/venue.jpg); margin-bottom: 20px;">
        <div class="text-center whitetext" style="margin-top: 60px;">
           <h5 class="whitetext">Venue</h5>
           <p>__________</p>
           <ul class="no-bullet">
               <li>Australian Technology Park</li>
               <li>2, Locomotive St</li>
               <li>Eveleigh</li>
               <li>NSW, 2015</li>
           </ul>
       </div>
    </div>
            
           <p>Check out some more photos of the venue <a href="https://www.facebook.com/media/set/?set=a.10151180833938092.507499.240252393091&type=3">here</a></p>
           
        </div>
        </div>
        
           <img src="/images/syd2014/sixtitles.jpg" />
        
        <div class="row">
        <div class="small-12 columns articlebody padding-40">
        
           <h4 class="bluetext">Titles</h4>
           <p>We are pulling out all the stops for our largest ACL event to date! As such, ACL Sydney will host 3 additional titles alongside our Pro Circuit regulars, which means we will have 6 total game titles available in July!</p>
           <ul class="no-bullet">
               <li>League of Legends - 5v5 - PC</li>
               <li>Starcraft 2: Heart of the Swarm - 1v1 - PC</li>
               <li>Call of Duty: Ghosts - 4v4 - Xbox One</li>
               <li>Hearthstone: Heroes of Warcraft - 1v1 - PC</li>
               <li>FIFA 14 - 1v1 - Xbox One</li>
               <li>Super Smash Bros Melee & Brawl & Project M - Gamecube & Wii</li>
          </ul>
          
          <h4 class="bluetext">Registration</h4>
          <ul class="no-bullet">
            <li>Register for Starcraft 2: Heart of the Swarm <a href="http://form.jotformpro.com/form/41249259329966?">here</a></li>
            <li>Register for Call of Duty: Ghosts <a href="http://form.jotformpro.com/form/41752290270955?">here</a></li>
            <li>Register and pay for FIFA 14 <a href="http://form.jotformpro.com/form/41801165888966?">here</a></li>
            <li>Register for Super Smash Bros <a href="http://form.jotformpro.com/form/41751804437960?">here</a></li>
         </ul>
         <p>League of Legends is an invite only event, as such there is no open registration. <br>
            There is no registration for Hearthstone, just show up and play!</p>
            
           <h4 class="bluetext">Dates & Schedule</h4>
           <ul class="no-bullet">
               <li>Saturday, May 31st - 9:00AM to 7:00PM</li>
               <li>Sunday, June 1st - 12:00AM to 6:00PM</li>
               <li>Tournament Schedule to follow</li>
           </ul>
           
           <h4 class="bluetext">Spectating</h4>
           <p>Come down and enjoy all the action, spectating for this event will be free across the whole event!</p>
           
           <h4 class="bluetext">Prizes</h4>
           <h6 class="bluetext">Starcraft 2: Heart of the Swarm - $7,500</h6>
           <ol>
               <li>$3,000</li>
               <li>$2,000</li>
               <li>$1,000</li>
               <li>$500</li>
               <li>$300</li>
               <li>$300</li>
               <li>$200</li>
               <li>$200</li>
           </ol>
           
           <h6 class="bluetext">Call of Duty: Ghosts - $3,500<span class="redtext">*</span></h6>
           <ol>
           <li>$2,000</li>
           <li>$1,000</li>
           <li>$500</li>
           </ol>
           <p><span class="redtext">*</span>Maximum prize pool based on 20 teams in attendance. If under 20 teams, the prize pool will decrease.</p>
           
        </div>
        </div>
       
       <div class="small-12 columns articlebox height-200" style="background-image: url(/images/syd2014/sydbg.png); margin-bottom: 20px;">
        </div>
        
   <div class="row">
   
       <div class="small-12 columns articlebody padding-40">
           <h4 class="bluetext">Transportation</h4>
           <p>The Australian Technology Park is located approximately 5km from Sydney's central business district, 8km from Sydney Airport and within 200m of Sydney’s rail network. Whether you’re travelling by car, rail or bus, follow the directions found <a href="http://www.atp.com.au/Our-Location/How-to-find-us/How-to-find-us">here</a></p>
           
           <h4 class="bluetext">Flights</h4>
           <p>For the cheapest possible flights we recommend you search through <a href="http://www.atp.com.au/Our-Location/How-to-find-us/How-to-find-us">Webjet</a> on your required dates, and then use the specific airline company to book your flights.</p>
        </div>
    
    </div>
    
<%= partial "footer" %>