---
title: Australian Cyber League
---
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/acl/acl1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="goldtext">ACL Website Update</h1>
        <p><i>July 09 2014 by Midnite</i></p>
        <p>The team has been working non-stop behind the scenes to bring you a fresh and updated website. We've revisited every aspect of the old site bringing forward numerous ideas and prototypes before settling on this design. We've had some features we've been super excited release for some time and we think you'll really like what we've done.</p>
        </div>
    
    </div>
    
        <!--<div class="row">
        
        <div class="small-12 columns articlebody padding-40">
    
    <div class="small-12 columns articlecover" style="background-image: url(/images/website/webhome.jpg); margin-bottom: 20px;">
    </div>
           
        </div>
        </div>-->
        
        <div class="row">
        <div class="small-12 columns articlebody padding-40">
        
           <h4 class="goldtext">Home</h4>
           <p>We've updated the main nav on the home page to include key content pieces and an intuitive menu system. By trimming some of the fat from the previous site its now even easier to find what you're looking for.</p>

          <img src="/images/website/webhometop2.jpg" />
          <p></p>
          
          <h4 class="goldtext">Mobile Friendly!</h4>
          <p>We've finally caught up with the times and have a fully responsive, mobile friendly website. You'll no longer have a clunky, cumbersome site to deal with, the new ACL is a dream on mobile devices!</p>
          
          <img src="/images/website/mobile2.png" align="right" width="400px" hspace="10" />

            
           <h4 class="goldtext">Updated Results Pages</h4>
           <p>
             It's now easier than ever to check out the results from all<span class="redtext">*</span> ACL events. Simply head on over to our <a href="/resultsportal.html">results</a> page and select your title of choice.
             <br>You'll be presented with all the Online Rounds and Live events we've run for that title in the selected year, including quick access to the announcement, registered teams, bracket and final placing.
             <br>
             <br><span class="redtext">*</span>2014 results have been added, we'll slowly migrate past years' results over the coming weeks/months.
           </p>

           <h4 class="goldtext">Improved Landing Pages</h4>
           <p>We've improved the layout and structure of our event/tournament landing pages. They're now more visual, grouped by each title and sorted from the most recent event to oldest within a given year. You'll be able to find all the information you could possibly need about an upcoming event/tournament from its landing page, from the announcement to registered players/teams all the way through to groups/brackets. Once the event/tournament is over we'll put a link to the results page making this a one stop shop for all past/present/future event info.
           </p>
           
           <h4 class="goldtext">Performance Improvements</h4>
           <p>The old site was clunky and often slow to load. We've trimmed the fat and decluttered the entire site improving performance to give you what you want faster.</p>
           
           <h4 class="goldtext">Dedicated Sections</h4>
          <p>After hours of analysing web analytics and researching we've uncovered the obvious, gamers want to see content for their game above all else. We've taken the time to create dedicated portals for each of our key titles; Call of Duty, League of Legends and StarCraft II. Its now even easier to keep up to date with the latest tournaments, check results, check ACL Pro Points and keep up to date with ACL and your game of choice.
          </p>

          <h4 class="goldtext">Gallery</h4>
           <p>aclpro.com.au now has a gallery, or at least a hub for all media relating to our events. We'll have links to facebook albums, youtube playlists and any othe relevant media so you don't have to search the depths of the internet to find that one picture you saw long ago.</p>
           
          <h4 class="goldtext">Future Improvements</h4>
           <p>We're launching the site today to bring a much needed refresh to the ACL brand and to improve your online experience with ACL. There are a number of features that we couldn't complete in time for launch and we're going to be rolling these out over the coming weeks/months.
           <br>
           <br>
           Our League of Legends and StarCraft II competitors will soon receive a far more streamlined and easy experience for registering and competing in our tournaments. We're implementing a quick and easy sign up process alongside an improved tournament system. League of Legends players will soon have all their match results recorded automatically with post game stats available after your match is completed.
           <br>
           <br>
           We've also got a new and improved store in the works. You'll soon be able to purchase ACL merch with ease.
           </p>

          <h4 class="goldtext">Feedback</h4>
           <p>We want to hear any good (or bad) feedback you have about the new aclpro.com.au. If you like something, let us know. If you don't like something, let us know. If you think there is something we can improve on, let us know.
           <br>
           Any and all feedback you have to offer is invaluable to us and will give us an opportunity to improve further.
           <br>
           <br>
           We hope you all like the changes we've made.
           </p>
         
        </div>
        </div>
        
    
<%= partial "footer" %>