---
title: ACL - StarCraft II Online Round 2 - Registered Players
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/sc2/sc2_bg.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 2 - Registered Players</h1>
        <p>ACL StarCraft II Online Round 2 acted as the second of two online qualifiers for ACL's first 2014 LAN event, ACL Brisbane. It also provided seeding points for ACL's second 2014 LAN event, ACL Sydney.
        <br>
        <br>
        <br></p>
            
        <ul class="button-group">
        <li><a href="/archive/2014/acl-starcraft-ii-online-round-2.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/sc2/or2/registered_players.html" class="button secondary tiny">Registered Players</a></li>
        <li><a href="/results/2014/sc2/or2.html" class="button tiny">Results</a></li>        
        <li><a href="http://2014sc2.challonge.com/ACLOR2" target="_blank" class="button tiny">Bracket</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 medium-offset-4 medium-4 columns">  

<table>
  <tr >
    <td>Petrify</td>
    <td>PiG</td>
    <td>Probe</td>   
  </tr>
  <tr >
    <td>Kez</td>
    <td>Crimson</td>
    <td>Soundwave</td>   
  </tr>
  <tr >
    <td>Pezz</td>
    <td>Stormz</td>
    <td>South</td>   
  </tr>
  <tr >
    <td>Law</td>
    <td>Schnitzel</td>
    <td>Slayer</td>   
  </tr>
  <tr >
    <td>Hydro</td>
    <td>Phoenix</td>
    <td>ARze</td>   
  </tr>
  <tr >
    <td>Snexwang</td>
    <td>Xormentor</td>
    <td>Cuddles</td>   
  </tr>
  <tr >
    <td>Zenabi</td>
    <td>IronLung</td>
    <td>KingKong</td>   
  </tr>
  <tr >
    <td>HuT</td>
    <td>breadfan</td>
    <td>MightyKiwi</td>   
  </tr>
  <tr >
    <td>PeaceKeeper</td>
    <td>NXZ</td>
    <td>SouL</td>   
  </tr>
  <tr >
    <td>JaYbOc</td>
    <td>Dox</td>
    <td>Santi</td>   
  </tr>
  <tr >
    <td>Arrival</td>
    <td>DemiLove</td>
    <td>rezyn</td>   
  </tr>
  <tr >
    <td>FSBlueS</td>
    <td>Vivid</td>
    <td>RageHunter</td>   
  </tr>
  <tr >
    <td>Peppy</td>
    <td>FLuX</td>
    <td>Aiya</td>   
  </tr>
  <tr >
    <td>Alopex</td>
    <td>Tezu</td>
    <td>NaMeK</td>   
  </tr>
  <tr >
    <td>Osiris</td>
    <td>Eros</td>
    <td>LXE</td>   
  </tr>
  <tr >
    <td>Blah</td>
    <td>ColdKeys</td>
    <td>Kite</td>   
  </tr>
  <tr >
    <td>Wally</td>
    <td></td>
    <td></td>   
  </tr>

</table>
</div>
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
