<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Call of Duty: Ghosts League</h1>
        <h5>Conduct Rules</h5>
        <p>We’ve hinted at it before, and now we are happy to announce, ACL’s very first online league for Call of Duty: Ghosts. What a better way to say goodbye to Ghosts and prepare for the upcoming release of Advance Warfare than to pit Australia & New Zealand’s best teams against each other, covering the action live from our new broadcast office in Sydney on mlg.tv.</p>
            
        <ul class="button-group">
        <li><a href="/articles/aclcodleague.html" class="button secondary tiny">Announcement</a></li>
        <!--<li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>-->
        <li><a href="/rules/codleague/conduct_rules.html" class="button secondary tiny">Conduct Rules</a></li>
        <li><a href="/rules/codleague/format.html" class="button secondary tiny">Format</a></li>
        <li><a href="/rules/codleague/rules.html" class="button secondary tiny">Rules</a></li>
        <li><a href="/rules/codleague/gametypes.html" class="button tiny">Gametypes</a></li>
        <li><a href="/events/2014/online/cod/league/schedule.html" class="button tiny">Schedule</a>
        <li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button tiny">Registered Teams</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<h2 class="whitetext">Foul Rules</h2>
<ul class="bullet whitetext">
<li>Players may not use vulgar language in excess.  Excessive use of vulgar language is defined as consistent use of vulgar language that is audible to Spectators.</li>
<li>Players may not chat about companies, sponsors, or products.</li>
</ul>
<br> 

<h2 class="whitetext">Technical Foul Rules</h2>
<ul class="bullet whitetext">
<li>Players may not verbally abuse a Tournament Official. Verbal abuse of a Tournament Official includes, but is not limited to, the use of vulgar language directed at a Tournament Official, the use of insulting words or gestures directed at a Tournament Official, and excessive argument with a Tournament Official that results in the delay of a Match.</li>
<li>Players may not direct vulgar language at another Player or a Spectator.</li>
<li>Players may not taunt or celebrate in excess.  Excessive taunting/celebration includes, but is not limited to, post-Match taunting or celebration directed at or referencing an opponent(s).  Post-Match interactions between opponents must be limited to acts of sportsmanship.</li>
</ul>
<br>
 
<h2 class="whitetext">Additional Rules</h2>
<ul class="bullet whitetext">
<li>Players may not intentionally Forfeit a Game or conspire to manipulate Rankings or Brackets.</li>
<li>Players are expected to treat all members of ACL Staff, and Sponsors, with respect.</li>
</ul>
<br>
 
<h2 class="whitetext">Penalties</h2>
<ul class="bullet whitetext">
<li>Players found to have broken a Foul Rule will be issued a Foul.   For every two Fouls that a Player receives, they will be issued a Technical Foul.</li>
<li>Players found to have broken a Technical Foul Rule will be issued a Technical Foul.  If a Player receives a Technical Foul, the opposing Team will be allowed to switch the hosting Team for 1 upcoming Game in the Match.</li>  
<li>Players found to have broken one of the Additional Rules may Forfeit their current Match and all future Matches in the Event (Disqualified).  Their Team may also be forced to continue shorthanded.</li>
<li>Players found to have broken any Pro Circuit Conduct Rules may be subject to post-Event penalties such as a Temporary Ban from ACL tournaments, Forfeit of a Prize, and/or a Ban from a future Event(s).</li>
<li>Tournament Officials may issue a Foul, Technical Foul, or Disqualify a Player/Team for acts of misconduct not listed in the Conduct Rules.</li>
</ul>
<br>


    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
