<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Call of Duty: Ghosts League</h1>
        <h5>Format</h5>
        <p>We’ve hinted at it before, and now we are happy to announce, ACL’s very first online league for Call of Duty: Ghosts. What a better way to say goodbye to Ghosts and prepare for the upcoming release of Advance Warfare than to pit Australia & New Zealand’s best teams against each other, covering the action live from our new broadcast office in Sydney on mlg.tv.</p>
            
        <ul class="button-group">
        <li><a href="/articles/aclcodleague.html" class="button secondary tiny">Announcement</a></li>
        <!--<li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>-->
        <li><a href="/rules/codleague/conduct_rules.html" class="button secondary tiny">Conduct Rules</a></li>
        <li><a href="/rules/codleague/format.html" class="button secondary tiny">Format</a></li>
        <li><a href="/rules/codleague/rules.html" class="button secondary tiny">Rules</a></li>
        <li><a href="/rules/codleague/gametypes.html" class="button tiny">Gametypes</a></li>
        <li><a href="/events/2014/online/cod/league/schedule.html" class="button tiny">Schedule</a>
        <li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button tiny">Registered Teams</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<h2 class="whitetext">Regular Season & Playoffs Format</h2>
<ul class="bullet whitetext">
<li>The Event will be separated into a Regular Season and a Single Elimination Playoff Bracket.</li>
<li>The Event will support 8 Teams in the Regular Season.</li>
<li>Each Team will be scheduled to play each other Team two times during the Regular Season for a total of 14 Matches per Team.</li>
<li>Teams will be set to act as the Home Team for 7 Regular Season Matches and as the Away Team for 7 Regular Season Matches.  Teams will be set to act as the Home Team once against each other Team and as the Away Team once against each other Team.</li>
<li>Each Team will accumulate a record of Matches Won and Matches Lost (Standings) at the end of the Regular Season.</li>
<li>Teams finishing 1st-4th in the Regular Season Standings will qualify for the Single Elimination Playoff Bracket.</li>
<li>All Playoff Teams will start in Round 1 of the Playoff bracket. Losing a match will result in elimination from the Event. There will be placement match for 3rd/4th place.</li>
<li>Teams will be seeded for the Playoffs based on the final Regular Season Standings.</li>
</ul>
<br> 

<h2 class="whitetext">Regular Season Standings Tiebreakers</h2>
<ul class="bullet whitetext">
<li>Regular Season Standings ties will be broken using Head to Head Match Winning Percentage (Matches Won vs. Tied Teams / Matches Played vs. Tied Teams).</li>
<li>If Head to Head Match Winning Percentage canít break a tie, Head to Head Game Winning Percentage (Games Won vs. Tied Teams / Games Played vs. Tied Teams) will be used to break the tie.</li>
<li>If Head to Head Game Winning Percentage canít break a tie, Overall Game Winning Percentage (Games Won / Games Played) will be used to break the tie.</li>
<li>If there is a tie involving more than two Teams and a Tiebreaker resolves the tie for a Team(s), but leaves at least two Teams tied, the tie(s) that remains will be broken by starting over with Head to Head Match Winning Percentage. </li>
<li>The higher number will win all tiebreakers.</li>
<li>If the aforementioned Tiebreakers canít break a tie involving only Teams that have qualified for the Playoffs, the tie will be broken with a tiebreaker match between the tied teams. </li>
</ul>
<br>
 
<h2 class="whitetext">Match Format</h2>
<ul class="bullet whitetext">
<li>All Matches will be Best of 5 Games.</li>
<li>All Matches will use the Domination Game Mode for Games 1 & 4, the Search & Destroy Game Mode for Games 2 & 5, and the Blitz Game Mode for Game 3.</li>
<li>All Matches will use the Veto system.</li>
</ul>
<br>
 
<h2 class="whitetext">Registration</h2>
<ul class="bullet whitetext">
<li>There is an Entry Fee of $100 per team for participation in the Event.</li>
<li>Registration is open to all within Australia & New Zealand. Of the registered teams, the top 8 teams with the most ANZ MLG Pro Points will be selected to participate in the Event.</li>
<li>Teams must submit their Roster of 4 Starting Players and 2 Substitute Players to d.cauci@aclpro.com.au  by 11.59 PM AEST on Monday, August 11th. </li>
<li>Roster changes will not be allowed during the Regular Season.</li>
<li>Players may not compete from outside Australia & New Zealand.</li>
<li>Playoff Teams must submit confirmation of their roster to d.cauci@aclpro.com.au   by 11.59 PM AEST on Friday, September 20th.  Playoff Rosters must contain the same roster as those submitted for the Regular Season.</li>
<li>ACL shall select and approve all teams to participate in the Event.  ACL shall approve, in each instance, all team submissions and all team names, team ownership, team management and team rosters.  All selections shall be final and ACL shall have the right to revoke ACLís selection and approval of any team or individual player for any reason.  Any team ownership, management (team or individual player), team roster or team name change shall be subject to ACLís approval in each instance.  The failure to comply with any of ACLís rules, policies and/or procedures, including, without limitation, obtaining ACLís approval with respect to any change to a teamís ownership, management (team or individual player), team name or team roster shall be grounds for immediate disqualification from the league and/or any tournament or other event.</li>
<li>All Players must use email d.cauci@aclpro.com.au with the filled out registration details in order to complete their Registration, including accepting the 2014 ACL CoD: Ghosts League Official Rules.</li>
<li>All emails submitted to d.cauci@aclpro.com.au must be submitted from the captain of the team, always from the same email address, with a clear subject line.</li>
</ul>
<br>





    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
