<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Call of Duty: Ghosts League</h1>
        <h5>Gametypes</h5>
        <p>We’ve hinted at it before, and now we are happy to announce, ACL’s very first online league for Call of Duty: Ghosts. What a better way to say goodbye to Ghosts and prepare for the upcoming release of Advance Warfare than to pit Australia & New Zealand’s best teams against each other, covering the action live from our new broadcast office in Sydney on mlg.tv.</p>
            
        <ul class="button-group">
        <li><a href="/articles/aclcodleague.html" class="button secondary tiny">Announcement</a></li>
        <!--<li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>-->
        <li><a href="/rules/codleague/conduct_rules.html" class="button secondary tiny">Conduct Rules</a></li>
        <li><a href="/rules/codleague/format.html" class="button secondary tiny">Format</a></li>
        <li><a href="/rules/codleague/rules.html" class="button secondary tiny">Rules</a></li>
        <li><a href="/rules/codleague/gametypes.html" class="button tiny">Gametypes</a></li>
        <li><a href="/events/2014/online/cod/league/schedule.html" class="button tiny">Schedule</a>
        <li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button tiny">Registered Teams</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<h2 class="whitetext">Gametypes</h2>
<ul class="no-bullet whitetext">
  
<li>Blitz - Freight</li>
<li>Blitz - Octane</li>
<li>Blitz - Warhawk</li>
<li>Domination - Freight</li>
<li>Domination - Octane</li>
<li>Domination - Sovereign</li>
<li>Domination - Strikezone</li>
<li>Search and Destroy - Freight</li>
<li>Search and Destroy - Octane</li>
<li>Search and Destroy - Sovereign</li>
<li>Search and Destroy - Warhawk</li>
</ul>
<br>
<h2 class="whitetext">Settings</h2>
<br>
<h4 class="whitetext">Restricted Primary Weapons</h4>
<ul class="no-bullet whitetext">
 
<li>MSBS Assault Rifle</li>
<li>Maverick Assault Rifle</li>
<li>Ameli Light Machine Gun</li>
<li>M27-IAR Light Machine Gun</li>
<li>LSAT Light Machine Gun</li>
<li>All Marksman Rifles</li>
<li>Maverick Sniper Rifle</li>
<li>Bulldog Shotgun</li>
<li>Riot Shield</li>
<li>Gold Knife</li>
</ul>
<br>

<h4 class="whitetext">Restricted Secondary Weapons</h4>
<ul class="no-bullet whitetext">
 
<li>All Launchers</li>
<li>Gold PDW</li>
</ul>
<br>

<h4 class="whitetext">Restricted Attachments</h4>
<ul class="no-bullet whitetext">
 
<li>Tracker Sight</li>
<li>Grenade Launcher</li>
<li>Semi-Automatic</li>
<li>Burst Fire</li>
<li>Rapid Fire</li>
<li>Akimbo
</ul>
<br>
 
<h4 class="whitetext">Restricted Lethal</h4>
<ul class="no-bullet whitetext">
 
<li>I.E.D.</li>
<li>C4</li>
<li>Canister Bomb</li>
</ul>
<br>

<h4 class="whitetext">Restricted Tacticals</h4>
<ul class="no-bullet whitetext">
 
<li>9-Bang</li>
<li>Motion Sensor</li>
<li>Thermobaric</li>
</ul>
<br>

<h4 class="whitetext">Restricted Perks</h4>
<ul class="no-bullet whitetext">
 
<li>Stalker</li>
<li>Recon</li>
<li>Amplify</li>
<li>Extra Tactical</li>
<li>Extra Lethal</li>
<li>Danger Close</li>
<li>Gambler</li>
<li>Ping</li>
<li>Deadeye</li>
</ul>
<br>
 
<h4 class="whitetext">Restricted Killstreaks</h4>
<ul class="no-bullet whitetext">
 
<li>All Assault</li>
<li>All Support</li>
<li>Specialist (All Restricted Perks, See Above)</li>
</ul>
<br>
 
<h4 class="whitetext">Restricted Special Uniforms</h4>
<ul class="no-bullet whitetext">
 </li>
<li>Ghillie Suit</li>
<li>Extinction Medic with Gender = Female</li>
<li>Extinction Engineer with Gender = Female</li>
<li>Extinction Tank with Gender = Female</li>
<li>Extinction Specialist with Gender = Female</li>
</ul>
<br>

<h4 class="whitetext">Blitz Settings</h4>
<ul class="no-bullet whitetext">
 
<li>Time Limit = 5 Minutes</li>
<li>Score Limit = Unlimited</li>
<li>Number of Lives = Unlimited</li>
<li>Respawn Delay = 5 Seconds</li>
</ul>
<br>
 
<h4 class="whitetext">Domination Settings</h4>
<ul class="no-bullet whitetext">
 
<li>Time Limit = 5 Minutes</li>
<li>Score Limit = Unlimited</li>
<li>Number of Lives = Unlimited</li>
<li>Respawn Delay = 5 Seconds</li>
</ul>
<br>
 
<h4 class="whitetext">Search and Destroy Settings</h4>
<ul class="no-bullet whitetext">
 
<li>Round Length = 1.5 Minutes</li>
<li>Bomb Timer = 45 Seconds</li>
<li>Plant Time = 5 Seconds</li>
<li>Defuse Time = 7.5 Seconds</li>
<li>Multi Bomb = Disabled</li>
<li>Score Limit = 6 Points</li>
<li>Round Switch = Every Round</li>
<li>Number of Lives = 1 Life</li>
<li>Respawn Delay = None</li>
</ul>
<br>
 
<h4 class="whitetext">Player Options - All Game Modes</h4> 
<ul class="no-bullet whitetext">
 
<li>Max Health = Normal</li>
<li>Health Regeneration = Normal</li>
<li>Create Default Loadouts = None</li>
</ul>
<br> 

<h4 class="whitetext">Team Options - All Game Modes</h4>
<ul class="no-bullet whitetext">
 
<li>Spectating = Team Only</li>
<li>KillCam = Enabled</li>
<li>Radar Always On = No</li>
<li>Wave Respawn Delay = None</li>
<li>Force Respawn = Enabled</li>
<li>Friendly Fire = Enabled</li>
</ul>
<br>
 
<h4 class="whitetext">Gameplay Options - All Game Modes</h4>
<ul class="no-bullet whitetext">
 
<li>Perks = Enabled</li>
<li>Hardcore Mode = Disabled</li>
<li>Headshots Only = Disabled</li>
<li>Killstreaks = Enabled</li>
<li>Field Orders = Disabled</li>
<li>Loadout Restrictions = Enabled</li>
<li>Custom Loadout Restrictions = None</li>
</ul>
<br>

 
</div>    
</div>
</div>
    
<%= partial "footer" %>
    
</body>
</html>
