<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Call of Duty: Ghosts League</h1>
        <h5>Rules</h5>
        <p>We’ve hinted at it before, and now we are happy to announce, ACL’s very first online league for Call of Duty: Ghosts. What a better way to say goodbye to Ghosts and prepare for the upcoming release of Advance Warfare than to pit Australia & New Zealand’s best teams against each other, covering the action live from our new broadcast office in Sydney on mlg.tv.</p>
            
        <ul class="button-group">
        <li><a href="/articles/aclcodleague.html" class="button secondary tiny">Announcement</a></li>
        <!--<li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>-->
        <li><a href="/rules/codleague/conduct_rules.html" class="button secondary tiny">Conduct Rules</a></li>
        <li><a href="/rules/codleague/format.html" class="button secondary tiny">Format</a></li>
        <li><a href="/rules/codleague/rules.html" class="button secondary tiny">Rules</a></li>
        <li><a href="/rules/codleague/gametypes.html" class="button tiny">Gametypes</a></li>
        <li><a href="/events/2014/online/cod/league/schedule.html" class="button tiny">Schedule</a>
        <li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button tiny">Registered Teams</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">
 
<h2 class="whitetext">General Rules</h2>
<ul class="bullet whitetext">
<li>Any sign of cheating or gambling may result in a Forfeit of the Game/Match and/or disqualification from the League.</li>
<li>Players/Teams that are disqualified prior to the start of a Game will not be allowed to play in the Game.  Players/Teams that are disqualified during a Game must quit out of the Game.  Players/Teams that are disqualified wonít receive any benefits (Prize, etc.) for their ranking in the Event.  </li>
<li>Teams may not play a Match ahead of its scheduled start time, or delay the start of a Match beyond its scheduled start time, without the approval of a Tournament Official.</li>
<li>Teams will be set to act as the Home Team for 7 Regular Season Matches and as the Away Team for 7 Regular Season Matches.  Teams will be set to act as the Home Team once against each other Team and as the Away Team once against each other Team.</li>
<li>Teams must have at least three Players present in order to start a Game.  A Team will Forfeit the Match if they donít have at least three Players present by 15 minutes after a Matchís default start time (Grace Period).  Teams that played a previous Game(s) in a Match will forfeit the Match if they donít have at least three Players present by ten minutes after the conclusion of the previous Game (Grace Period).  Teams with three Players present will be forced to start a Game at the end of a Grace Period.  Bots are not permitted in any Game.  If Teams that are scheduled to play each other both forfeit a Game or Match, the Home Team will be awarded the Game/Match win.</li>
<li>Teams may delay a Match between Games for up to ten minutes.  Teams can request that a Tournament Official enforce this ten minute time limit.  After ten minutes of a Tournament Official enforced delay, if the delaying Team is not present, they will Forfeit the Match.</li>
<li>Individuals may not use another Playerís XBL Account in a Game.  Individuals may not allow another Player to use their XBL Account in a Game. Players who break this rule may be disqualified.</li>
<li>In order to dispute Game results, Players/Teams must notify a Tournament Official that they would like to Protest the Game before a new Game has begun.  In order to dispute Match results, Players/Teams must notify a Tournament Official that they would like to Protest the Match no longer than 15 minutes after the end of the Match.</li>
<li>Teams may request that they be allowed to concede victory of a Game.  
<li>Coaches are not permitted at any stage of the Event.  Teams found using a Coach may Forfeit a Game, Forfeit a Match, or be Disqualified. This includes having extra players in the lobby of a tournament match.</li>
<li>Language used in Team communication will be governed by the Conduct Rules.</li>
<li>ACL reserves the right to broadcast any Match.  If ACL chooses to broadcast a Match, ACL Staff members must be allowed into each Game.  If ACL Staff members are unable to connect to a Host, all other hosting options may be explored until a suitable Host is found.</li>
</ul>
<br> 

<h2 class="whitetext">Gameplay Rules</h2>
<ul class="bullet whitetext">
<li>The #CODeSports Rules must be enabled for all Games.</li>
<li>Players must be signed in to Xbox Live for all Regular Season Games.  If this rule is violated, invalid Games will be replayed.</li>
<li>All Matches must be played using the Xbox One console.</li>
<li>After entering a Custom Games Lobby, Players must set their XBL Status to ìAppear Offlineî.</li>
<li>No warm-up or practice Games are permitted once the Matchís first Game has begun.</li>
<li>Teams may substitute Players between Matches (series), but may not do so during a Match (series).</li>
<li>If a Game ends in a tie, it must be replayed at the end of the Match (series).  When a Game is replayed, the Host is not changed.</li>
<li>If a Round/Game is started without the approval of a Tournament Official, it will be restarted from the beginning.</li>
<li>Intentionally blocking a Blitz Objective Zone while one or more stories above or below the Goal will result in a Forfeit of the Game.</li>
<li>No leaving the normal boundaries of a Map.</li>
<li>No opening the mid-Map Care Package on Blitz - Octane.</li>
<li>Teams may not incorrectly end a Game, without a Tournament Officialís permission.</li>
<li>Breaking a Gameplay Rule #9-13, or using a Restricted Primary Weapon, Secondary Weapon, Attachment, Lethal, Tactical, Perk, Killstreak, or Uniform will result in a Forfeit of the Game.</li>
<li>Players who disconnect from a Game, before it has ended, will be allowed to rejoin the Game, but a Team will Forfeit the Game if all of their Players disconnect without a Tournament Officialís permission.</li>
<li>If an ACL Staff member loses their connection to the Game when the Game launches, the Game must be restarted from the beginning.</li>
<li>If an ACL Staff member loses their connection to the Game after the Game launches, but both Teams remain in the Game, the Game must continue.</li>
<li>Before the start of a Game, Players should ensure that they donít have any outstanding invitations to the Custom Game. </li>
<li>If an outside Player joins a Round while it is in progress and stays for more than 10 seconds, picks up or uses a weapon, picks up or defuses the bomb, or is injured, the effected Round must be restarted.</li>
<li>If an outside Player joins a Round while it is in progress, stays for less than 10 seconds, doesnít pick up or use a weapon, doesnít pick up or defuse the bomb, and isnít injured, the Round must continue. </li>
<li>For Gameplay Rules #18-19, the Team responsible for inviting an outside Player may be penalized with a Game or Match Forfeit.</li>
<li>Teams may request that they be allowed to give up their hosting privileges for one or more Games.  The opposing Team must then accept or reject the opportunity to Host that Game(s).</li>
<li>The Team that doesnít Host a Game must choose to play as Ghosts or Federation for that Game.</li>
</ul>
<br>
 
<h2 class="whitetext">Substitution Rules</h2>
<ul class="bullet whitetext">
<li>All teams are allowed to register two substitute players to be used throughout the Regular Season.</li>
<li>Teams will give their substitute players to an ACL Admin when they are notified of their acceptance into the ACL Call of Duty: Ghosts League.</li>
<li>Only one substitute player can be used by a team at a time during Regular Season matches.</li>
<li>Substitute players can only play for one team throughout the Regular Season.</li>
<li>No substitute players can be used during the Playoff bracket. </li>
</ul>
<br>
 
<h2 class="whitetext">Game Types & Hosts - Regular Season</h2>
<ul class="bullet whitetext">
<li> The Veto System will be used for all Matches.
<li> The Home Team will Host Games 1, 3 & 5 and the Away Team will Host Games 2 & 4.</li>
</ul>
<br>

<h2 class="whitetext">Hosting & Custom Games Creation</h2>
<ul class="bullet whitetext">
<li>The Hosting Player should create the Custom Games Lobby.  As the hosting Team changes over the course of a Match, the new hosting Player should leave the Custom Games Lobby and create a new one.</li>
<li>Custom Game Creators who start a Game with the wrong Settings may Forfeit the Game, determined by a Tournament Official.  Players/Teams who quit out of a Game and claim that the wrong Settings were used will Forfeit the Game if they are unable to provide proof to back up their claim.</li>
<li>Teams should play a Host Test Game, for roughly 30 seconds, before a new Host is going to be used, in order to determine if the Host is reasonable.  Host Test Games should be played using a Map that the Teams are not scheduled to play against each other so that Players arenít confused about whether the Match has officially begun/resumed.</li>
<li> All Players must agree that the Host is reasonable before the start of a Game.  If a reasonable Host canít be found, the hosting Teamís best Host must be used.</li>
<li>If, after the start of a Game, Host is transferred to a Player who wasnít designated to be the Gameís Host, the Game must still be played.</li>
<li>If a Playerís connection to the Host becomes unreasonable during a Game, the Game must still be played.  After each Game, either Team may request that a new Host be tested, if the previous Host was unreasonable.</li>
</ul>
<br>

<h2 class="whitetext">Reporting Results</h2>
<ul class="bullet whitetext">
<li>During the Regular Season, the winning Team must report the Match results to a Tournament Official within 30 minutes of its completion.  To report the Match results, Teams must report the Match Score (3-0, 3-1, or 3-2).</li>
<li> In order to get a Forfeit Win, when a Team fails to attend a Match, a Team must contact a Tournament Official at the end of the Grace Period.</li>
<li>Teams should contact a Tournament Official if they encounter any problems setting up or playing a Match.</li>
<li>If a Tournament Official is called into a Custom Games Lobby, Players must keep them un-muted at all times and comply with their instructions.</li>
</ul>
<br>


 
</div>    
</div>
</div>
    
<%= partial "footer" %>
    
</body>
</html>
