<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="goldtext">ACL Call of Duty: Ghosts League Teams Announced</h1>
        <p class="smalltext"><i>August 11 2014 by Beware</i></p>
        <p>Registration has closed for the ACL Call of Duty: Ghosts League and we are pleased to announce the Top 8 teams that have been invited to compete in the first ever ACL League. These teams will battle it out over the next 7 weeks in the Regular Season, with the top 4 teams progressing to the Playoff Bracket, for the title of Call of Duty Ghosts ANZ Champion. You can watch all the action live on mlg.tv/ACL - kicking off tomorrow night at 6.30pm AEST!</p>

        <img src="http://i.imgur.com/FEjjUnU.png"/> 
        <br>
        <br>
        <h4 class="goldtext">Week 1 Schedule: </h4>
        Tuesday 12th August
        <p><ul class="no-bullet">
        <li>7.00pm AEST - Curse AU vs L2 Adapt</li>
        <li>7.00pm AEST - Team Storm vs Plantronics.Nv</li>
        <li>8.30pm AEST - Team Immunity vs Impulse</li>
        <li>8.30pm AEST - Curse AU vs Fright</li></ul></p>
           
        Thursday 14th August
        <p><ul class="no-bullet">
        <li>7.00pm AEST - Team Storm vs Trident.Rebellion</li>
        <li>7.00pm AEST - Team Immunity	vs L2 Adapt</li>
        <li>8.30pm AEST - Plantonics.Nv vs Fright</li>
        <li>8.30pm AEST - Trident.Rebellion vs Impulse</li></ul></p>
            
        <p>Make sure to tune into the live stream tomorrow night at 6.30pm AEST as Inmaniac and Myksta kick off the ACL Call of Duty: Ghosts League live on mlg.tv/ACL from the brand new ACL broadcast studio!</p>
            
            
        </div>
    
    </div>
    
<%= partial "footer" %>