---
title: ACL - League of Legends Online Round 4 - Registered Teams
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
<div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Call of Duty: Ghosts League</h1>
        <h5>Format</h5>
        <p>We’ve hinted at it before, and now we are happy to announce, ACL’s very first online league for Call of Duty: Ghosts. What a better way to say goodbye to Ghosts and prepare for the upcoming release of Advance Warfare than to pit Australia & New Zealand’s best teams against each other, covering the action live from our new broadcast office in Sydney on mlg.tv.</p>
            
        <ul class="button-group">
        <li><a href="/articles/aclcodleague.html" class="button secondary tiny">Announcement</a></li>
        <!--<li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>-->
        <li><a href="/rules/codleague/conduct_rules.html" class="button secondary tiny">Conduct Rules</a></li>
        <li><a href="/rules/codleague/format.html" class="button secondary tiny">Format</a></li>
        <li><a href="/rules/codleague/rules.html" class="button secondary tiny">Rules</a></li>
        <li><a href="/rules/codleague/gametypes.html" class="button tiny">Gametypes</a></li>
        <li><a href="/events/2014/online/cod/league/schedule.html" class="button tiny">Schedule</a></li>
        <li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button tiny">Registered Teams</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row whitetext">
<div class="small-12 padding-0">

<h3 class="whitetext">Regular Season Matches</h3><br>
<b>Tuesday, August 12th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Curse AU vs L2 adapt</li>
<li>7:00 PM                      Team Storm vs Plantronics Nv</li>
<li>8:30 PM                      Plantronics.MF vs Impulse</li>
<li>8:30 PM                      Curse AU vs Fright</li>
</ul></p>
 <br>

<b>Thursday, August 14th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Team Storm vs Trident.Rebellion</li>
<li>7:00 PM                      Plantronics.MF vs L2 Adapt</li>
<li>8:30 PM                      Plantronics Nv vs Fright</li>
<li>8:30 PM                      Trident.Rebellion vs Impulse</li>
</ul></p>
 <br>

 
<b>Tuesday, August 19th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      L2 Adapt vs Fright</li>
<li>7:00 PM                      Curse AU vs Impulse</li>
<li>8:30 PM                      Plantronics Nv vs Impulse</li>
<li>8:30 PM                      Team Storm vs L2 Adapt</li>
</ul></p>
 <br>

 
<b>Thursday, August 21st</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Plantronics.MF vs Trident.Rebellion</li>
<li>7:00 PM                      Curse AU vs Team Storm</li>
<li>8:30 PM                      Plantronics.MF vs Fright</li>
<li>8:30 PM                      Plantronics Nv vs Trident.Rebellion</li>
</ul></p>
 <br>

 
<b>Tuesday, August 26th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Fright vs Team Storm</li>
<li>7:00 PM                      L2 Adapt vs	Trident.Rebellion</li>
<li>8:30 PM                      Plantronics.MF vs Plantronics Nv</li>
<li>8:30 PM                      Impulse vs Fright</li>
</ul></p>
 <br>

 
<b>Thursday, August 28th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Curse AU vs Trident.Rebellion</li>
<li>7:00 PM                      Plantronics.MF vs Team Storm</li>
<li>8:30 PM                      L2 Adapt vs Impulse</li>
<li>8:30 PM                      Curse AU vs Plantronics Nv</li>
</ul></p>
 <br>

 
<b>Tuesday, September 2nd</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Trident.Rebellion vs Fright</li>
<li>7:00 PM                      Curse AU vs L2 Adapt</li>
<li>8:30 PM                      Plantronics Nv vs L2 Adapt</li>
<li>8:30 PM                      Plantronics.MF vs Impulse</li>
</ul></p>
 <br>

 
<b>Thursday, September 4th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Plantronics.MF vs Curse AU</li>
<li>7:00 PM                      Team Storm vs Trident.Rebellion</li>
<li>8:30 PM                      Team Storm vs Impulse</li>
<li>8:30 PM                      Plantronics Nv vs Fright</li>
</ul></p>
 <br>

 
<b>Tuesday, September 9th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Trident.Rebellion vs Impulse</li>
<li>7:00 PM                      L2 Adapt vs Fright</li>
<li>8:30 PM                      Curse AU vs Fright</li>
<li>8:30 PM                      Plantronics Nv vs Impulse</li>
</ul></p>
 <br>

 
<b>Thursday, September 11th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Plantronics.MF vs L2 Adapt</li>
<li>7:00 PM                      Team Storm vs Plantronics Nv</li>
<li>8:30 PM                      Plantronics.MF vs Trident.Rebellion</li>
<li>8:30 PM                      Curse AU vs Team Storm</li>
</ul></p>
 <br>

 
<b>Tuesday, September 16th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Curse AU vs Impulse</li>
<li>7:00 PM                      Fright vs Team Storm</li>
<li>8:30 PM                      Plantronics Nv vs 	Trident.Rebellion</li>
<li>8:30 PM                      Plantronics.MF vs Plantronics Nv</li>
</ul></p>
 <br>

 
<b>Thursday, September 18th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Plantronics.MF vs Fright</li>
<li>7:00 PM                      Curse AU vs Trident.Rebellion</li>
<li>8:30 PM                      Team Storm vs L2 Adapt</li>
<li>8:30 PM                      L2 Adapt vs Impulse</li>
</ul></p>
 <br>

 
<b>Tuesday, September 23rd</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      L2 Adapt vs Trident.Rebellion</li>
<li>7:00 PM                      Trident.Rebellion vs Fright</li>
<li>8:30 PM                      Impulse vs Fright</li>
<li>8:30 PM                      Team Storm vs Impulse</li>
</ul></p>
 <br>

 
<b>Thursday, September 25th</b><br>
<p><ul class="no-bullet whitetext">
<li>7:00 PM                      Plantronics.MF vs Team Storm</li>
<li>7:00 PM                      Curse AU vs Plantronics Nv</li>
<li>8:30 PM                      Plantronics.MF vs Curse AU</li>
<li>8:30 PM                      Plantronics Nv vs L2 Adapt</li>
</ul></p>
 <br>


<h3 class="whitetext">Playoff Bracket</h3><br>
<b>Saturday, September 28th</b>
<p><ul class="no-bullet whitetext">
<li>12:00 PM		Round 1 A</li>
<li>1:30 PM		Round 1 B</li>
<li>3:00 PM 		FINAL</li>
</ul></p>






    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
