---
title: ACL - League of Legends Online Round 2 - Registered Teams
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/lol/splash2.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 2 - Registered Teams</h1>
        <h5>Winter Regional Qualifier</h5>
        <p>ACL League of Legends Online Round 2 acted as a qualifier for Riots Oceanic Winter Regional Round of 8. The top 2 teams from ACL qualified for their chance to take a share of the $45,000 prize pool.</p>
            
        <ul class="button-group">
        <li><a href="/archive/2014/acl-league-of-legends-online-round-2.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/lol/or2/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or2.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/ACLOR2_A" target="_blank" class="button tiny">Bracket A</a></li>
        <li><a href="http://challonge.com/ACLOR2_B" target="_blank" class="button tiny">Bracket B</a></li>        
        </ul>    
        </div>
        
    </div>

<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<table>
<tbody>
    
<tr>
<td class="regteambox">Team NV</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Nv Mattress<span class="smalltext">CAPTAIN</span></li>
<li>Nv HeavenzCurse<span class="smalltext">PLAYER</span></li>
<li>Nv FirstMate<span class="smalltext">PLAYER</span></li>
<li>Nv DeltaFreeZe<span class="smalltext">PLAYER</span></li>
<li>Nv Cool Mog<span class="smalltext">PLAYER</span></li>
<li class="graytext">Nv Pekka Kokko<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Avant Garde: Ascension</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Av Carbon<span class="smalltext">CAPTAIN</span></li>
<li>Av Minkywhale<span class="smalltext">PLAYER</span></li>
<li>Av Cardrid<span class="smalltext">PLAYER</span></li>
<li>Av ChuChuZ<span class="smalltext">PLAYER</span></li>
<li>Av Erectgymnast<span class="smalltext">PLAYER</span></li>
<li class="graytext">Chief Rusty<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Team Dignitas</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">d JKSmithy<span class="smalltext">CAPTAIN</span></li>
<li>d Kenste<span class="smalltext">PLAYER</span></li>
<li>d Rippii<span class="smalltext">PLAYER</span></li>
<li>d Ubergiantsbro<span class="smalltext">PLAYER</span></li>
<li>EV tgun<span class="smalltext">PLAYER</span></li>
<li class="graytext">SerbBeCarrying<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Curse OCE</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Crs Boat<span class="smalltext">CAPTAIN</span></li>
<li>Crs Chelby<span class="smalltext">PLAYER</span></li>
<li>Crs Keane<span class="smalltext">PLAYER</span></li>
<li>Crs Kolo<span class="smalltext">PLAYER</span></li>
<li>Crs Airy<span class="smalltext">PLAYER</span></li>
<li class="graytext">Crs Mazui<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">B'Shert</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">fourgive me<span class="smalltext">CAPTAIN</span></li>
<li>jv the autist<span class="smalltext">PLAYER</span></li>
<li>ness<span class="smalltext">PLAYER</span></li>
<li>bags of swag<span class="smalltext">PLAYER</span></li>
<li>spàwn<span class="smalltext">PLAYER</span></li>
<li class="graytext">adc pls<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">AKG</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">AKG BLack<span class="smalltext">CAPTAIN</span></li>
<li>AKG Moya<span class="smalltext">PLAYER</span></li>
<li>AKG NADA<span class="smalltext">PLAYER</span></li>
<li>AKG Dolce<span class="smalltext">PLAYER</span></li>
<li>AKG Furious<span class="smalltext">PLAYER</span></li>
<li class="graytext">AKG Miran<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Apex</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Malaz<span class="smalltext">CAPTAIN</span></li>
<li>Lib<span class="smalltext">PLAYER</span></li>
<li>Jinxed Shadow<span class="smalltext">PLAYER</span></li>
<li>Majistoo<span class="smalltext">PLAYER</span></li>
<li>AgUy<span class="smalltext">PLAYER</span></li>
<li class="graytext">Altbomber<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Avant Garde: Redemption</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Av Profound<span class="smalltext">CAPTAIN</span></li>
<li>Av Nex<span class="smalltext">PLAYER</span></li>
<li>Av Psyker<span class="smalltext">PLAYER</span></li>
<li>Av Spoil<span class="smalltext">PLAYER</span></li>
<li>Av Squigglypuff<span class="smalltext">PLAYER</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Citadel</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">BOSS Achilles<span class="smalltext">CAPTAIN</span></li>
<li>Majora<span class="smalltext">PLAYER</span></li>
<li>Archy<span class="smalltext">PLAYER</span></li>
<li>Akito<span class="smalltext">PLAYER</span></li>
<li>Skys<span class="smalltext">PLAYER</span></li>
<li class="graytext">A Banana Keeper<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Coles Boys</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">konk35353535<span class="smalltext">CAPTAIN</span></li>
<li>silentawakes<span class="smalltext">PLAYER</span></li>
<li>benn<span class="smalltext">PLAYER</span></li>
<li>xkinight of zero<span class="smalltext">PLAYER</span></li>
<li>I3ATYOURDOG<span class="smalltext">PLAYER</span></li>
<li class="graytext">toke<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Counter Logic Gooks</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Dream<span class="smalltext">CAPTAIN</span></li>
<li>Best Willy OCE<span class="smalltext">PLAYER</span></li>
<li>Reality<span class="smalltext">PLAYER</span></li>
<li>Clementia<span class="smalltext">PLAYER</span></li>
<li>Thoi<span class="smalltext">PLAYER</span></li>
<li class="graytext">Modest<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Crowd Control Gaming</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Jacki<span class="smalltext">CAPTAIN</span></li>
<li>Becky Gomez<span class="smalltext">PLAYER</span></li>
<li>Badbreath88<span class="smalltext">PLAYER</span></li>
<li>Narwhal<span class="smalltext">PLAYER</span></li>
<li>Ability<span class="smalltext">PLAYER</span></li>
<li class="graytext">Vertigo<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">CVNTS</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Punch A Cone<span class="smalltext">CAPTAIN</span></li>
<li>Raen<span class="smalltext">PLAYER</span></li>
<li>red tug boat<span class="smalltext">PLAYER</span></li>
<li>Phunk<span class="smalltext">PLAYER</span></li>
<li>Dunbt27<span class="smalltext">PLAYER</span></li>
<li class="graytext">Bealy12<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">EloHellDoesNotExist</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">CoduxDKO<span class="smalltext">CAPTAIN</span></li>
<li>OceMr<span class="smalltext">PLAYER</span></li>
<li>Washy<span class="smalltext">PLAYER</span></li>
<li>WorstSkarner OCE<span class="smalltext">PLAYER</span></li>
<li>BeReadyMyFriend<span class="smalltext">PLAYER</span></li>
<li class="graytext">Free<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">External</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">TXL Risk<span class="smalltext">CAPTAIN</span></li>
<li>Koichul<span class="smalltext">PLAYER</span></li>
<li>Everydayisee<span class="smalltext">PLAYER</span></li>
<li>TXL Bang<span class="smalltext">PLAYER</span></li>
<li>Frazwah<span class="smalltext">PLAYER</span></li>
<li class="graytext">TXL Disrespect<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Fellowship of the Dank</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">PimpasaurusRex<span class="smalltext">CAPTAIN</span></li>
<li>SexcyBeast<span class="smalltext">PLAYER</span></li>
<li>Sexcy<span class="smalltext">PLAYER</span></li>
<li>Ganjalf<span class="smalltext">PLAYER</span></li>
<li>DarkusCharizard<span class="smalltext">PLAYER</span></li>
<li class="graytext">nOkay<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">ggLoL Ignite</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">ggL Drakkerne<span class="smalltext">CAPTAIN</span></li>
<li>Josker<span class="smalltext">PLAYER</span></li>
<li>Mountain Goat<span class="smalltext">PLAYER</span></li>
<li>Eklipsed<span class="smalltext">PLAYER</span></li>
<li>Urami<span class="smalltext">PLAYER</span></li>
<li class="graytext">SYF TT Hotshot<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Glory to the Sin'dorei</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Trace<span class="smalltext">CAPTAIN</span></li>
<li>Zorox<span class="smalltext">PLAYER</span></li>
<li>Żam<span class="smalltext">PLAYER</span></li>
<li>Alasmi<span class="smalltext">PLAYER</span></li>
<li>Tumbbl<span class="smalltext">PLAYER</span></li>
<li class="graytext">choyza<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">TeamNV</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Chenyboy<span class="smalltext">CAPTAIN</span></li>
<li>paws<span class="smalltext">PLAYER</span></li>
<li>Chuffer<span class="smalltext">PLAYER</span></li>
<li>Variables<span class="smalltext">PLAYER</span></li>
<li>Profound<span class="smalltext">PLAYER</span></li>
<li class="graytext">daeguilban<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Kinda Kawaii</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Kuda<span class="smalltext">CAPTAIN</span></li>
<li>cute loli<span class="smalltext">PLAYER</span></li>
<li>Lucker Dog<span class="smalltext">PLAYER</span></li>
<li>citizenV<span class="smalltext">PLAYER</span></li>
<li>nadeko sengoku<span class="smalltext">PLAYER</span></li>
<li class="graytext">Supernova<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Kings of Melbourne</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Efstratios<span class="smalltext">CAPTAIN</span></li>
<li>CrossKnight95<span class="smalltext">PLAYER</span></li>
<li>kuanyip<span class="smalltext">PLAYER</span></li>
<li>Smooth Pimpster<span class="smalltext">PLAYER</span></li>
<li>YoKalTrigga<span class="smalltext">PLAYER</span></li>
<li class="graytext">Mrheeler5150<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Little Dorito</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Charliee<span class="smalltext">CAPTAIN</span></li>
<li>Crz<span class="smalltext">PLAYER</span></li>
<li>ChuffeR<span class="smalltext">PLAYER</span></li>
<li>Big Papa Guo<span class="smalltext">PLAYER</span></li>
<li>Ares Sigh<span class="smalltext">PLAYER</span></li>
<li class="graytext">Emphasis<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Lvl 3 Pokemon</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Lvl 3 Vulpix<span class="smalltext">CAPTAIN</span></li>
<li>Lvl 3 Charmander<span class="smalltext">PLAYER</span></li>
<li>Lvl 3 Minum<span class="smalltext">PLAYER</span></li>
<li>Lvl 3 Darkrai<span class="smalltext">PLAYER</span></li>
<li>Lvl 3 Squirtle<span class="smalltext">PLAYER</span></li>
<li class="graytext">Its Kitty Time<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Outplayed eSports w1nter</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">opL yoshi<span class="smalltext">CAPTAIN</span></li>
<li>opL Bloodraven<span class="smalltext">PLAYER</span></li>
<li>Atom 1119<span class="smalltext">PLAYER</span></li>
<li>Landazar<span class="smalltext">PLAYER</span></li>
<li>opL Wilaris<span class="smalltext">PLAYER</span></li>
<li class="graytext">opL Abyss<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Poro</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Slace<span class="smalltext">CAPTAIN</span></li>
<li>Auzzie Shadow<span class="smalltext">PLAYER</span></li>
<li>infinityxplanet<span class="smalltext">PLAYER</span></li>
<li>Behemoth<span class="smalltext">PLAYER</span></li>
<li>IbutcherTeemo<span class="smalltext">PLAYER</span></li>
<li class="graytext">SoulNinjarr<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">regi pls</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">QQ Nemesis<span class="smalltext">CAPTAIN</span></li>
<li>mwils208<span class="smalltext">PLAYER</span></li>
<li>xxdikipotatoxx<span class="smalltext">PLAYER</span></li>
<li>confusedmonkey<span class="smalltext">PLAYER</span></li>
<li>mosylord<span class="smalltext">PLAYER</span></li>
<li class="graytext">bmxbadboy155<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Seraphic Nexus</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Snx Toasties<span class="smalltext">CAPTAIN</span></li>
<li>Snx OwnUbad<span class="smalltext">PLAYER</span></li>
<li>Snx Alecks<span class="smalltext">PLAYER</span></li>
<li>Snx Alice<span class="smalltext">PLAYER</span></li>
<li>Blindturkey<span class="smalltext">PLAYER</span></li>
<li class="graytext">hi im butterfly<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Skylanders Giants</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Mystôgân<span class="smalltext">CAPTAIN</span></li>
<li>iOwnYou<span class="smalltext">PLAYER</span></li>
<li>SU1G3TSU<span class="smalltext">PLAYER</span></li>
<li>Sky Mason<span class="smalltext">PLAYER</span></li>
<li>Jpd<span class="smalltext">PLAYER</span></li>
<li class="graytext">Rambooh<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Stealth Farm</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Radical<span class="smalltext">CAPTAIN</span></li>
<li>MasterCharlie<span class="smalltext">PLAYER</span></li>
<li>LordTito<span class="smalltext">PLAYER</span></li>
<li>Gattaca<span class="smalltext">PLAYER</span></li>
<li>Issei<span class="smalltext">PLAYER</span></li>
<li class="graytext">BIack<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Sudden Burst Gaming</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Meerkatz<span class="smalltext">CAPTAIN</span></li>
<li>Rikikune<span class="smalltext">PLAYER</span></li>
<li>Voodoochild<span class="smalltext">PLAYER</span></li>
<li>Rnc Yung Black<span class="smalltext">PLAYER</span></li>
<li>Rnc Xandis<span class="smalltext">PLAYER</span></li>
<li class="graytext">game theif<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Team 4Not</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">4N Blaze<span class="smalltext">CAPTAIN</span></li>
<li>4N Kazz<span class="smalltext">PLAYER</span></li>
<li>4N Kai<span class="smalltext">PLAYER</span></li>
<li>4N King<span class="smalltext">PLAYER</span></li>
<li>4N Nter<span class="smalltext">PLAYER</span></li>
<li class="graytext">4N Kiku<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Team AI</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Viktor Bot<span class="smalltext">CAPTAIN</span></li>
<li>Lissandra Bot<span class="smalltext">PLAYER</span></li>
<li>Renekton Bot<span class="smalltext">PLAYER</span></li>
<li>Olaf Bot<span class="smalltext">PLAYER</span></li>
<li>Syandra Bot<span class="smalltext">PLAYER</span></li>
<li class="graytext">Sejuani Bot<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Team Erase</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Erase Ming<span class="smalltext">CAPTAIN</span></li>
<li>Erase Wrekt<span class="smalltext">PLAYER</span></li>
<li>Erase 8mg<span class="smalltext">PLAYER</span></li>
<li>Erase Crunch<span class="smalltext">PLAYER</span></li>
<li>Erase Nyx<span class="smalltext">PLAYER</span></li>
<li class="graytext">Erase Norak<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Team ygolohcysP</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Leshaniqua<span class="smalltext">CAPTAIN</span></li>
<li>i6 Djsuitedup<span class="smalltext">PLAYER</span></li>
<li>Carlos Is God<span class="smalltext">PLAYER</span></li>
<li>i6 Djchonz<span class="smalltext">PLAYER</span></li>
<li>Sorr Zulan<span class="smalltext">PLAYER</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Tha Rift Wrekerz</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Liahos95<span class="smalltext">CAPTAIN</span></li>
<li>pjsk<span class="smalltext">PLAYER</span></li>
<li>Swift Ghost<span class="smalltext">PLAYER</span></li>
<li>the blue firefox<span class="smalltext">PLAYER</span></li>
<li>Snowie<span class="smalltext">PLAYER</span></li>
<li class="graytext">MattRIXha<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">The Hierarchy Of Men</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">BazaHD<span class="smalltext">CAPTAIN</span></li>
<li>Synsation<span class="smalltext">PLAYER</span></li>
<li>Humidz<span class="smalltext">PLAYER</span></li>
<li>Gelderz<span class="smalltext">PLAYER</span></li>
<li>Jdogians2<span class="smalltext">PLAYER</span></li>
<li class="graytext">So Wrecked<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>    

<tr>
<td class="regteambox">TSM Australia</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">playwithtom<span class="smalltext">CAPTAIN</span></li>
<li>TheBukaki<span class="smalltext">PLAYER</span></li>
<li>Squashyy7<span class="smalltext">PLAYER</span></li>
<li>AussiexTKO<span class="smalltext">PLAYER</span></li>
<li>ACHES<span class="smalltext">PLAYER</span></li>
<li class="graytext">Vurk<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Vanguard</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">vG xDerek<span class="smalltext">CAPTAIN</span></li>
<li>vG Flobby<span class="smalltext">PLAYER</span></li>
<li>vG iNFAMOUS L<span class="smalltext">PLAYER</span></li>
<li>vG SextacyDragon<span class="smalltext">PLAYER</span></li>
<li>vG Houdini<span class="smalltext">PLAYER</span></li>
<li class="graytext">vG Yuzuki<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">Vanguardz</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Ghostile<span class="smalltext">CAPTAIN</span></li>
<li>Trizz<span class="smalltext">PLAYER</span></li>
<li>rizLLL<span class="smalltext">PLAYER</span></li>
<li>StattikRaven<span class="smalltext">PLAYER</span></li>
<li>nbk<span class="smalltext">PLAYER</span></li>
<li class="graytext">Got2ch3a<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>

<tr>
<td class="regteambox">YG My LG</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">JustinBieberFan<span class="smalltext">CAPTAIN</span></li>
<li>adc<span class="smalltext">PLAYER</span></li>
<li>top<span class="smalltext">PLAYER</span></li>
<li>mid<span class="smalltext">PLAYER</span></li>
<li>support<span class="smalltext">PLAYER</span></li>
<li class="graytext">ygmynigger<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>


    
</tbody>
</table>
    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
