---
title: ACL - Call of Duty 2014 - Results
---
        <p>
        The ACL 2K Series 08-06 hosted the best Call of Duty: Ghosts players and teams in ANZ. With 2000 MLG Pro Points on the line, as well as determining seeding for ACL Sydney, a lot was on the line for competitiors. All ACL 2K Series award ANZ players with MLG Pro Points that benefit players locally and internationally.
        </p>
            
        
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"><b>Placing</b></th>
    <th style="width:300px" align="left"><b>Team</b></th>
    <th style="width:100px" align="left">Points</th>
    </tr>
  <tr style="width:450px">
    <td>1st</td>
    <td>Immunity</td>
    <td>2000</td>
  </tr>
<tr>
    <td>2nd</td>
    <td>Curse AU</td>
    <td>1200</td>
  </tr>
<tr>   
    <td>3rd</td>
    <td>Moomies</td>
    <td>800</td>
  </tr>
<tr>  
    <td></td>
    <td>Storm.CP</td>
    <td>800</td>
  </tr>
<tr> 
    <td>5th</td>
    <td>2XO</td>
    <td>600</td>
  </tr>
<tr>
    <td></td>
    <td>Royal</td>
    <td>600</td>
  </tr>
<tr>
    <td></td>
    <td>PF.Fame</td>
    <td>600</td>
  </tr>
<tr>
    <td></td>
    <td>Ugly Doss</td>
    <td>600</td>
  </tr>
<tr>
    <td>9th</td>
    <td>Muffin Stuffe</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>No Sympathy Nz</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>TODORRRRRRRR</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>Dynasty Org</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>neco</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>TBA</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>~Team Audacity~</td>
    <td>400</td>
  </tr>
  <tr>
    <td></td>
    <td>holla the goat</td>
    <td>400</td>
  </tr>
  <!--<tr>
    <td>17th</td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>-->
</table>
</div>
</div>
    