---
title: ACL - Call of Duty 2014 - Results
subtitle: BRISBANE 2014

---

        
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"><b>Placing</b></th>
    <th style="width:300px" align="left"><b>Player</b></th>
    <th style="width:100px" align="left">Points</th>
    </tr>
  <tr style="width:450px">
    <td>1st</td>
    <td>Team Immunity</td>
    <td>10000</td>
  </tr>
<tr>
    <td>2nd</td>
    <td>Curse AU</td>
    <td>6000</td>
  </tr>
<tr>   
    <td>3rd</td>
    <td>Avant Garde</td>
    <td>4400</td>
  </tr>
<tr>  
    <td>4th</td>
    <td>TRIDENT.Rebellion</td>
    <td>3600</td>
  </tr>
<tr> 
    <td>5th</td>
    <td>Team Storm: CP</td>
    <td>3200</td>
  </tr>
<tr>
    <td></td>
    <td>Pathfinder.Fame</td>
    <td>3200</td>
  </tr>
<tr>
    <td>7th</td>
    <td>MEGA</td>
    <td>2800</td>
  </tr>
<tr>
    <td></td>
    <td>Plantronics.Nv</td>
    <td>2800</td>
  </tr>
<tr>
    <td>9th</td>
    <td>2XO</td>
    <td>2200</td>
  </tr>
<tr>
    <td></td>
    <td>Royal</td>
    <td>2200</td>
  </tr>
<tr>
    <td></td>
    <td>Dynasty eSports</td>
    <td>2200</td>
  </tr>
<tr>
    <td></td>
    <td>BewaRe AU</td>
    <td>2200</td>
  </tr>
<tr>
    <td>13th</td>
    <td>Notorious Sin</td>
    <td>1800</td>
  </tr>
<tr>
    <td></td>
    <td>Category 5</td>
    <td>1800</td>
  </tr>
<tr>
    <td></td>
    <td>Fragment AU</td>
    <td>1800</td>
  </tr>
  <tr>
    <td></td>
    <td>Cipher Union</td>
    <td>1800</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>Team Orb</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Eye Candy</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>eG Team Pure</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Power</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>it's a curse</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Fariko Gaming : DARK</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Pandemic</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Omari</td>
    <td>1200</td>
  </tr>
</table>
</div>
</div>
