---
title: ACL - Call of Duty 
subtitle: 2014 Results
---


<div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">ACL 2K Series 11-05</h2>
            <table>
                <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
              <tr style="width:450px">
                <td>1st</td>
                <td>Immunity</td>
                <td>2000</td>
              </tr>
            <tr>
                <td>2nd</td>
                <td>Mega</td>
                <td>1200</td>
              </tr>
            <tr>   
                <td>3rd</td>
                <td>Trident</td>
                <td>800</td>
              </tr>
            <tr>  
                <td></td>
                <td>Avant Garde</td>
                <td>800</td>
              </tr>  
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/cod/2k11-05.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/cod/2k11-05.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/cod/cod5.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

<div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">ACL Brisbane</h2>
            <table>
                <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
              <tr style="width:450px">
                <td>1st</td>
                <td>Team Immunity</td>
                <td>10000</td>
              </tr>
            <tr>
                <td>2nd</td>
                <td>Curse AU</td>
                <td>6000</td>
              </tr>
            <tr>   
                <td>3rd</td>
                <td>Avant Garde</td>
                <td>4400</td>
              </tr>
            <tr>  
                <td>4th</td>
                <td>TRIDENT.Rebellion</td>
                <td>3600</td>
              </tr> 
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/cod/bris2014.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/cod/bris2014.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/cod/cod1.jpg); background-size: cover;">
            <img src="/images/bris/2014/brisemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>    

<div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">ACL 2K Series 08-06</h2>
            <table>
                <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
              <tr style="width:450px">
                <td>1st</td>
                <td>Immunity</td>
                <td>2000</td>
              </tr>
            <tr>
                <td>2nd</td>
                <td>Curse AU</td>
                <td>1200</td>
              </tr>
            <tr>   
                <td>3rd</td>
                <td>Moomies</td>
                <td>800</td>
              </tr>
            <tr>  
                <td></td>
                <td>Storm.CP</td>
                <td>800</td>
              </tr> 
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/cod/2k08-06.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/cod/2k08-06.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/cod/cod4.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

<div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">ACL 2K Series 06-07</h2>
            <table>
                <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
              <tr style="width:450px">
                <td>1st</td>
                <td>Immunity</td>
                <td>2000</td>
              </tr>
            <tr>
                <td>2nd</td>
                <td>Curse AU</td>
                <td>1200</td>
              </tr>
            <tr>   
                <td>3rd</td>
                <td>Moomies</td>
                <td>800</td>
              </tr>
            <tr>  
                <td></td>
                <td>Storm.CP</td>
                <td>800</td>
              </tr> 
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/cod/2k06-07.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/cod/2k06-07.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/cod/cod2.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>  
</div> 
