---
title: ACL - League of Legends Online Round 4 - Registered Teams
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/lol/splash9.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 4 - Registered Teams</h1>
        <h5>Oceanic Regional Final Qualifier</h5>
        <p>ACL League of Legends Online Round 4 offers a chance for teams to compete for a spot in the Oceanic Regional Final. Joined by the winner of ACL Sydney, the teams qualified for the chance to take a share of the $60,000 prize pool and claim the number 1 spot in Oceania.</p>
            
        <ul class="button-group">
        <li><a href="/events/2014/online/lol/onlineround4.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/lol/or4/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <!--<li><a href="/results/2014/lol/or3.html" class="button tiny">Results</a></li>-->
        <!--<li><a href="http://challonge.com/acl2014lolor3" class="button tiny">Bracket</a></li>-->
        </ul>    
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

	<div class="row">
	<div class="small-12 padding-0">

		<iframe src="http://battlefy.com/embeds/teams/53df81888ed188dc0971bb5d" title="Battlefy Tournament Teams" width="100%" height="920" scrolling="yes" frameborder="0"></iframe>
		    
	</div>    
	</div>
    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
