---
title: ACL - League of Legends 2013 - Results
---



        <div class="small-12 large-6 columns padding-40">
            <h2>Online Round 1</h2>
            <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>
            <ul class="button-group">
            <li><a href="#" class="tiny button">Winners Bracket</a></li>
            <li><a href="#" class="tiny button">Losers Bracket</a></li>
            </ul>
        </div>
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" 
           style="background-image: url(/images/cod/cod_bg.jpg); background-size: cover;">
            <img src="/images/Online_emblem-01.png" />
           </div>
        </div>
        <hr>
    </div>
        
    <div class="graybg">
        <div class="small-12 large-6 columns padding-40">
            <h2>Online Round 2</h2>
           <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>
           <ul class="button-group">
           <li><a href="#" class="tiny button">Winners Bracket</a></li>
           <li><a href="#" class="tiny button">Losers Bracket</a></li>
           </ul>
        </div>
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour"
           style="background-image: url(/images/cod/cod_bg.jpg); background-size: cover;">
            <img src="/images/Online_emblem-01.png" />
           </div>
        </div>
        <hr>
    </div>
           
