---
title: ACL - League of Legends 2014 - Results
subtitle: SYDNEY 2014
---

    <div class="row">    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 2 - Results</h1>
        <h5>Winter Regional Qualifier</h5>
        <p>ACL League of Legends Online Round 2 acted as a qualifier for Riots Oceanic Winter Regional Round of 8. The top 2 teams from ACL qualified for their chance to take a share of the $45,000 prize pool.</p>
            
        <ul class="button-group">
        <li><a href="#" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/lol/or2/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or2.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/ACLOR2_A" target="_blank" class="button tiny">Bracket A</a></li>
        <li><a href="http://challonge.com/ACLOR2_B" target="_blank" class="button tiny">Bracket B</a></li>
        </ul>    
        </div>        
    </div>
        
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"><b>Placing</b></th>
    <th style="width:300px" align="left"><b>Team</b></th>
    <th style="width:100px" align="left">Points</th>
    </tr>
  <tr style="width:450px">
    <td>1st</td>
    <td>Avant Garde Ascension</td>
    <td>5000</td>
  </tr>
<tr>
    <td>2nd</td>
    <td>Team Nv</td>
    <td>4400</td>
  </tr>
<tr>   
    <td>3rd</td>
    <td>Dignitas</td>
    <td>4000</td>
  </tr>
<tr>  
    <td>4th</td>
    <td>Little Dorito</td>
    <td>3660</td>
  </tr>
<tr> 
    <td>5th</td>
    <td>Curse</td>
    <td>3340</td>
  </tr>
<tr>
    <td>6th</td>
    <td>Avant Garde Redemption</td>
    <td>3040</td>
  </tr>
<tr>
    <td>7th</td>
    <td>Seraphic Nexus</td>
    <td>2760</td>
  </tr>
<tr>
    <td>8th</td>
    <td>Team Erase</td>
    <td>2500</td>
  </tr>
<tr>
    <td>9th</td>
    <td>Counter Logic Gooks</td>
    <td>2240</td>
  </tr>
<tr>
    <td>10th</td>
    <td>AKG</td>
    <td>2000</td>
  </tr>
<tr>
    <td>11th</td>
    <td>Sudden Burst Gaming</td>
    <td>1760</td>
  </tr>
<tr>
    <td>12th</td>
    <td>Kinda Kawaii</td>
    <td>1540</td>
  </tr>
<tr>
    <td>13th</td>
    <td>Level 3 Pokemon</td>
    <td>1340</td>
  </tr>
<tr>
    <td>14th</td>
    <td>Apex</td>
    <td>1160</td>
  </tr>
<tr>
    <td>15th</td>
    <td>External</td>
    <td>1000</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>Citadel</td>
    <td>860</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>TSM Australia</td>
    <td>740</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>B'Shert</td>
    <td>620</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>Coles Boys</td>
    <td>500</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>Outplayed eSports W1nter</td>
    <td>380</td>
  </tr>
  <tr>
    <td>21st</td>
    <td>Kings of Melbourne</td>
    <td>280</td>
  </tr>
  <tr>
    <td>22nd</td>
    <td>Stealth Farm</td>
    <td>200</td>
  </tr>
  <tr>
    <td>23rd</td>
    <td>ggLoL Ignite</td>
    <td>140</td>
  </tr>
  <tr>
    <td>24th</td>
    <td>Team YgolohcysP</td>
    <td>100</td>
  </tr>                
</table>
</div>
</div>
    