---
title: ACL - League of Legends 2014 - Results
subtitle: SYDNEY 2014
---

    <div class="row">    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 2 - Results</h1>
        <h5>Winter Regional Qualifier</h5>
        <p>ACL League of Legends Online Round 2 acted as a qualifier for Riots Oceanic Winter Regional Round of 8. The top 2 teams from ACL qualified for their chance to take a share of the $45,000 prize pool.</p>
            
        <ul class="button-group">
        <li><a href="#" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/lol/or2/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or2.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/ACLOR2_A" target="_blank" class="button tiny">Bracket A</a></li>
        <li><a href="http://challonge.com/ACLOR2_B" target="_blank" class="button tiny">Bracket B</a></li>
        </ul>    
        </div>        
    </div>

<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 columns articlebody padding-40">
<h2 class="whitetext">Group A</h2>
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"></th>
    <th style="width:300px" align="left"><b>Team</b></th>
    <th style="width:50px" align="center"><b>W</b></th>
    <th style="width:50px" align="center"><b>L</b></th>
    <th style="width:50px" align="center"><b>P</b></th>
    </tr>

  <tr style="width:450px">
    <td>1st</td>
    <td>Team Immunity</td>
    <td align="center">3</td>
    <td align="center">0</td>
    <td align="center">9</td>
  </tr>
  <tr style="width:450px">
    <td>2nd</td>
    <td>Your Soul Shall Chuffer</td>
    <td align="center">2</td>
    <td align="center">1</td>
    <td align="center">6</td>
  </tr>
  <tr style="width:450px">
    <td>3rd</td>
    <td>Ex Dreamers</td>
    <td align="center">1</td>
    <td align="center">2</td>
    <td align="center">3</td>
  </tr>
  <tr style="width:450px">
    <td>4th</td>
    <td>AKG</td>
    <td align="center">0</td>
    <td align="center">3</td>
    <td align="center">0</td>
  </tr>
</table>
</div>
</div>
</div>

<div class="row">
<div class="small-12 columns articlebody padding-40">
<h2 class="whitetext">Group B</h2>
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"></th>
    <th style="width:300px" align="left"><b>Team</b></th>
    <th style="width:50px" align="center"><b>W</b></th>
    <th style="width:50px" align="center"><b>L</b></th>
    <th style="width:50px" align="center"><b>P</b></th>
    </tr>

  <tr style="width:450px">
    <td>1st</td>
    <td>Legacy eSports</td>
    <td align="center">3</td>
    <td align="center">0</td>
    <td align="center">9</td>
  </tr>
  <tr style="width:450px">
    <td>2nd</td>
    <td>Team Nv</td>
    <td align="center">2</td>
    <td align="center">1</td>
    <td align="center">6</td>
  </tr>
  <tr style="width:450px">
    <td>3rd</td>
    <td>BlackJack</td>
    <td align="center">1</td>
    <td align="center">2</td>
    <td align="center">3</td>
  </tr>
  <tr style="width:450px">
    <td>4th</td>
    <td>Team UTS</td>
    <td align="center">0</td>
    <td align="center">3</td>
    <td align="center">0</td>
  </tr>
</table>
</div>
</div>
</div>

<div class="row">
<div class="small-12 columns articlebody padding-40">
<h2 class="whitetext">Final Results</h2>
<div class="small-12 padding-0 large-offset-3 large-6 columns">
            <table>
                  <tr style="width:450px">
                    <th style="width:50px" align="left"><b>Placing</b></th>
                    <th style="width:300px" align="left"><b>Team</b></th>
                    <th style="width:100px" align="left">Points</th>
                    </tr>
                    <tr style="width:450px">
                    <td>1st</td>
                    <td>Team Immunity</td>
                    <td>12500</td>
                    </tr>
                    <tr>
                    <td>2nd</td>
                    <td>Ex Dreamers</td>
                    <td>11000</td>
                    </tr>
                    <tr>   
                    <td>3rd</td>
                    <td>Legacy</td>
                    <td>10000</td>
                    </tr>
                    <tr>  
                    <td>4th</td>
                    <td>Your Soul Shall Chuffer</td>
                    <td>9150</td>
                    </tr>
                    <td>5th</td>
                    <td>Team UTS</td>
                    <td>8350</td>
                    </tr>
                    <tr>
                    <td>6th</td>
                    <td>AKG</td>
                    <td>7600</td>
                    </tr>
                    <tr>   
                    <td>7th</td>
                    <td>Team Nv</td>
                    <td>6900</td>
                    </tr>
                    <tr>  
                    <td>8th</td>
                    <td>BlackJack</td>
                    <td>6250</td>
                    </tr>
            </table>
</div>
</div>
</div>



    
</div>
</div>
