---
title: ACL - Call of Duty 2014
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod1.jpg);">
        <div>
            <div class="topsectionarticle">
            <h1 class="whitetext">Call of Duty</h1>
            <h5 class="whitetext" style="margin-top: -20px;">2014</h5>
            </div>
        </div>    
    </div>
    
<div class="row">

<div class="small-12 columns article">
    <div class="padding-0 darkbg">
        <div class="small-12 large-6 columns padding-40 whitetext">
            <h2 class="whitetext">CoD: Ghosts League</h2>
            <!--<h5 class="whitetext">National Event</h5>-->
            <p class="whitetext">We’ve hinted at it before, and now we are happy to announce, ACL’s very first online league for Call of Duty: Ghosts.
            <br>
            <br>
             What a better way to say goodbye to Ghosts and prepare for the upcoming release of Advance Warfare than to pit Australia & New Zealand’s best teams against each other, covering the action live from our new broadcast office in Sydney on mlg.tv.</p>
            <ul class="button-group">
            <li><a href="/articles/aclcodleague.html" class="button secondary tiny">Announcement</a></li>
            <!--<li><a href="/events/2014/live/cod/syd2014/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>-->
            <li><a href="/rules/codleague/conduct_rules.html" class="button secondary tiny">Conduct Rules</a></li>
            <li><a href="/rules/codleague/format.html" class="button secondary tiny">Format</a></li>
            <li><a href="/rules/codleague/rules.html" class="button secondary tiny">Rules</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/rules/codleague/gametypes.html" class="button tiny">Gametypes</a></li>
            <li><a href="/events/2014/online/cod/league/schedule.html" class="button tiny">Schedule</a></li>
            <li><a href="/events/2014/online/cod/league/registered_teams.html" class="button tiny">Registered Teams</a></li>
            <!--<li><a class="button tiny">Prize</a></li>
            <li><a target="_blank" class="button tiny">Schedule</a></li>-->
            </ul>
        </div>

        <a href="">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/cod/cod1.jpg); background-size: cover;">
            <img src="/images/articles/2014/codleague_emblem.png" />
            </div>
        </div>
        </a><hr>
    </div>
    <div class="padding-0 darkbg">
        <div class="small-12 large-6 columns padding-40 whitetext">
            <h2 class="whitetext">CoD: Ghosts ACL 2K Series 24-08</h2>
            <!--<h5 class="whitetext">National Event</h5>-->
            <p class="whitetext">We are proud to announce the ACL 4v4 MLG Variant 2K Series 24-08 Tournament, the second last ACL 2K Series ever for Call of Duty: Ghosts!
            <br>
            <br>
            Want to compete against the best teams in Australia and New Zealand? Then check out the announcement below.
            </p>
            <ul class="button-group">
            <li><a href="/events/2014/online/cod/2k24-08/acl2kseries2408.html" class="button secondary tiny">Announcement</a></li>
            <!--<li><a href="/events/2014/live/cod/syd2014/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>-->
            <!--<li><a href="/rules/codleague/conduct_rules.html" class="button secondary tiny">Conduct Rules</a></li>
            <li><a href="/rules/codleague/format.html" class="button secondary tiny">Format</a></li>
            <li><a href="/rules/codleague/rules.html" class="button secondary tiny">Rules</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/rules/codleague/gametypes.html" class="button tiny">Gametypes</a></li>
            <li><a href="/events/2014/online/cod/league/schedule.html" class="button tiny">Schedule</a></li>
            <li><a href="/events/2014/online/cod/league/registered_teams.html" class="button tiny">Registered Teams</a></li>
            <li><a class="button tiny">Prize</a></li>
            <li><a target="_blank" class="button tiny">Schedule</a></li>-->
            </ul>
        </div>

        <a href="">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/cod/cod9.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
            </div>
        </div>
        </a><hr>
    </div>     

    <h1 class="graytext padding-20">Past Events</h1>

        <div class="padding-0 graybg">
            <div class="small-12 large-6 columns padding-40">
                <h2>ACL Sydney</h2>
                <h5>National Event</h5>
                <p>2014 has seen an incredible rise in the Call of Duty competitive community. A string of great events and the CoD Champs campaign has seen new greats rise to the top and compete on an international level. ACL Sydney will continue on in this great spirit, as the biggest ACL event to date. Players and spectators will not want to miss this!</p>
                <ul class="button-group">
                <li><a href="/events/2014/live/syd2014.html" class="button secondary tiny">Announcement</a></li>
                <li><a href="/events/2014/live/cod/syd2014/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
                </ul>
                <ul class="button-group">
                <!--<li><a class="button tiny">Results</a></li>-->
                <li><a target="_blank" class="button tiny">Bracket</a></li>
                </ul>
            </div>

            <a href="">
            <div class="small-12 large-6 columns padding-0">
                <div class="aclcolour" style="background-image: url(/images/cod/cod9.jpg); background-size: cover;">
                <img src="/images/syd/2014/sydemblem.png" />
                </div>
            </div>
            </a><hr>
        </div> 

        <div class="small-12 large-6 columns padding-40">
            <h2>ACL 2K Series 06-07</h2>
            <p>The ACL 2K Series 06-07 hosted the best Call of Duty: Ghosts players and teams in ANZ. With 2000 MLG Pro Points on the line, as well as determining seeding for ACL Sydney, a lot was on the line for competitiors. All ACL 2K Series award ANZ players with MLG Pro Points that benefit players locally and internationally.</p>
            <ul class="button-group">
            <li><a href="/archive/2014/cod-ghosts-acl-2k-series-06-07.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg-variantseries-0/teams" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/results/2014/cod/2k06-07.html" class="button tiny">Results</a></li>
            <li><a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg-variantseries-0/bracket" target="_blank" class="button tiny">Bracket</a></li>
            </ul>
        </div>

        <a href="/results/2014/cod/2k06-07.html">
            <div class="small-12 large-6 columns padding-0">
                <div class="aclcolour" style="background-image: url(/images/cod/cod7.jpg); background-size: cover;">
                <img src="/images/online/onlemblem.png" />
               </div>
            </div>
        </a><hr>

    <div class="graybg">
        <div class="small-12 large-6 columns padding-40">
            <h2>ACL 2K Series 08-06</h2>
           <p>The ACL 2K Series 08-06 hosted the best Call of Duty: Ghosts players and teams in ANZ. With 2000 MLG Pro Points on the line, as well as determining seeding for ACL Sydney, a lot was on the line for competitiors. All ACL 2K Series award ANZ players with MLG Pro Points that benefit players locally and internationally.</p>
            <ul class="button-group">
            <li><a href="/archive/2014/cod-ghosts-acl-2k-series-08-06.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg2k-series-08-06/teams" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/results/2014/cod/2k08-06.html" class="button tiny">Results</a></li>
            <li><a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg2k-series-08-06/bracket" target="_blank" class="button tiny">Bracket</a></li>
            </ul>
        </div>

        <a href="/results/2014/cod/2k08-06.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/cod/cod6.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

        <div class="small-12 large-6 columns padding-40">
            <h2>ACL Brisbane</h2>
           <p>ACL Brisbane was the first ACL LAN event of 2014 ACL Pro Cricuit. Players were competing for 10,000 MLG Pro Points, a $3,000 prize pool, the title of ANZ Champions and a direct seed into the International League Playoffs at MLG Anaheim.</p>
           <ul class="button-group">
            <li><a href="/archive/2014/acl-brisbane-2014.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="/events/2014/live/cod/bris2014/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/results/2014/cod/bris2014.html" class="button tiny">Results</a></li>
            <li><a href="http://aclbris14.challonge.com/" class="button tiny">Bracket</a></li>
           </ul>
        </div>

        <a href="/results/2014/cod/bris2014.html">
            <div class="small-12 large-6 columns padding-0">
                <div class="aclcolour" style="background-image: url(/images/cod/cod10.jpg); background-size: cover;">
                <img src="/images/bris/2014/brisemblem.png" />
           </div>
            </div>
        </a><hr>  
    </div>

    <div class="graybg">
        <div class="small-12 large-6 columns padding-40">
            <h2>ACL 2K Series 11-05</h2>
            <p>The Call of Duty: Ghosts ACL 2K Series 11-05 was the first ACL 2K series for the ANZ Region. With 2000 MLG Pro Points on the line, as well as determing seeding for ACL Brisbane, a lot was on the line for competitiors. All ACL 2K Series award ANZ players with MLG Pro Points that benefit players locally and internationally.</p>
            <ul class="button-group">
            <li><a href="/archive/2014/acl-4v4-mlg-variant-2k-series.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg-variant-2k-series-/teams" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/results/2014/cod/2k11-05.html" class="button tiny">Results</a></li>        
            <li><a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg-variant-2k-series-/bracket" target="_blank" class="button tiny">Bracket</a></li>
            </ul>
        </div>

        <a href="/results/2014/cod/2k11-05.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/cod/cod5.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>
</div>  
</div>       
    
<%= partial "footer" %>
</body>
</html>
