---
title: ACL - League of Legends 2014 - Results
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/lol/splash16.jpg);">
        <div>
            <div class="topsectionarticle">
            <h1 class="whitetext">League of Legends</h1>
            <h5 class="whitetext" style="margin-top: -20px;">2014</h5>
            </div>
        </div>    
    </div>
    
<div class="row">

<div class="small-12 columns article">
    <div class="padding-0 darkbg">
        <div class="small-12 large-6 columns padding-40 whitetext">
            <h2 class="whitetext">Online Round 4</h2>
            <h5 class="whitetext">Oceanic Regional Finals Qualifier</h5>
            <p>ACL League of Legends Online Round 4 offers a chance for teams to compete for a spot in the Oceanic Regional Final. Joined by the winner of ACL Sydney, the teams qualified for the chance to take a share of the $60,000 prize pool and claim the number 1 spot in Oceania.</p>
            <ul class="button-group">
            <li><a href="/events/2014/online/lol/onlineround4.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="/events/2014/online/lol/or4/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <!--<ul class="button-group">
            <li><a class="button tiny">Results</a></li>
            <li><a href="#" class="button tiny">Group Stage</a></li>
            <li><a href="#" class="button tiny">Bracket</a></li>
            </ul>-->
        </div>

        <a href="">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/lol/splash9.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
            </div>
        </div>
        </a><hr>
    </div>    

    <h1 class="graytext padding-20">Past Events</h1>
    
        <div class="small-12 large-6 columns padding-40">
            <h2>ACL Sydney</h2>
            <h5>National Event & Oceanic Regional Finals Qualifier</h5>
            <p>ACL Sydney is ACLs first live national event for League of Legends in 2014. With a prize pool of $6k and the winner receiving a spot in Riots Oceanic Regional Final Round of 8 teams have plenty to work towards.</p>
            <ul class="button-group">
            <li><a href="/events/2014/live/syd2014.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="/events/2014/live/lol/syd2014/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <ul class="button-group">
            <li><a class="button tiny">Results</a></li>
            <li><a href="/events/2014/live/lol/syd2014/groups.html" class="button tiny">Group Stage</a></li>
            <li><a href="/events/2014/live/lol/syd2014/bracket.html" class="button tiny">Bracket</a></li>
            </ul>
        </div>

        <a href="">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/lol/splash4.jpg); background-size: cover;">
            <img src="/images/syd/2014/sydemblem.png" />
            </div>
        </div>
        </a><hr>

        <div class="small-12 large-6 columns padding-40">
            <h2>Online Round 3</h2>
            <h5>ACL Sydney Qualifier</h5>
            <p>ACL League of Legends Online Round 3 acted as a qualifier for ACL Sydney. The top 4 teams were invited to compete at ACL Sydney joined by the top 4 teams from the Oceanic Winter Regional. The winner takes out the lions share of a $6k prize pool along with a spot in the Oceanic Regional Finals.</p>
            <ul class="button-group">
            <li><a href="/archive/2014/acl-league-of-legends-online-round-3.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="/events/2014/online/lol/or3/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/results/2014/lol/or3.html" class="button tiny">Results</a></li>
            <li><a href="http://challonge.com/acl2014lolor3" target="_blank" class="button tiny">Bracket</a></li>
            </ul>
        </div>

        <a href="/results/2014/lol/or3.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" 
           style="background-image: url(/images/lol/splash3.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>

    <div class="graybg">
        <div class="small-12 large-6 columns padding-40">
            <h2>Online Round 2</h2>
            <h5>Winter Regional Qualifier</h5>
            <p>ACL League of Legends Online Round 2 acted as a qualifier for Riots Oceanic Winter Regional Round of 8. The top 2 teams from ACL qualified for their chance to take a share of the $45,000 prize pool.</p>
            <ul class="button-group">
            <li><a href="/archive/2014/acl-league-of-legends-online-round-2.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="/events/2014/online/lol/or2/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/results/2014/lol/or2.html" class="button tiny">Results</a></li>
            <li><a href="http://challonge.com/ACLOR2_A" target="_blank" class="button tiny">Bracket A</a></li>
            <li><a href="http://challonge.com/ACLOR2_B" target="_blank" class="button tiny">Bracket B</a></li>
            </ul>
        </div>

        <a href="/results/2014/lol/or2.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/lol/splash2.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

        <div class="small-12 large-6 columns padding-40">
            <h2>Online Round 1</h2>
            <h5>Autumn Regional Qualifier</h5>
            <p>ACL League of Legends Online Round 1 acted as a qualifier for Riots Oceanic Autumn Regional Round of 8. The top 2 teams from ACL qualified for their chance to take a share of the $45,000 prize pool. </p>
            <ul class="button-group">
            <li><a href="/archive/2014/acl-league-of-legends-online-round-1-2014.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
            </ul>
            <ul class="button-group">
            <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>        
            <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>
            </ul>
        </div>

        <a href="/results/2014/lol/or1.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/lol/splash1.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>       

    </div>
</div>
    
<%= partial "footer" %>
</body>
</html>
