---
title: ACL - StarCraft II 2014 - Results
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/sc2/sc9.jpg);">
        <div>
            <div class="topsectionarticle">
            <h1 class="whitetext">StarCraft II</h1>
            <h5 class="whitetext" style="margin-top: -20px;">2014</h5>
            </div>
        </div>   
    </div>
    
<div class="row">

    <div class="small-12 columns article">

        <div class="padding-0 darkbg">
            <div class="small-12 large-6 columns padding-40 whitetext">
                <h2 class="whitetext">ACL Sydney</h2>
                <p class="whitetext">ACL Sydney was the second ACL LAN event of 2014 for StarCraft II consisting of both pre-seeded and open bracket competitors. This LAN also acted as an official Blizzard qualifier for the American World Championship Series. 1st place during the tournament was offered an invite to compete on the world stage. Competitors played for a share in $7,500 in prize money.</p>
                <ul class="button-group">
                    <li><a href="/events/2014/live/syd2014.html" class="button secondary tiny">Announcement</a></li>
                    <li><a href="/events/2014/live/sc2/syd2014/registered_players.html" class="button secondary tiny">Registered Players</a></li>
                </ul>
                <ul class="button-group">
                    <li><a href="#" class="button tiny">Results (TBD)</a></li>        
                    <li><a href="http://aclsyd14.challonge.com" class="button tiny">Bracket</a></li>
                </ul>
            </div>

            <a href="">
                <div class="small-12 large-6 columns padding-0">
                    <div class="aclcolour" style="background-image: url(/images/sc2/sc11.jpg); background-size: cover;">
                    <img src="/images/syd/2014/sydemblem.png" />
                   </div>
                </div>
            </a><hr>
        </div>

        <h1 class="graytext padding-20">Past Events</h1>

        <div class="small-12 large-6 columns padding-40">
            <h2>Online Round 4</h2>
            <p>ACL StarCraft Online Round 4 acted as the forth of four online qualifiers for ACL's second 2014 LAN event, ACL Sydney. This was the last opportunity for competitors to earn points to seed for the LAN event.</p>
                <ul class="button-group">
                    <li><a href="http://www.sc2sea.com/showthread.php?t=8551" class="button secondary tiny">Announcement</a></li>
                    <li><a href="/events/2014/online/sc2/or4/registered_players.html" class="button secondary tiny">Registered Players</a></li>
                </ul>
                <ul class="button-group">
                    <li><a href="/results/2014/sc2/or4.html" class="button tiny">Results</a></li>        
                    <li><a href="http://2014sc2.challonge.com/ACLOR4" target="_blank" class="button tiny">Bracket</a></li>
                </ul>
        </div>

        <a href="/results/2014/sc2/or4.html">
            <div class="small-12 large-6 columns padding-0">
                <div class="aclcolour" style="background-image: url(/images/sc2/sc10.jpg); background-size: cover;">
                    <img src="/images/online/onlemblem.png" />
                </div>
            </div>
        </a><hr>


        <div class="graybg">
            <div class="small-12 large-6 columns padding-40">
                <h2>Online Round 3</h2>
                <p>ACL StarCraft Online Round 3 acted as an official Blizzard qualifier for the American World Championship Series. 1st place during the tournament was offered an invite to compete on the world stage. The tournament also acted as the third of four online qualifiers for ACL's second 2014 LAN event, ACL Sydney. Competitors played for a share in $2,500 in prize money.</p>
                <ul class="button-group">
                    <li><a href="/archive/2014/wcs-season-3.html" class="button secondary tiny">Announcement</a></li>
                    <li><a href="/events/2014/online/sc2/or3/registered_players.html" class="button secondary tiny">Registered Players</a></li>
                </ul>
                <ul class="button-group">
                    <li><a href="/results/2014/sc2/or3.html" class="button tiny">Results</a></li>        
                    <li><a href="http://wcs2014-aclpro.challonge.com/" target="_blank" class="button tiny">Bracket</a></li>
               </ul>
            </div>

            <a href="/results/2014/sc2/or3.html">
                <div class="small-12 large-6 columns padding-0">
                    <div class="aclcolour" style="background-image: url(/images/sc2/sc15.jpg); background-size: cover;">
                    <img src="/images/online/onlemblem.png" />
                   </div>
                </div>
            </a><hr>
        </div>


        <div class="small-12 large-6 columns padding-40">
            <h2>ACL Brisbane</h2>
            <p>ACL Brisbane was the first ACL LAN event of 2014 for StarCraft II consisting of both pre-seeded and open bracket competitors. Competitors played in two days of competition for a shot at a $1,750 prize pool.</p>
            <ul class="button-group">
                <li><a href="/archive/2014/acl-brisbane-2014.html" class="button secondary tiny">Announcement</a></li>
                <li><a href="/events/2014/live/sc2/bris2014/registered_players.html" class="button secondary tiny">Registered Players</a></li>
            </ul>
            <ul class="button-group">
                <li><a href="/results/2014/sc2/bris2014.html" class="button tiny">Results</a></li>
                <li><a href="http://aclbris14.challonge.com/ACLBRISOB" class="button tiny">Open Bracket</a></li>
                <li><a href="http://aclbris14.challonge.com/ACLBRISCB" class="button tiny">Championship Bracket</a></li>
           </ul>
        </div>

        <a href="/results/2014/sc2/bris2014.html">
            <div class="small-12 large-6 columns padding-0">
                <div class="aclcolour" style="background-image: url(/images/sc2/sc16.jpg); background-size: cover;">
                    <img src="/images/bris/2014/brisemblem.png" />
                </div>
            </div>
        </a><hr>

    <div class="graybg">
        <div class="small-12 large-6 columns padding-40">
            <h2>Online Round 2</h2>
            <p>ACL StarCraft II Online Round 2 acted as the second of two online qualifiers for ACL's first 2014 LAN event, ACL Brisbane. It also provided seeding points for ACL's second 2014 LAN event, ACL Sydney.</p>
            <ul class="button-group">
                <li><a href="/archive/2014/acl-starcraft-ii-online-round-2.html" class="button secondary tiny">Announcement</a></li>
                <li><a href="/events/2014/online/sc2/or2/registered_players.html" class="button secondary tiny">Registered Players</a></li>
            </ul>
            <ul class="button-group">
                <li><a href="/results/2014/sc2/or2.html" class="button tiny">Results</a></li>        
                <li><a href="http://2014sc2.challonge.com/ACLOR2" target="_blank" class="button tiny">Bracket</a></li>
           </ul>
        </div>

        <a href="/results/2014/sc2/or2.html">
            <div class="small-12 large-6 columns padding-0">
                <div class="aclcolour" style="background-image: url(/images/sc2/sc8.jpg); background-size: cover;">
                    <img src="/images/online/onlemblem.png" />
               </div>
            </div>
        </a><hr>
    </div>


        <div class="small-12 large-6 columns padding-40">
            <h2>Online Round 1</h2>
            <p>ACL StarCraft II Online Round 1 acted as the first of two online qualifiers for ACL's first 2014 LAN event, ACL Brisbane. It also provided seeding points for ACL's second 2014 LAN event, ACL Sydney.</p>
            <ul class="button-group">
                <li><a href="/archive/2014/acl-starcraft-ii-online-round-1.html" class="button secondary tiny">Announcement</a></li>
                <li><a href="/events/2014/online/sc2/or1/registered_players.html" class="button secondary tiny">Registered Players</a></li>
            </ul>
            <ul class="button-group">
                <li><a href="/results/2014/sc2/or1.html" class="button tiny">Results</a></li>        
                <li><a href="http://2014sc2.challonge.com/ACLOR1" target="_blank" class="button tiny">Bracket</a></li>
            </ul>
        </div>

        <a href="/results/2014/sc2/or1.html">
            <div class="small-12 large-6 columns padding-0">
                <div class="aclcolour" style="background-image: url(/images/sc2/sc7.jpg); background-size: cover;">
                    <img src="/images/online/onlemblem.png" />
               </div>
            </div>
        </a><hr>
    </div>
           
</div>
    
<%= partial "footer" %>
</body>
</html>
