---
title: ACL - League of Legends 2014 - Results
subtitle: SYDNEY 2014
---

    <div class="row">
        <div class="small-12 columns article padding-40">
        <h1>Online Round 1 - Results</h1>
        <h5>Autumn Regional Qualifier</h5>
        <p>ACL League of Legends Online Round 1 acted as a qualifier for Riots Oceanic Autumn Regional Round of 8. The top 2 teams from ACL qualified for their chance to take a share of the $45,000 prize pool.</p>
            
        <ul class="button-group">
        <li><a href="/articles/2014/acl-league-of-legends-online-round-1-2014.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>        
        <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>
        </ul>    
        </div>
        
    </div>
        
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"><b>Placing</b></th>
    <th style="width:300px" align="left"><b>Team</b></th>
    <th style="width:100px" align="left">Points</th>
    </tr>
  <tr style="width:450px">
    <td>1st</td>
    <td>Your Soul Shall Chuffer</td>
    <td>5000</td>
  </tr>
<tr>
    <td>2nd</td>
    <td>Little Wraith</td>
    <td>4400</td>
  </tr>
<tr>   
    <td>3rd</td>
    <td>Best League Guild</td>
    <td>4000</td>
  </tr>
<tr>  
    <td>4th</td>
    <td>Mindfreak</td>
    <td>3660</td>
  </tr>
<tr> 
    <td>5th</td>
    <td>Orbit Prime</td>
    <td>3340</td>
  </tr>
<tr>
    <td>6th</td>
    <td>Sudden Burst Gaming</td>
    <td>3040</td>
  </tr>
<tr>
    <td>7th</td>
    <td>Noxious Rebellion</td>
    <td>2760</td>
  </tr>
<tr>
    <td>8th</td>
    <td>Resolute Oneiric</td>
    <td>2500</td>
  </tr>
<tr>
    <td>9th</td>
    <td>Team 4Not</td>
    <td>2240</td>
  </tr>
<tr>
    <td>10th</td>
    <td>Sydney Asian Gaming</td>
    <td>2000</td>
  </tr>
<tr>
    <td>11th</td>
    <td>Imperious</td>
    <td>1760</td>
  </tr>
<tr>
    <td>12th</td>
    <td>Team McN</td>
    <td>1540</td>
  </tr>
<tr>
    <td>13th</td>
    <td>Fruit Basket</td>
    <td>1340</td>
  </tr>
<tr>
    <td>14th</td>
    <td>Stacked Deck</td>
    <td>1160</td>
  </tr>
<tr>
    <td>15th</td>
    <td>FlapTatBird</td>
    <td>1000</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>Cant Say</td>
    <td>860</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>Seraphic Nexus</td>
    <td>740</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>District Attorneys</td>
    <td>620</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>Qlimax Crew</td>
    <td>500</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>420 Weed Wizard Gaming</td>
    <td>380</td>
  </tr>
  <tr>
    <td>21st</td>
    <td>Four C One D</td>
    <td>280</td>
  </tr>
  <tr>
    <td>22nd</td>
    <td>Bulktech Gaming Esports Legit Gaming</td>
    <td>200</td>
  </tr>
  <tr>
    <td>23rd</td>
    <td>Amumu Frost</td>
    <td>140</td>
  </tr>
  <tr>
    <td>24th</td>
    <td>Just Meerkats</td>
    <td>100</td>
  </tr>
</table>
</div>
</div>
    
</div>
  