---
title: ACL - League of Legends 2014 - Results
subtitle: SYDNEY 2014

---

    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      

    <div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">ACL Sydney</h2>
            <h5 class="whitetext">National Event, Oceanic Regional Final Qualifier</h5>
            <table>
                  <tr style="width:450px">
                    <th style="width:50px" align="left"><b>Placing</b></th>
                    <th style="width:300px" align="left"><b>Team</b></th>
                    <th style="width:100px" align="left">Points</th>
                    </tr>
                    <tr style="width:450px">
                    <td>1st</td>
                    <td>Team Immunity</td>
                    <td>12500</td>
                    </tr>
                    <tr>
                    <td>2nd</td>
                    <td>Ex Dreamers</td>
                    <td>11000</td>
                    </tr>
                    <tr>   
                    <td>3rd</td>
                    <td>Legacy</td>
                    <td>10000</td>
                    </tr>
                    <tr>  
                    <td>4th</td>
                    <td>Your Soul Shall Chuffer</td>
                    <td>9150</td>
                    </tr>
            </table>
            <ul class="button-group">
            <li><a href="/results/2014/lol/syd2014.html" class="button tiny">Full Event Details</a></li>
            </ul>
        </div>

        <a href="/results/2014/lol/or3.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/lol/splash4.jpg); background-size: cover;">
            <img src="/images/syd/2014/sydemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>
    
    <div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">Online Round 3</h2>
            <h5 class="whitetext">ACL Sydney Qualifier</h5>
            <table>
                  <tr style="width:450px">
                    <th style="width:50px" align="left"><b>Placing</b></th>
                    <th style="width:300px" align="left"><b>Team</b></th>
                    <th style="width:100px" align="left">Points</th>
                    </tr>
                    <tr style="width:450px">
                    <td>1st</td>
                    <td>r u playing 4 a medal</td>
                    <td>5000</td>
                    </tr>
                    <tr>
                    <td>2nd</td>
                    <td>Ex Dreamers</td>
                    <td>4400</td>
                    </tr>
                    <tr>   
                    <td>3rd</td>
                    <td>Team Immunity</td>
                    <td>4000</td>
                    </tr>
                    <tr>  
                    <td>4th</td>
                    <td>Your Soul Shall Chuffer</td>
                    <td>3660</td>
                    </tr>
            </table>
            <ul class="button-group">
            <li><a href="/results/2014/lol/or3.html" class="button tiny">Full Event Details</a></li>
            </ul>
        </div>

        <a href="/results/2014/lol/or3.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/lol/splash3.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

    <div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">Online Round 2</h2>
            <h5 class="whitetext">Winter Regional Qualifier</h5>
            <table>
                  <tr style="width:450px">
                    <th style="width:50px" align="left"><b>Placing</b></th>
                    <th style="width:300px" align="left"><b>Team</b></th>
                    <th style="width:100px" align="left">Points</th>
                    </tr>
                  <tr style="width:450px">
                    <td>1st</td>
                    <td>Avant Garde Ascension</td>
                    <td>5000</td>
                  </tr>
                <tr>
                    <td>2nd</td>
                    <td>Team Nv</td>
                    <td>4400</td>
                  </tr>
                <tr>   
                    <td>3rd</td>
                    <td>Dignitas</td>
                    <td>4000</td>
                  </tr>
                <tr>  
                    <td>4th</td>
                    <td>Little Dorito</td>
                    <td>3660</td>
                  </tr>
            </table>
            <ul class="button-group">
            <li><a href="/results/2014/lol/or2.html" class="button tiny">Full Event Details</a></li>
            </ul>
        </div>

        <a href="/results/2014/lol/or2.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/lol/splash2.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

    <div class="padding-0 darkbg">
        <div class="small-12 large-6 columns padding-40 whitetext">
            <h2 class="whitetext">Online Round 1</h2>
            <h5 class="whitetext">Autumn Regional Qualifier</h5>
            <table>
                  <tr style="width:450px">
                    <th style="width:50px" align="left"><b>Placing</b></th>
                    <th style="width:300px" align="left"><b>Team</b></th>
                    <th style="width:100px" align="left">Points</th>
                    </tr>
                  <tr style="width:450px">
                    <td>1st</td>
                    <td>Your Soul Shall Chuffer</td>
                    <td>5000</td>
                  </tr>
                <tr>
                    <td>2nd</td>
                    <td>Little Wraith</td>
                    <td>4400</td>
                  </tr>
                <tr>   
                    <td>3rd</td>
                    <td>Best League Guild</td>
                    <td>4000</td>
                  </tr>
                <tr>  
                    <td>4th</td>
                    <td>Mindfreak</td>
                    <td>3660</td>
                  </tr>
            </table>      
            <ul class="button-group">
            <li><a href="/results/2014/lol/or1.html" class="button tiny">Full Event Details</a></li>
            </ul>
        </div>

        <a href="/results/2014/lol/or1.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/lol/splash1.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
        </div>
    </div>

