---
title: ACL - StarCraft II Sydney 2014 - Registered Players
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/sc2/sc11.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>ACL Sydney - Registered Players</h1>
        <p>ACL Sydney was the second ACL LAN event of 2014 for StarCraft II consisting of both pre-seeded and open bracket competitors. This LAN also acted as an official Blizzard qualifier for the American World Championship Series. 1st place during the tournament was offered an invite to compete on the world stage. Competitors played for a share in $7,500 in prize money.
        <br>
        <br></p>
            
        <ul class="button-group">
            <li><a href="/events/2014/live/syd2014.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="/events/2014/live/sc2/syd2014/registered_players.html" class="button secondary tiny">Registered Players</a></li>
            <li><a href="" class="button tiny">Results</a></li>        
            <li><a href="" target="_blank" class="button tiny">Bracket</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-4 large-10 columns">  

<table>
  <tr >
    <td>NaMek</td>
    <td>Soundwave</td>
    <td>Petrify</td>   
  </tr>
  <tr >
    <td>Maru</td>
    <td>HuT</td>
    <td>Skayer</td>   
  </tr>
  <tr >
    <td>RivaL</td>
    <td>Law</td>
    <td>Aiya</td>   
  </tr>
  <tr >
    <td>JaYbOc</td>
    <td>NXZ</td>
    <td>Alopex</td>   
  </tr>
  <tr >
    <td>Blysk</td>
    <td>Revenant</td>
    <td>Arrogance</td>   
  </tr>
  <tr >
    <td>Raziel</td>
    <td>Peppy</td>
    <td>Kevin Satria</td>   
  </tr>
  <tr >
    <td>Hydro</td>
    <td>KingKong</td>
    <td>Ninja</td>   
  </tr>
  <tr >
    <td>DLavegaNyx</td>
    <td>MightyKiwi</td>
    <td>Valheru</td>   
  </tr>
  <tr >
    <td>Ayr</td>
    <td>Pox</td>
    <td>Slayer</td>   
  </tr>
  <tr >
    <td>Wally</td>
    <td>Phoenix</td>
    <td>Kez</td>   
  </tr>
  <tr >
    <td>Apocolypse</td>
    <td>Pezz</td>
    <td>Schnitzel</td>   
  </tr>
  <tr >
    <td>Iaguz</td>
    <td>ChoboSniper</td>
    <td>DevianT</td>   
  </tr>
  <tr >
    <td>Frustration</td>
    <td>South</td>
    <td>Pressure</td>   
  </tr>
  <tr >
    <td>Probe</td>
    <td>Kreamy</td>
    <td>Crimson</td>   
  </tr>
  <tr >
    <td>FIGHTO</td>
    <td>Yours</td>
    <td>Azz</td>   
  </tr>
  <tr >
    <td>Syntox</td>
    <td>Vivid</td>
    <td>Fergs</td>   
  </tr>
  <tr >
    <td>KIkkoman</td>
    <td>Val</td>
    <td>Alpha</td>   
  </tr>
  <tr >
    <td>deL</td>
    <td>RunaMok</td>
    <td>Melord</td>   
  </tr>
  <tr >
    <td>Djvillian</td>
    <td></td>
    <td></td>   
  </tr>

</table>
</div>
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
