---
title: ACL - Call of Duty 2014 - Results
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
        <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod4.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>ACL 2K Series 08-06 - Results</h1>
        <p>
        The ACL 2K Series 08-06 hosted the best Call of Duty: Ghosts players and teams in ANZ. With 2000 MLG Pro Points on the line, as well as determining seeding for ACL Sydney, a lot was on the line for competitiors. All ACL 2K Series award ANZ players with MLG Pro Points that benefit players locally and internationally.
        </p>
            
            <ul class="button-group">
            <li><a href="/archive/2014/cod-ghosts-acl-2k-series-08-06.html" class="button secondary tiny">Announcement</a></li>
            <li><a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg2k-series-08-06/teams" class="button secondary tiny">Registered Teams</a></li>
            <li><a href="/results/2014/cod/2k08-06.html" class="button tiny">Results</a></li>        
            <li><a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg2k-series-08-06/bracket" target="_blank" class="button tiny">Bracket</a></li>
            </ul>   
        </div>
        
    </div>
        
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"><b>Placing</b></th>
    <th style="width:300px" align="left"><b>Team</b></th>
    <th style="width:100px" align="left">Points</th>
    </tr>
  <tr style="width:450px">
    <td>1st</td>
    <td>Immunity</td>
    <td>2000</td>
  </tr>
<tr>
    <td>2nd</td>
    <td>Curse AU</td>
    <td>1200</td>
  </tr>
<tr>   
    <td>3rd</td>
    <td>Moomies</td>
    <td>800</td>
  </tr>
<tr>  
    <td></td>
    <td>Storm.CP</td>
    <td>800</td>
  </tr>
<tr> 
    <td>5th</td>
    <td>2XO</td>
    <td>600</td>
  </tr>
<tr>
    <td></td>
    <td>Royal</td>
    <td>600</td>
  </tr>
<tr>
    <td></td>
    <td>PF.Fame</td>
    <td>600</td>
  </tr>
<tr>
    <td></td>
    <td>Ugly Doss</td>
    <td>600</td>
  </tr>
<tr>
    <td>9th</td>
    <td>Muffin Stuffe</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>No Sympathy Nz</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>TODORRRRRRRR</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>Dynasty Org</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>neco</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>TBA</td>
    <td>400</td>
  </tr>
<tr>
    <td></td>
    <td>~Team Audacity~</td>
    <td>400</td>
  </tr>
  <tr>
    <td></td>
    <td>holla the goat</td>
    <td>400</td>
  </tr>
  <!--<tr>
    <td>17th</td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>
  <tr>
    <td></td>
    <td>placeholder</td>
    <td>200</td>
  </tr>-->
</table>
</div>
</div>
    
</div>
    
<%= partial "footer" %>
</body>
</html>
