---
title: ACL - Call of Duty 2014 - Results
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
        <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod10.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>ACL Brisbane - Results</h1>
        <h5>National Event & MLG Anaheim Qualifier</h5>
        <p>
        ACL Brisbane was the first ACL LAN event of 2014 ACL Pro Cricuit. Players were competing for 10,000 MLG Pro Points, a $3,000 prize pool, the title of ANZ Champions and a direct seed into the International League Playoffs at MLG Anaheim.
        </p>
            
        <ul class="button-group">
        <li><a href="/archive/2014/acl-brisbane-2014.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/live/cod/bris2014/registered_teams.html" class="button secondary tiny">Registered Players</a></li>
        <li><a href="/results/2014/cod/bris2014.html" class="button tiny">Results</a></li>
        <li><a href="http://aclbris14.challonge.com" class="button tiny">Open Bracket</a></li>
        </ul>    
        </div>
        
    </div>
        
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"><b>Placing</b></th>
    <th style="width:300px" align="left"><b>Player</b></th>
    <th style="width:100px" align="left">Points</th>
    </tr>
  <tr style="width:450px">
    <td>1st</td>
    <td>Team Immunity</td>
    <td>10000</td>
  </tr>
<tr>
    <td>2nd</td>
    <td>Curse AU</td>
    <td>6000</td>
  </tr>
<tr>   
    <td>3rd</td>
    <td>Avant Garde</td>
    <td>4400</td>
  </tr>
<tr>  
    <td>4th</td>
    <td>TRIDENT.Rebellion</td>
    <td>3600</td>
  </tr>
<tr> 
    <td>5th</td>
    <td>Team Storm: CP</td>
    <td>3200</td>
  </tr>
<tr>
    <td></td>
    <td>Pathfinder.Fame</td>
    <td>3200</td>
  </tr>
<tr>
    <td>7th</td>
    <td>MEGA</td>
    <td>2800</td>
  </tr>
<tr>
    <td></td>
    <td>Plantronics.Nv</td>
    <td>2800</td>
  </tr>
<tr>
    <td>9th</td>
    <td>2XO</td>
    <td>2200</td>
  </tr>
<tr>
    <td></td>
    <td>Royal</td>
    <td>2200</td>
  </tr>
<tr>
    <td></td>
    <td>Dynasty eSports</td>
    <td>2200</td>
  </tr>
<tr>
    <td></td>
    <td>BewaRe AU</td>
    <td>2200</td>
  </tr>
<tr>
    <td>13th</td>
    <td>Notorious Sin</td>
    <td>1800</td>
  </tr>
<tr>
    <td></td>
    <td>Category 5</td>
    <td>1800</td>
  </tr>
<tr>
    <td></td>
    <td>Fragment AU</td>
    <td>1800</td>
  </tr>
  <tr>
    <td></td>
    <td>Cipher Union</td>
    <td>1800</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>Team Orb</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Eye Candy</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>eG Team Pure</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Power</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>it's a curse</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Fariko Gaming : DARK</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Pandemic</td>
    <td>1200</td>
  </tr>
  <tr>
    <td></td>
    <td>Omari</td>
    <td>1200</td>
  </tr>
</table>
</div>
</div>
    
</div>
    
<%= partial "footer" %>
</body>
</html>
