<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod9.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="goldtext">CoD: Ghosts ACL 2K Series 24-08</h1>
        <p class="smalltext"><i>August 15 2014 by Beware</i></p>
        <p>We are proud to announce the ACL 4v4 MLG Variant 2K Series 06-07 Tournament, the final 2K Series before ACL Sydney and your last chance to earn valuable MLG Pro Points to seed your team at Sydney! Throughout 2014, ACL Call of Duty Online Tournaments will operate through the GameBattles platform awarding participants with valuable MLG Pro Points that will benefit players domestically and internationally.</p>

            <p><b>Date:</b><br>
            Sunday August 24th
            </p>
            <p>
            <b>Time:</b>
            <br>Registration Ends: Sun 24th August, 11:50 AM AEST
            <br>Tournament Bracket Play Starts: Sun 24th August, 12:00 PM AEST
            </p>
            
            <p><b>Structure:</b> 
            <br>The ACL 4v4 MLG Variant 2K Series 24-08 is a Single Elimination tournament. Best of 3 series will be played until the Quarterfinals (Ro8) when matches become a best of 5 series. 
            </p>

            <p><b>Registration:</b> 
            <br>Registration is open for the ACL 4v4 MLG Variant 2K Series 24-08! To register visit the tournament page on GameBattles <a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg-variant-2k-08-25">here</a>. You can your change your team lineup at any time before Registration closes.
            </p>

            <p><b>Registered Teams:</b>
            <br>See which teams have signed up for the ACL 4v4 MLG Variant 2K Series 24-08 by visiting the Teams tab <a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg-variant-2k-08-25/teams">here</a>.
            </p>

            <p><b>Rules:</b>
            <br>Make sure you and your team are familiar with the rules of MLG 2k Series Tournaments, the rules for the ACL 4v4 MLG 2K Series 24-08 can be found <a href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-ghosts/tournament/acl-4v4-mlg-variant-2k-08-25/rules">here</a>.
            </p>

            <p><b>Tournament Admins:</b>
            <br>The ACL 4v4 MLG Variant 2K Series 24-08 is hosted on GameBattles and you can seek the help of their support staff for any issues during the tournament here. We will also have our own ACL Admins on hand to help with any issues you may have during the tournament.</p>

            <p><b>ACL Neon:</b>
            <br>XBL: Neon xxv
            <br>Skype: scott.neon</p>

            <p><b>ACL Hoggy:</b>
            <br>XBL: ACL Hoggy
            <br>Skype: hoggy912</p>

            <p><b>MLG.tv:</b> 
            <br>You can catch all the action from the ACL 4v4 MLG Variant 2K Series 24-08 on <a href="http://www.mlg.tv/ACL">MLG.tv/ACL</a>.</p>
            
        
        </div>
    
    </div>
    
<%= partial "footer" %>