---
title: ACL - Call of Duty Brisbane - Registered Teams
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod10.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>ACL Brisbane - Registered Teams</h1>
        <h5>National Event & MLG Anaheim Qualifier</h5>
        <p>
        ACL Brisbane was the first ACL LAN event of 2014 ACL Pro Cricuit. Players were competing for 10,000 MLG Pro Points, a $3,000 prize pool, the title of ANZ Champions and a direct seed into the International League Playoffs at MLG Anaheim.
        </p>
            
        <ul class="button-group">
        <li><a href="/archive/2014/acl-brisbane-2014.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/live/cod/bris2014/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/cod/bris2014.html" class="button tiny">Results</a></li>
        <li><a href="http://aclbris14.challonge.com/" class="button tiny">Bracket</a></li>
        </ul>
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<table>
<tbody>
    
<tr>
<td class="regteambox">MEGA</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">MEGA Eminence<span class="smalltext">CAPTAIN</span></li>
<li>MEGA Bacabec<span class="smalltext">PLAYER</span></li>
<li>MEGA Hydraa<span class="smalltext">PLAYER</span></li>
<li>MEGA Killerpie<span class="smalltext">PLAYER</span></li>
</ol>
</td>      
</tr>
    
<tr>
<td class="regteambox">Team Immunity</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">iM NakeZe intel<span class="smalltext">CAPTAIN</span></li>
<li>iM BuZZO intel<span class="smalltext">PLAYER</span></li>
<li>iM Fighta intel<span class="smalltext">PLAYER</span></li>
<li>iM Shockz intel<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Fame</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Fame Bundo<span class="smalltext">CAPTAIN</span></li>
<li>Fitzy xx<span class="smalltext">PLAYER</span></li>
<li>Fame Bluee<span class="smalltext">PLAYER</span></li>
<li>Kritikal Motion<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Fariko Gaming : DARK</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Fariko SiIentt<span class="smalltext">CAPTAIN</span></li>
<li>Fariko Kambii<span class="smalltext">PLAYER</span></li>
<li>Fariko SmiIey<span class="smalltext">PLAYER</span></li>
<li>Marley UK<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Pandemic</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Kovak PD<span class="smalltext">CAPTAIN</span></li>
<li>Rascal PD<span class="smalltext">PLAYER</span></li>
<li>Taank PD<span class="smalltext">PLAYER</span></li>
<li>Dahmzy PD<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Royal</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Royal Excitee<span class="smalltext">CAPTAIN</span></li>
<li>Royal Ridi<span class="smalltext">PLAYER</span></li>
<li>Royal Yelzah<span class="smalltext">PLAYER</span></li>
<li>Royal Swiftyy<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Cipher Union</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Cipher Flarez<span class="smalltext">CAPTAIN</span></li>
<li>Cipher Nimble<span class="smalltext">PLAYER</span></li>
<li>Cipher Darrkii<span class="smalltext">PLAYER</span></li>
<li>Cipher Pastilz<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Power</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Pwr Invincible<span class="smalltext">CAPTAIN</span></li>
<li>Pwr Infernus<span class="smalltext">PLAYER</span></li>
<li>Pwr Cynda<span class="smalltext">PLAYER</span></li>
<li>Pwr Rival<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Fragment AU</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Frag Vurk<span class="smalltext">CAPTAIN</span></li>
<li>Frag Roid<span class="smalltext">PLAYER</span></li>
<li>Frag Axiiee<span class="smalltext">PLAYER</span></li>
<li>Frag Broxii<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">BewaRe Au</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">atingleee<span class="smalltext">CAPTAIN</span></li>
<li>Pervulance<span class="smalltext">PLAYER</span></li>
<li>krftzY<span class="smalltext">PLAYER</span></li>
<li>SPAS xMonkey<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">eG Team Pure</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Pure Jaga<span class="smalltext">CAPTAIN</span></li>
<li>upRize PanDa<span class="smalltext">PLAYER</span></li>
<li>Pure Pixzah<span class="smalltext">PLAYER</span></li>
<li>Pure Bigholla<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Plantronics.Nv</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Nv Claw<span class="smalltext">CAPTAIN</span></li>
<li>Nv Puzz<span class="smalltext">PLAYER</span></li>
<li>Nv Fergz<span class="smalltext">PLAYER</span></li>
<li>Maljy<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Category 5</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Fate J95<span class="smalltext">CAPTAIN</span></li>
<li>Iunaar<span class="smalltext">PLAYER</span></li>
<li>Vrnzn<span class="smalltext">PLAYER</span></li>
<li>Trent S2<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Orb</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Orb Jinksss<span class="smalltext">CAPTAIN</span></li>
<li>Orb xMiLo<span class="smalltext">PLAYER</span></li>
<li>Orb Blaize<span class="smalltext">PLAYER</span></li>
<li>Orb Prophecy<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">TRIDENT.Rebellion</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Joelteon<span class="smalltext">CAPTAIN</span></li>
<li>Vqnishh<span class="smalltext">PLAYER</span></li>
<li>Rivaaaal<span class="smalltext">PLAYER</span></li>
<li>Wolfeyyy<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Avant Garde</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">AVANT Vilesyder<span class="smalltext">CAPTAIN</span></li>
<li>AVANT Hopey<span class="smalltext">PLAYER</span></li>
<li>AVANT Khooie<span class="smalltext">PLAYER</span></li>
<li>AVANT Macka<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Storm: CP</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Beastnnnn<span class="smalltext">CAPTAIN</span></li>
<li>WannagoImRiqzy<span class="smalltext">PLAYER</span></li>
<li>Louqa<span class="smalltext">PLAYER</span></li>
<li>iM Rampzl intel<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Dynasty eSports</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Dynasty Lakie<span class="smalltext">CAPTAIN</span></li>
<li>Dynasty Brown<span class="smalltext">PLAYER</span></li>
<li>Dynasty Mara<span class="smalltext">PLAYER</span></li>
<li>Dynasty Astarz<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Curse</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">CrsIskatu<span class="smalltext">CAPTAIN</span></li>
<li>CrsDamage<span class="smalltext">PLAYER</span></li>
<li>CrsDenz<span class="smalltext">PLAYER</span></li>
<li>CrsChilean<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Eye Candy</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">TRIDENT Pxlse<span class="smalltext">CAPTAIN</span></li>
<li>Mephmz<span class="smalltext">PLAYER</span></li>
<li>Poohhhhh<span class="smalltext">PLAYER</span></li>
<li>Pongul<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">2XO</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Quinzay<span class="smalltext">CAPTAIN</span></li>
<li>bennotronica<span class="smalltext">PLAYER</span></li>
<li>TRIDENT zeeeeQ<span class="smalltext">PLAYER</span></li>
<li>Mental LB<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Notorious Sin</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Sin Yoshii<span class="smalltext">CAPTAIN</span></li>
<li>Sin Goondi<span class="smalltext">PLAYER</span></li>
<li>Sin Dizzleee<span class="smalltext">PLAYER</span></li>
<li>Saysja<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Omari</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Omari Rob<span class="smalltext">CAPTAIN</span></li>
<li>Omari Fro<span class="smalltext">PLAYER</span></li>
<li>Omari Exploit<span class="smalltext">PLAYER</span></li>
<li>Galaxy<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">it's a curse</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">slayerkill01<span class="smalltext">CAPTAIN</span></li>
<li>What The Doss<span class="smalltext">PLAYER</span></li>
<li>eZentrik<span class="smalltext">PLAYER</span></li>
<li>TR H1TMAN<span class="smalltext">PLAYER</span></li>
<li>Snx Kathy<span class="smalltext">PLAYER</span></li>
<li class="graytext">xDerek<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
   
</tbody>
</table>
    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
