---
title: Australian Cyber League
---
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

    <div class="articlecover small-12 columns" style="background-image: url(/images/syd/2014/sydbg.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1 class="bluetext">Australian Cyber League is returning to Sydney this July with the largest event it has ever held.</h1>
        <p><i>June 20 2014 by Beware</i></p>
        <p>Back in January we released preliminary details for the 2014 ACL Pro Circuit, which revealed our initial plans for ACL Sydney. As we announced back then, ACL Sydney will be held at the Australian Technology Park - the same venue that housed the 2012 Blizzard WCS Australia/Oceania Finals! Come join us for the largest multi-title eSports event that Australia has ever seen where ACL truly brings gaming to the next level.</p>
        </div>
        
        <div class="small-12 columns padding-20 center">
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.plantronics.com/au/gaming">
                    <img src="/images/sponsors/plantronics.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.nvidia.com">
                    <img src="/images/sponsors/nvidia.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.gigabyte.com">
                    <img src="/images/sponsors/gigabyte.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.gaming.benq.com">
                    <img src="/images/sponsors/benq.png" width="75%"/>
                </a>
            </div>
        </div>
        
        <div><p class="empty">Ummmm, this is a tasty burger!</p></div>
    
    </div>
    
        <div class="row">
        
        <div class="small-12 columns articlebody padding-40">
    
    <div class="small-12 columns articlebox" style="background-image: url(/images/syd/2014/venue.jpg); margin-bottom: 20px;">
        <div class="text-center whitetext" style="margin-top: 60px;">
           <h5 class="whitetext">Venue</h5>
           <p>__________</p>
           <ul class="no-bullet">
               <li>Australian Technology Park</li>
               <li>2, Locomotive St</li>
               <li>Eveleigh</li>
               <li>NSW, 2015</li>
           </ul>
       </div>
    </div>
            
           <p>Check out some more photos of the venue <a href="https://www.facebook.com/media/set/?set=a.10151180833938092.507499.240252393091&type=3">here</a></p>
           
        </div>
        </div>
        
           <img src="/images/syd/2014/sixtitles.jpg" />
        
        <div class="row">
        <div class="small-12 columns articlebody padding-40">
        
           <h4 class="bluetext">Titles</h4>
           <p>We are pulling out all the stops for our largest ACL event to date! As such, ACL Sydney will host 3 additional titles alongside our Pro Circuit regulars, which means we will have 6 total game titles available in July!</p>
           <ul class="no-bullet">
               <li>League of Legends - 5v5 - PC</li>
               <li>Starcraft 2: Heart of the Swarm - 1v1 - PC</li>
               <li>Call of Duty: Ghosts - 4v4 - Xbox One</li>
               <li>Hearthstone: Heroes of Warcraft - 1v1 - PC</li>
               <li>FIFA 14 - 1v1 - Xbox One</li>
               <li>Super Smash Bros Melee & Brawl & Project M - Gamecube & Wii</li>
          </ul>
          
          <h4 class="bluetext">Registration</h4>
          <ul class="no-bullet">
            <li>Register for Starcraft 2: Heart of the Swarm <a href="http://form.jotformpro.com/form/41249259329966?">here</a></li>
            <li>Register for Call of Duty: Ghosts <a href="http://form.jotformpro.com/form/41752290270955?">here</a></li>
            <li>Register and pay for FIFA 14 <a href="http://form.jotformpro.com/form/41801165888966?">here</a></li>
            <li>Register for Super Smash Bros <a href="http://form.jotformpro.com/form/41751804437960?">here</a></li>
         </ul>
         <p>League of Legends is an invite only event, as such there is no open registration. <br>
            There is no registration for Hearthstone, just show up and play!</p>
            
           <h4 class="bluetext">Dates & Schedule</h4>
           <ul class="no-bullet">
               <li>Saturday, July 19th - 9:00AM to 7:00PM</li>
               <li>Sunday, July 20th - 9:00AM to 7:00PM</li>
               <li>Click <a href="/images/syd/2014/ACLSydney2014_Schedule1.pdf">here</a> for the schedules of Call of Duty, Starcraft 2, League of Legends.</li>
               <li>Click <a href="/images/syd/2014/ACLSydney2014_Schedule2.pdf">here</a> for the schedules of FIFA 14 and Super Smash Brothers.</li>
           </ul>
           
           <h4 class="bluetext">Spectating</h4>
           <p>Come down and enjoy all the action, spectating for this event will be free across the whole event!</p>
           
           <h4 class="bluetext">Prizes</h4>
           <h6 class="bluetext">Starcraft 2: Heart of the Swarm - $7,500</h6>
           <ol>
               <li>$3,000</li>
               <li>$2,000</li>
               <li>$1,000</li>
               <li>$500</li>
               <li>$300</li>
               <li>$300</li>
               <li>$200</li>
               <li>$200</li>
           </ol>

           <h6 class="bluetext">League of Legends - $6,000</h6>
           <ol>
               <li>$3,000</li>
               <li>$2,000</li>
               <li>$1,000</li>
           </ol>
           
           <h6 class="bluetext">Hearthstone: Heroes of Warcraft</h6>
           <p>Win some sweet Hearthstone loot prizes and bring your iPad to join in the fun!</p>
            
           <h6 class="bluetext">FIFA 14 - $5000</h6>
           <ol>
               <li>Flights & Accommodation to the ESWC 2014 Final in Paris</li> 
               <li>$350</li>
               <li>$150</li>
           </ol>
            
           <h6 class="bluetext">Call of Duty: Ghosts - $3,500<span class="redtext">*</span></h6>
           <ol>
           <li>$2,000</li>
           <li>$1,000</li>
           <li>$500</li>
           </ol>
           <p><span class="redtext">*</span>Maximum prize pool based on 20 teams in attendance. If under 20 teams, the prize pool will decrease.</p>
            
            <h6 class="bluetext">Super Smash Brothers</h6>
            <p>Seperate announcement to follow.</p>
            
            <h4 class="bluetext"> Structure</h4>
            <h6 class="bluetext">Call of Duty: Ghosts</h6>
            <p>All teams will be placed into Pool Play seeded by MLG Pro Points. The top 4 teams with the most MLG Pro Points will be placed into Pro Pool Play. The results from Pro Pool Play will dictate the top 4 seeds in the 16 team Championship Double Elimination bracket, then Open Pool Play results will then dictate the other 12 teams that progress to the Double Elimination bracket and their seeds. The Double Elimination bracket will be played out in full until a Winner is crowned.</p>
            
            <p><b>Entry Fee:</b> $50 per person, $200 per team.</p>
            
            <p><b>Equipment Requirements:</b> BYO. This includes, but is not limited to: an Xbox One (and all cords), Monitor, Controller, Headset, Game Disk, and anything else you require to play.</p>
            
            <h6 class="bluetext">Starcraft 2: Heart of the Swarm</h6>
            <p>The 16 highest seeded players leading into ACL Sydney, based on yearly ACL Points, will be pre-seeded into the Group Stage. Group Stage consists of 4 Groups of 6 players. All Open Players will participate in the Open Bracket, which will consist of multiple Double Elimination brackets. The top players from each Double Elimination Bracket will progress to Group Stage. In Group Stage all players from each group will play against every competitor in their group. The top players from each group will progress to the Championship Bracket. Further information on the Championship Bracket will be released shortly. The top 8 placing players in the Championship Bracket wil</p>
            
            <p><b>Entry Fees:</b> $55 per person for Group Stage, $30 per person for Open Bracket. The top 8 players that progress from the Open Bracket must pay an additional $25 at the time of their progression.</p>
            
            <p><b>Equipment Requirements:</b> Headset, Keyboard, Mouse and Mousepad. Limited generic equipment is available for hire from ACL if required.</p>
            
            <h6 class="bluetext">League of Legends</h6>
            <p>8 teams invite only. The top 8 placing teams from ACL League of Legends Online Round 3 will earn an invite to ACL Sydney. All teams will participate in Pool Play, which will consist of two pools of 4 teams. Pool Play results will then seed the 8 team Championship Double Elimination bracket. The Double Elimination bracket will be played out in full until a Winner is crowned.</p>
            
            <p><b>Entry Fees:</b> $50 per person, $250 per team.</p>
            
            <p><b>Equipment Requirements:</b> Headset, Keyboard, Mouse and Mousepad.</p>
            
            <h6 class="bluetext">FIFA 14</h6>
            <p>Structure based on 32 competitors: All competitors will be placed into Pool Play. Pool Play will consist of 8 pools of 4 players. In Pool Play all competitors in each Pool will play against all their opponents twice. From Pool Play, the top 2 players based on Pool Play results will advance to a 16 player Double Elimination bracket. The Double Elimination bracket will play out until a Winner is crowned.</p>
            
            <p><b>Entry Fees:</b> $30 per person.</p>
            
            <p><b>Equipment Requirements:</b> Xbox One Controller</p>

            <h6 class="bluetext">Super Smash Bros.</h6>
            
            <p><b>Entry Fees:</b> $40 per person + Tournament Entry Fees.</p>
            
            <h6 class="bluetext">Hearthstone: Heroes of Warcraft details</h6>

            <p>Hearthstone is free to play!</p>
           
        </div>
        </div>
       
       <div class="small-12 columns articlebox height-200" style="background-image: url(/images/syd/2014/sydbg.jpg); margin-bottom: 20px;">
        </div>
        
   <div class="row">
   
       <div class="small-12 columns articlebody padding-40">
           
           <h4 class="bluetext">Preceding Online Tournaments</h4>
           <p>Seeding for ACL Sydney will be based on the ACL 2K Series results which earned teams MLG Pro Points. Those results can be found <a href="/results/2014/cod/results.html">here.</a><br>League of Legends teams and players will have earned invites dependant on their placing for ACL League of Legends Online Round 3, those results can be found <a href="/results/2014/lol/or3.html">here.</a></p>
           
           <h4 class="bluetext">Transportation</h4>
           <p>The Australian Technology Park is located approximately 5km from Sydney's central business district, 8km from Sydney Airport and within 200m of Sydney’s rail network. Whether you’re travelling by car, rail or bus, follow the directions found <a href="http://www.atp.com.au/Our-Location/How-to-find-us/How-to-find-us">here</a></p>
           
           <h4 class="bluetext">Flights</h4>
           <p>For the cheapest possible flights we recommend you search through <a href="http://www.atp.com.au/Our-Location/How-to-find-us/How-to-find-us">Webjet</a> on your required dates, and then use the specific airline company to book your flights.</p>
        </div>
    
    </div>
    
<%= partial "footer" %>