---
title: ACL - League of Legends Sydney 2014 - Registered Teams
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/syd/2014/sydbg.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>ACL Sydney - Registered Teams</h1>
        <h5>National Event & Oceanic Regional Finals Qualifier</h5>
        <p>ACL Sydney is ACLs first live national event for League of Legends in 2014. With a prize pool of $6k and the winner receiving a spot in Riots Oceanic Regional Final Round of 8 teams have plenty to work towards.</p>
            
        <ul class="button-group">
        <li><a href="/events/2014/live/syd2014.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/live/lol/syd2014/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <!--<li><a href="/results/2014/lol/syd2014.html" class="button tiny">Results</a></li>-->
        <li><a href="/events/2014/live/lol/syd2014/groups.html" class="button tiny">Group Stage</a></li>        
        <li><a href="/events/2014/live/lol/syd2014/bracket.html" class="button tiny">Bracket</a></li>
        </ul>     
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<table>
<tbody>
    
<tr>
<td class="regteambox">
Team UTS
<br><span class="smalltext">r u playing 4 a medal</span>
</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">chenyboy<span class="smalltext">CAPTAIN - MID</span></li>
<li>xSorahh<span class="smalltext">TOP</span></li>
<li>UTS MaScott<span class="smalltext">JUNGLE</span></li>
<li>Chuffer<span class="smalltext">ADC</span></li>
<li>Ludwikk<span class="smalltext">SUPPORT</span></li>
</ol>
</td>      
</tr>
    
<tr>
<td class="regteambox">Ex Dreamers</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Niwa<span class="smalltext">CAPTAIN - TOP</span></li>
<li>Zahe<span class="smalltext">JUNGLE</span></li>
<li>Tomoyo Sakagami<span class="smalltext">MID</span></li>
<li>Ubergiantsbro<span class="smalltext">ADC</span></li>
<li>Tgun<span class="smalltext">SUPPORT</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Your Soul Shall Chuffer</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Denian<span class="smalltext">CAPTAIN - ADC</span></li>
<li>Jakattack<span class="smalltext">TOP</span></li>
<li>Guo<span class="smalltext">JUNGLE</span></li>
<li>Tempname507<span class="smalltext">MID</span></li>
<li>flying Joo<span class="smalltext">SUPPORT</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">AKG</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">AKG SaejBOi<span class="smalltext">CAPTAIN - JUNGLE</span></li>
<li>AKG Joon<span class="smalltext">TOP</span></li>
<li>AKG Lovers<span class="smalltext">MID</span></li>
<li>AKG MiraN<span class="smalltext">ADC</span></li>
<li>AKG NADA<span class="smalltext">SUPPORT</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">BlackJack</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">XXI tomtom<span class="smalltext">CAPTAIN - SUPPORT</span></li>
<li>XXI VorGu<span class="smalltext">TOP</span></li>
<li>XXI Conan<span class="smalltext">JUNGLE</span></li>
<li>XXI Herrscher<span class="smalltext">MID</span></li>
<li>XXI hOrnz<span class="smalltext">ADC</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Immunity</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">iM Swiffer intel<span class="smalltext">CAPTAIN - MID</span></li>
<li>iM Swip3rR intel<span class="smalltext">TOP</span></li>
<li>iM Spookz intel<span class="smalltext">JUNGLE</span></li>
<li>iM raydere intel<span class="smalltext">ADC</span></li>
<li>iM Rosey intel<span class="smalltext">SUPPORT</span></li>
<!--<li class="graytext">iM Swip3rR intel<span class="smalltext">SUBSTITUTE</span></li>-->
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Team Nv</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Heavenzcurse<span class="smalltext">CAPTAIN - MID</span></li>
<li>Josker<span class="smalltext">TOP</span></li>
<li>BMA<span class="smalltext">JUNGLE</span></li>
<li>Firstmate<span class="smalltext">ADC</span></li>
<li>Mattress<span class="smalltext">SUPPORT</span></li>
<!--<li class="graytext">ave<span class="smalltext">SUBSTITUTE</span></li>-->
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Legacy eSports</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Minkywhale<span class="smalltext">CAPTAIN - TOP</span></li>
<li>Carbon<span class="smalltext">JUNGLE</span></li>
<li>Chuchuz<span class="smalltext">MID</span></li>
<li>Cardrid<span class="smalltext">ADC</span></li>
<li>Erect Gymnast<span class="smalltext">SUPPORT</span></li>
</ol>
</td>
</tr>
    
<!--<tr>
<td class="regteambox">Will They Fail?</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Modbrat<span class="smalltext">CAPTAIN</span></li>
<li>Seppy<span class="smalltext">PLAYER</span></li>
<li>Scabboy<span class="smalltext">PLAYER</span></li>
<li>Shottywils<span class="smalltext">PLAYER</span></li>
<li>Arlenn<span class="smalltext">PLAYER</span></li>
<li class="graytext">xGenshinx<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Storm</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">ts Lapras<span class="smalltext">CAPTAIN</span></li>
<li>Aetharus<span class="smalltext">PLAYER</span></li>
<li>ts Rapid<span class="smalltext">PLAYER</span></li>
<li>ts God<span class="smalltext">PLAYER</span></li>
<li>The God Support<span class="smalltext">PLAYER</span></li>
<li class="graytext">ts Rain<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Bound 2 Best Song Oce</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">o Bubbles o<span class="smalltext">CAPTAIN</span></li>
<li>Scream<span class="smalltext">PLAYER</span></li>
<li>Prince Hoodie<span class="smalltext">PLAYER</span></li>
<li>lmtdEdition<span class="smalltext">PLAYER</span></li>
<li>ryuza<span class="smalltext">PLAYER</span></li>
<li class="graytext">auburn2144<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>-->
    
</tbody>
</table>
    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
