---
title: ACL - League of Legends 2014 - Results
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>

</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/lol/splash3.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 3</h1>
        <h5>ACL Sydney Qualifier</h5>
        <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>
            
        <ul class="button-group">
        <li><a href="#" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/lol/or3/registered_teams.html" class="button secondary tiny">Registered Players</a></li>
        <li><a href="http://challonge.com/acl2014lolor3" class="button tiny">Bracket</a></li>
        </ul>    
        </div>
        
    </div>
        
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"><b>Placing</b></th>
    <th style="width:300px" align="left"><b>Team</b></th>
    <th style="width:100px" align="left">Points</th>
    </tr>
  <tr style="width:450px">
    <td>1st</td>
    <td>r u playing 4 a medal</td>
    <td>5000</td>
  </tr>
<tr>
    <td>2nd</td>
    <td>Ex Dreamers</td>
    <td>4400</td>
  </tr>
<tr>   
    <td>3rd</td>
    <td>Team Immunity</td>
    <td>4000</td>
  </tr>
<tr>  
    <td>4th</td>
    <td>Your Soul Shall Chuffer</td>
    <td>3660</td>
  </tr>
<tr> 
    <td>5th</td>
    <td>AKG</td>
    <td>3340</td>
  </tr>
<tr>
    <td>6th</td>
    <td>BlackJack</td>
    <td>3040</td>
  </tr>
<tr>
    <td>7th</td>
    <td>Gone Fishing</td>
    <td>2760</td>
  </tr>
<tr>
    <td>8th</td>
    <td>Team Storm</td>
    <td>2500</td>
  </tr>
<tr>
    <td>9th</td>
    <td>Bound 2 Best Song Oce</td>
    <td>2240</td>
  </tr>
<tr>
    <td>10th</td>
    <td>Dire Wolves</td>
    <td>2000</td>
  </tr>
<tr>
    <td>11th</td>
    <td>HengMog Gaming</td>
    <td>1760</td>
  </tr>
<tr>
    <td>12th</td>
    <td>lomo kings</td>
    <td>1540</td>
  </tr>
<tr>
    <td>13th</td>
    <td>Ignite eSports</td>
    <td>1340</td>
  </tr>
<tr>
    <td>14th</td>
    <td>Will They Fail?</td>
    <td>1160</td>
  </tr>
<tr>
    <td>15th</td>
    <td>Urgot Rule 34</td>
    <td>1000</td>
  </tr>
</table>
</div>
</div>
    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
