---
title: ACL - FIFA 14
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>

</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/fifa/fifa3.jpg);">
    </div>
    
    <div class="row">
    
    <div class="small-12 columns article darkbg" style="margin-bottom: 20px;">
        
    <%= partial "thinbanners" %>
    <%= partial "thickbanners" %>
        
    <div class="hide-for-small hide-for-medium">
<center><object type="application/x-shockwave-flash" height="425" width="700" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=aclpro" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=aclpro&auto_play=true&start_volume=25" /></object><iframe frameborder="0" scrolling="no" src="http://twitch.tv/aclpro/chat?popout=" height="425" width="300"></iframe></center>
    </div>
        
    <div class="hide-for-large hide-for-large-up small-12 columns padding-40 darkbg">
    <h3 class="redtext">Attention!</h3>
    <p class="whitetext">We want you to have the best possible experience with our website and our livestream, this is why we have chosen to hide the video for smaller screen sizes. We recommend either watching directly through the Twitch website <a href="http://www.twitch.tv/aclpro">here</a>, or by downloading the official Twitch app for iOS and Android.</p>
    </div>

    </div>
        
    </div>
    
    <div class="row">
    
    <div class="small-12 columns padding-40 whitebg">
        
        <ul class="button-group">
        <li><a href="/articles/aclsydney-eswcqualifier.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="https://www.toornament.com/tournaments/53c8dc3e9a6d9c7668000000/overview" class="button tiny">Bracket</a></li>
        <li><a href="http://twitch.tv/aclpro" class="button twitch tiny">Twitch</a></li>
        </ul>
            
        <hr>
            
        <h3 class="padding-0 bluetext">ACL Sydney</h3>
        <h6 class="subheader padding-0">FIFA 14</h6>
        <p>ACL is proud to announce that the FIFA 14 tournament hosted at ACL Sydney is an Electronic Sports World Cup qualifier! That's right, thanks to EA Australia and ESWC, the FIFA 14 Champion crowned at ACL Sydney will be sent to compete against the best FIFA players in the world live in Paris at the ESWC 2014 Final! </p>
            
        </div>
        
    </div>
    
    <div class="row padding-0">
        
            <div class="small-12 columns padding-20 center">
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.plantronics.com/au/gaming">
                    <img src="/images/sponsors/plantronics.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.nvidia.com">
                    <img src="/images/sponsors/nvidia.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.gigabyte.com">
                    <img src="/images/sponsors/gigabyte.png" />
                </a>
            </div>
            <div class="small-6 medium-3 large-3 columns padding-20" style="height: 60px;">
                <a href="http://www.gaming.benq.com">
                    <img src="/images/sponsors/benq.png" width="75%"/>
                </a>
            </div>
            </div>
            
        </div>
    
<%= partial "footer" %>
    
</body>
</html>
