---
title: ACL - Call of Duty Sydney - Registered Teams
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/cod/cod9.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>ACL Sydney - Registered Teams</h1>
        <h5>National Event</h5>
        <p>
        2014 has seen an incredible rise in the Call of Duty competitive community. A string of great events and the CoD Champs campaign has seen new greats rise to the top and compete on an international level. ACL Sydney will continue on in this great spirit, as the biggest ACL event to date. Players and spectators will not want to miss this!
        </p>
            
        <ul class="button-group">
        <li><a href="/events/2014/live/syd2014.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/live/cod/syd2014/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="" class="button tiny">Results</a></li>
        <li><a href="" class="button tiny">Bracket</a></li>
        </ul>
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<table>
<tbody>
    
<tr>
<td class="regteambox">Zero Gravity gaming</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">xGx GALVATRON<span class="smalltext">CAPTAIN</span></li>
<li>Trish Rulz<span class="smalltext">PLAYER</span></li>
<li>Joshdabig<span class="smalltext">PLAYER</span></li>
<li>Ix Loki<span class="smalltext">PLAYER</span></li>
</ol>
</td>      
</tr>
    
<tr>
<td class="regteambox">aRise.AU</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Saliba aR<span class="smalltext">CAPTAIN</span></li>
<li>Aspxct aR<span class="smalltext">PLAYER</span></li>
<li>Venom Plasma<span class="smalltext">PLAYER</span></li>
<li>Bwenno aR<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Fusion</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Myst Taze<span class="smalltext">CAPTAIN</span></li>
<li>OP Sage<span class="smalltext">PLAYER</span></li>
<li>FG TeeBz<span class="smalltext">PLAYER</span></li>
<li>Awsomejjj<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Fame</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Fame Krftzy<span class="smalltext">CAPTAIN</span></li>
<li>Fame Taank<span class="smalltext">PLAYER</span></li>
<li>Fame Broxii<span class="smalltext">PLAYER</span></li>
<li>Fame Poohh<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">BewaRe Au</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">atingleee<span class="smalltext">CAPTAIN</span></li>
<li>Pervulance<span class="smalltext">PLAYER</span></li>
<li>Brownnyyy<span class="smalltext">PLAYER</span></li>
<li>SPAS xMonkey<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Citadel AU</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Citadel Flarez<span class="smalltext">CAPTAIN</span></li>
<li>Citadel Nimble<span class="smalltext">PLAYER</span></li>
<li>Citadel Axiiee<span class="smalltext">PLAYER</span></li>
<li>Citadel Roid<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Avant Garde</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">AVANT Vilesyder<span class="smalltext">CAPTAIN</span></li>
<li>AVANT Hopey<span class="smalltext">PLAYER</span></li>
<li>AVANT Benno<span class="smalltext">PLAYER</span></li>
<li>AVANT Macka<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">TRIDENT.Rebellion</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Vqnishh<span class="smalltext">CAPTAIN</span></li>
<li>Rivaaaal<span class="smalltext">PLAYER</span></li>
<li>Wolfeyyy<span class="smalltext">PLAYER</span></li>
<li>Mental LB<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team STORM</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">STORM Yelz<span class="smalltext">CAPTAIN</span></li>
<li>STORM Fvte<span class="smalltext">PLAYER</span></li>
<li>STORM Swiifty<span class="smalltext">PLAYER</span></li>
<li>Louqa<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">2XO</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Quinzay<span class="smalltext">CAPTAIN</span></li>
<li>TRIDENT zeeeeQ<span class="smalltext">PLAYER</span></li>
<li>Trent S2<span class="smalltext">PLAYER</span></li>
<li>PF hoju<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Pathfinder</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">PF Bundo<span class="smalltext">CAPTAIN</span></li>
<li>PF Fitzy<span class="smalltext">PLAYER</span></li>
<li>PF Blue<span class="smalltext">PLAYER</span></li>
<li>BossofEveryfing<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Ninth Legion</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">IXL Cones<span class="smalltext">CAPTAIN</span></li>
<li>IXL Revenants<span class="smalltext">PLAYER</span></li>
<li>IXL Jultegra<span class="smalltext">PLAYER</span></li>
<li>IXL Craze<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Barrage</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Barrage Baggies<span class="smalltext">CAPTAIN</span></li>
<li>BarrageConflate<span class="smalltext">PLAYER</span></li>
<li>Barrage Swaaney<span class="smalltext">PLAYER</span></li>
<li>Barrage Dizzleee<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Power</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Pwr Invincible<span class="smalltext">CAPTAIN</span></li>
<li>Pwr Jaga<span class="smalltext">PLAYER</span></li>
<li>Pwr Spartan<span class="smalltext">PLAYER</span></li>
<li>lmmortal Nike<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Evolution Australia</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Evo Pastilz<span class="smalltext">CAPTAIN</span></li>
<li>Evo Lampizzl<span class="smalltext">PLAYER</span></li>
<li>Evo iJustice<span class="smalltext">PLAYER</span></li>
<li>Evo Pongaz<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Legacy AU</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">LEGACY Fosh<span class="smalltext">CAPTAIN</span></li>
<li>LEGACY Rod<span class="smalltext">PLAYER</span></li>
<li>LEGACY Pixzah<span class="smalltext">PLAYER</span></li>
<li>LEGACY Dovvn<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">EXODUS</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">LUCKY the WORIA<span class="smalltext">CAPTAIN</span></li>
<li>Legend nB<span class="smalltext">PLAYER</span></li>
<li>Supreme eXc<span class="smalltext">PLAYER</span></li>
<li>Goondii<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Fariko.DARK</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Darrkzz<span class="smalltext">CAPTAIN</span></li>
<li>Kowieee<span class="smalltext">PLAYER</span></li>
<li>FIukke<span class="smalltext">PLAYER</span></li>
<li>IXL Cones<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Game Over</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Mr Storm GO<span class="smalltext">CAPTAIN</span></li>
<li>OhScruuffyy<span class="smalltext">PLAYER</span></li>
<li>Ryze TEMPEST<span class="smalltext">PLAYER</span></li>
<li>Tupacah <span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Notorious: Gold</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">nTs Joshy<span class="smalltext">CAPTAIN</span></li>
<li>nTs JeddLey<span class="smalltext">PLAYER</span></li>
<li>nTs Plasma<span class="smalltext">PLAYER</span></li>
<li>nTs Motzyy<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Immunity</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">iM NakeZe intel<span class="smalltext">CAPTAIN</span></li>
<li>iM BuZZO intel<span class="smalltext">PLAYER</span></li>
<li>iM Shockz intel<span class="smalltext">PLAYER</span></li>
<li>iM Fighta intel<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Plantronics.Nv</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Nv Claw<span class="smalltext">CAPTAIN</span></li>
<li>Nv Maljy<span class="smalltext">PLAYER</span></li>
<li>Nv Fergz<span class="smalltext">PLAYER</span></li>
<li>Nv Beastn<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Impulse</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Excite2G<span class="smalltext">CAPTAIN</span></li>
<li>Lakie2G<span class="smalltext">PLAYER</span></li>
<li>Iunaar<span class="smalltext">PLAYER</span></li>
<li>Paraaanoia<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">The Kovak Experience</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">kovACHES<span class="smalltext">CAPTAIN</span></li>
<li>galaaxy<span class="smalltext">PLAYER</span></li>
<li>Brindyyy<span class="smalltext">PLAYER</span></li>
<li>Squashyy7<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
     
<tr>
<td class="regteambox">Team Washed</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Echoees<span class="smalltext">CAPTAIN</span></li>
<li>meowWASHmeow<span class="smalltext">PLAYER</span></li>
<li>Sin Yoshi<span class="smalltext">PLAYER</span></li>
<li>jojo x<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>   
   
</tbody>
</table>
    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
