<aside>
    <div class="small-12 columns show-for-small-only padding-0">
        <ul class="example-orbit" data-orbit>
            <li><a href="http://www.plantronics.com/au/gaming">
            <img src="/images/sponsors/thickbanners/plantronics1/plantronics1.jpg" /></a></li>
            <li><a href="http://www.nvidia.com">
            <img src="/images/sponsors/thickbanners/nvidia1/nvidia1.jpg" /></a></li>
            <li><a href="http://www.gigabyte.com">
            <img src="/images/sponsors/thickbanners/gigabyte1/gigabyte1.jpg" /></a></li>
        </ul>
    </div>
</aside>