---
title: ACL - About
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="../../css/foundation.css"/>
<link rel="stylesheet" href="../../css/aclpro.css">
<script src="../../js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/acl/acl18.jpg);">
        <div>
            <div class="topsectionarticle">
            <h1 class="whitetext">About</h1>
            </div>
        </div>    
    </div>

    <div class="row">
        
        <div class="small-12 columns article padding-0">
        
        <ul class="example-orbit" data-orbit>
        <li><img src="/images/acl/acl4.jpg" alt="slide 1" />
        <div class="orbit-caption">STARCRAFT 2 - WCS OCEANIC FINALS</div>
        </li>
        <li class="active"><img src="/images/acl/acl2.jpg" alt="slide 2" />
        <div class="orbit-caption">CALL OF DUTY - ANZ REGIONAL FINALS</div>
        </li>
        <li>
        <img src="/images/acl/acl1.jpg" alt="slide 3" />
        <div class="orbit-caption">LEAGUE OF LEGENDS - ACL SYDNEY</div>
        </li>
        </ul>
        
        </div>
    
        <div class="small-12 columns padding-40">
            
        <p>The Australian Cyber League (ACL) runs Australia’s first nation-wide competitive gaming circuit, home to the most skilled gamers from a wide array of console and PC titles.</p>
        <p>Now running the world’s most popular games across PC, console and mobile platforms, the ACL frequently works with publishing partners to help deliver international quality branded events. In recent years, the ACL team has collaborated with Riot Games, Activision & Blizzard to operate World Championship qualifiers in the Oceanic region. Similarly, the Australian Cyber League also works in partnership with other global gaming operators such as Major League Gaming (MLG) in North America and Gfinity in Europe.</p>
            
        <h2>Mission</h2>
        <p>The Australian Cyber League aims to bring gaming to the forefront of social activity. Gaming is a fantastic hobby and a great way for people to not only interact but also compete with others to prove they have what it takes to be the best at their discipline.
The ACL strives to bring awareness of competitive gaming to the average person.
</p>

        <h2>What We Do</h2>
        <p>ACL is currently the industry leader for live gaming events in the Oceania region. This isn’t all our team is capable of. Here’s a quick list of our current offering to the gaming community and vendors alike:</p>
        <ul class="no-bullet">
        <li>Live Gaming Event Specialists</li>
        <li>Online Tournaments & Leagues</li>
        <li>Tournament Development & Execution</li>
        <li>Multi-Camera Live Video Production (online streaming)</li>
        <li>Post Production Video Content</li>
        <li>Custom Website Creation & Management</li>  
        </ul>
            
        <h2>History</h2>
        <p>The ACL was founded in 2006 with its roots firmly in the console scene, particularly the First Person Shooter (FPS) genre and Xbox’s Halo franchise.</p>
        <p>The organization continued humbly to run grass-roots events until new leadership came to the group in 2009. With this, a capital injection and broader national growth strategy meant the ACL grew rapidly to service more gamers right around Australia. The addition of other gaming titles and genres in multiple cities via a traveling circuit helped establish the Australian Cyber League as the premier gaming tournaments brand.</p>
            
        </div>
    
    </div>
    
<%= partial "footer" %>
</body>
</html>
