---
title: Australian Cyber League - Assets
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
	<%= partial "nav" %>

	<div class="articlecover small-12 columns" style="background-image: url(/images/acl/acl4.jpg);">
    </div>

	<div class="row">
    
    	<div class="small-12 columns article padding-0">
        <div class="small-12 columns padding-40">    
        
        <div class="small-12 large-offset-1 large-10 columns">
        
        <h4>Assets</h4>
        <p>The Australian Cyber League has built a style guide that is consistent across all of the brand, whether it be web graphics, print design or stream graphics. We've also provided all of our assets on this page for download, so don't worry about Google search.</p>
            
        <hr>
            
        <table>
        <tbody>
        <tr>
        <td class="center" width="150px"><a href="https://drive.google.com/folderview?id=0B7vVGSuz7sbaQUdhUllUdU80SDA&usp=sharing&tid=0B7vVGSuz7sbacUx1UDJNVFU5S00"><img src="/images/acl/assets/aclgold.png" width="100px" /></a></td>
        <td style="color: #222;" width="600px">This is the primary brand logo. It <strong>must</strong> be used as the primary branding element on media that allows it.</td>      
        </tr>
        </tbody>
        </table>
            
        <table>
        <tbody>
        <tr>
        <td class="center" width="150px"><a href="https://drive.google.com/folderview?id=0B7vVGSuz7sbaTF9mTXJGZ0NOTHc&usp=sharing&tid=0B7vVGSuz7sbacUx1UDJNVFU5S00"><img src="/images/acl/assets/aclwhite_goldbg.png" width="100px" /></a></td>
        <td style="color: #222;" width="600px">This is the secondary brand logo, it maintains the ACL gold that is commonly used as well as letting the white stick out on backgrounds that might make it difficult.</td>      
        </tr>
        </tbody>
        </table>
            
        <table>
        <tbody>
        <tr>
        <td class="center darkbg" width="150px"><a href="https://drive.google.com/folderview?id=0B7vVGSuz7sbaSDQ2WUV3S05fcjQ&usp=sharing&tid=0B7vVGSuz7sbacUx1UDJNVFU5S00"><img src="/images/acl/assets/aclwhite.png" width="100px" /></a></td>
        <td style="color: #222;" width="600px">For any colour restricted media such as black/white prints, or any images where the primary and secondary logo do not fit, the white ACLPro logo should be used.</td>      
        </tr>
        </tbody>
        </table>
            
        <table>
        <tbody>
        <tr>
        <td class="center" width="150px"><a href="https://docs.google.com/file/d/0B7vVGSuz7sbaYk5TeEZLNkNsRlE"><img src="/images/acl/assets/onlemblem.png" width="80px" /></a></td>
        <td style="color: #222;" width="600px">The Online emblem should be used in all branding and images related to Online events.</td>      
        </tr>
        </tbody>
        </table>
            
        <table>
        <tbody>
        <tr>
        <td class="center" width="150px"><a href="https://docs.google.com/file/d/0B7vVGSuz7sbaYlpNWThTTG9BeDQ/"><img src="/images/acl/assets/brisemblem.png" width="80px" /></a></td>
        <td style="color: #222;" width="600px">The Brisbane emblem should be used in all branding and images related to the Brisbane live event.</td>      
        </tr>
        </tbody>
        </table>
            
        <table>
        <tbody>
        <tr>
        <td class="center" width="150px"><a href="https://docs.google.com/file/d/0B7vVGSuz7sbaMlA0TExQTkFUaUk/"><img src="/images/acl/assets/sydemblem.png" width="80px" /></a></td>
        <td style="color: #222;" width="600px">The Sydney emblem should be used in all branding and images related to the Sydney live event.</td>      
        </tr>
        </tbody>
        </table>
            
        <table>
        <tbody>
        <tr>
        <td class="center" width="150px"><a href="https://docs.google.com/file/d/0B7vVGSuz7sbaZHkzQXkzZ0I1eEE/"><img src="/images/acl/assets/melbemblem.png" width="80px" /></a></td>
        <td style="color: #222;" width="600px">The Melbourne emblem should be used in all branding and images related to the Melbourne live event.</td>      
        </tr>
        </tbody>
        </table>
            
        <hr>
        
        <h6>Restrictions</h6>
        <p>Use our brand assets sensibly. This simply includes common sense restrictions. Do not alter the colours in the logos, do not stretch the logos out of proportion, use the correct logo, do not cover the logo and make sure it stands out from it's background.</p>
            
        <h6>Bleed</h6>
        <p>All bleed has been inbuilt into the assets provided, simply size them so that the invisible boundary is roughly the same size as the area the logo must fill. We aren't too fussed about the bleed of our logos, however, use them sensibly.</p>
            
        <h6>Where can I find them?</h6>
        <p>For a specific asset listed above click on the desired image. If you would like the full pack follow the button below.</p>
        <a href="https://drive.google.com/folderview?id=0B7vVGSuz7sbacUx1UDJNVFU5S00&usp=sharing" class="button primary tiny rounded">Complete Asset Pack</a>
        
        </div>
        </div>
        </div>
                
    </div>
    
<%= partial "footer" %>
</body>
</html>
