---
title: Australian Cyber League - Gallery
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>

    <div>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
                
<%= partial "nav" %>
    
    <div class="small-12 columns darkbg padding-0" style="margin-bottom: 20px;">
        <div class="small-12 large-offset-3 large-6 columns padding-0">
            <div class="flex-video">
            <object width="640" height="360"><param name="movie" value="http://www.youtube.com/v/aeizQqqAlCs?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/aeizQqqAlCs?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
            </div>
        </div>
    </div>
    
    <div class="row">
        
        <a href="http://www.twitch.tv/aclprosc2/b/549348968">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/sc2/sc16.jpg);">
            <div class="sc2colour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarsc2 whitetext padding-20">
                <h6 class="whitetext">ACL Sydney - Starcraft 2 Day Two</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="http://www.twitch.tv/aclprosc2/b/549343065">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/sc2/sc16.jpg);">
            <div class="sc2colour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarsc2 whitetext padding-20">
                <h6 class="whitetext">ACL Sydney - Starcraft 2 Day One</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="http://www.twitch.tv/aclprolol/b/549290645">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/lol/splash16.jpg);">
            <div class="lolcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarlol whitetext padding-20">
                <h6 class="whitetext">ACL Sydney - League of Legends Day Two</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="http://www.twitch.tv/aclprolol/b/549218009">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/lol/splash16.jpg);">
            <div class="lolcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarlol whitetext padding-20">
                <h6 class="whitetext">ACL Sydney - League of Legends Day One</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.facebook.com/media/set/?set=a.10152624649568092.1073741839.240252393091&type=3">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/q71/s720x720/10534492_10152626361213092_6766403401421477177_n.jpg);">
            <div class="aclcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/img_icon.png" width="75%" />
                </div>
                <div class="bottombaracl whitetext padding-20">
                <h6 class="whitetext">ACL Sydney 2014 Event Gallery</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="http://www.twitch.tv/aclpro/b/549289195">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/othergames/fifa2.jpg);">
            <div class="greencolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombargreen whitetext padding-20">
                <h6 class="whitetext">ACL Sydney - FIFA 14 ESWC Qualifier Day Two</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="http://www.twitch.tv/aclpro/b/549211626">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/othergames/fifa2.jpg);">
            <div class="greencolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombargreen whitetext padding-20">
                <h6 class="whitetext">ACL Sydney - FIFA 14 ESWC Qualifier Day One</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="http://www.twitch.tv/aclpro2/b/549347811">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/othergames/smash1.jpg);">
            <div class="redcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarred whitetext padding-20">
                <h6 class="whitetext">ACL Sydney - Super Smash Bros Finals</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.youtube.com/playlist?list=PLpXExMII5HiIt-r8u04ybLGzUwygUT9yi">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/cod/cod1.jpg);">
            <div class="codcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarcod whitetext padding-20">
                <h6 class="whitetext">Call of Duty: Ghosts ACL 2K Series 08-06</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.facebook.com/media/set/?set=a.10152511261343092.1073741838.240252393091&type=3">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/acl/acl12.jpg)">
            <div class="aclcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/img_icon.png" width="75%" />
                </div>
                <div class="bottombaracl whitetext padding-20">
                <h6 class="whitetext">Plantronics ACL Brisbane 2014 Gallery</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.youtube.com/playlist?list=PLpXExMII5HiL56lNU7wqiXpfENyYEURBY">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/acl/acl12.jpg)">
            <div class="aclcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombaracl whitetext padding-20">
                <h6 class="whitetext">Plantronics ACL Brisbane 2014 - Call of Duty Ghosts</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.youtube.com/playlist?list=PLpXExMII5HiJg4KS8ws96oF2BxJCoUP5G">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/cod/cod1.jpg)">
            <div class="codcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarcod whitetext padding-20">
                <h6 class="whitetext">Call of Duty: Ghosts ACL 2K Series 11-05</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.facebook.com/media/set/?set=a.10152306766848092.1073741837.240252393091&type=3">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/cod/cod1.jpg);">
            <div class="codcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/img_icon.png" width="75%" />
                </div>
                <div class="bottombarcod whitetext padding-20">
                <h6 class="whitetext">Call of Duty ANZ Regional Finals 2014 Gallery</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.youtube.com/playlist?list=PLpXExMII5HiK92NB_UB9IuvHtS_5AakEH">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/cod/cod1.jpg)">
            <div class="codcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarcod whitetext padding-20">
                <h6 class="whitetext">Call of Duty ANZ Regional Finals 2014</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.facebook.com/media/set/?set=a.10152000690938092.1073741834.240252393091&type=3">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/acl/acl12.jpg)">
            <div class="aclcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/img_icon.png" width="75%" />
                </div>
                <div class="bottombaracl whitetext padding-20">
                <h6 class="whitetext">Plantronics ACL Sydney 2013 Gallery</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.facebook.com/media/set/?set=a.10151795956328092.1073741829.240252393091&type=3">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/lol/splash16.jpg)">
            <div class="lolcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/img_icon.png" width="75%" />
                </div>
                <div class="bottombarlol whitetext padding-20">
                <h6 class="whitetext">League of Legends PAX Australia 2013</h6>
                </div>
            </div>
        </div>
        </a>
          
    </div>
       
<%= partial "footer" %>

</body>
</html>
