---
title: Australian Cyber League
---

    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
        
        <!--This section is for major events and ACL LANs-->
        
        <!--<a href="/events/2014/live/syd2014.html">
        <div class="small-12 medium-6 large-6 columns topsection padding-0" 
        style="background-image: url(/images/syd/2014/sydbg.jpg)">
            <img class="topsectionlan" src="/images/syd/2014/sydemblem.png"/>
        </div>
        </a>-->

        <!--After Sydney, change some links back to the portals-->

        <a href="gallery.html">
        <div class="small-6 medium-3 large-3 columns topsection"
        style="background-image: url(https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/q72/s720x720/994126_10152626365163092_3407913926273576734_n.jpg?oh=eadfa3cd6e527bfb2722e46dd127e4ab&oe=543AC10B&__gda__=1413265306_99129ab8ae9870a506106c204e591194)">
            <div class="aclcolour">
            <div class="bottombaracl padding-20">
                <h6 class="whitetext">ACL Sydney Highlights</h6>
            </div>
        	</div>
        </div>
        </a>
        
        <!--This section is for League of Legends-->
        <a href="lolportal.html">
        <div class="small-6 medium-3 large-3 columns topsection"
        style="background-image: url(/images/lol/splash15.jpg)">
            <div class="lolcolour">
            <div class="bottombarlol padding-20">
                <h6 class="whitetext">League of Legends Portal</h6>
            </div>
        	</div>
        </div>
        </a>
        
        <!--This section is for Call of Duty-->
        <a href="codportal.html">
        <div class="small-6 medium-3 large-3 columns topsection"
        style="background-image: url(/images/cod/cod2.jpg)">
            <div class="codcolour">
            <div class="bottombarcod padding-20">
                <h6 class="whitetext">Call of Duty: Ghosts Portal</h6>
            </div>
        	</div>
        </div>
        </a>
        
        <a href="sc2portal.html">
        <!--This section is for Starcraft 2-->
        <div class="small-6 medium-3 large-3 columns topsection"
        style="background-image: url(/images/sc2/sc2.jpg)">
            <div class="sc2colour">
            <div class="bottombarsc2 padding-20">
                <h6 class="whitetext">Starcraft 2 Portal</h6>
            </div>
        	</div>
        </div>
            
<%= partial "nav" %>
    
    <div class="row">
        
    <div><p class="empty">Do you see any teletubbies here?</p></div>
        
    <%= partial "thinbanners" %>
    <%= partial "thickbanners" %>

    </div>
    
    <div class="row" style="margin-top: 20px;">
    
        <a href="/events/2014/online/cod/2k24-08/acl2kseries2408.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/cod/cod2.jpg)">
            <div class="codcolour">
                <div class="padding-20">
                    <h4 class="whitetext">CoD: Ghosts ACL 2K Series 24-08</h4>
                    <p class="whitetext">
                    We are proud to announce the ACL 4v4 MLG Variant 2K Series 24-08 Tournament, the second last ACL 2K Series ever for Call of Duty: Ghosts!
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="/events/2014/online/cod/league/aclcodleagueteams.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/cod/cod2.jpg)">
            <div class="codcolour">
                <div class="padding-20">
                    <h4 class="whitetext">ACL Call of Duty: Ghosts League Teams Announced</h4>
                    <p class="whitetext">
                    Registration has closed for the ACL Call of Duty: Ghosts League and we are pleased to announce the Top 8 teams that have been invited to compete in the first ever ACL League.
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="/events/2014/online/lol/onlineround4.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/lol/splash9.jpg);">
            <div class="lolcolour">
                <div class="padding-20">
                    <h4 class="whitetext">ACL League of Legends Online Round 4</h4>
                    <p class="whitetext">
                    The action returns with the announcement of ACL League of Legends Online Round 4. The winning team will qualify for the Oceanic Regional Final.
                    </p>
                </div>
            </div>
        </div>
        </a>
        
        <a href="/articles/aclcodleague.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/cod/cod2.jpg)">
            <div class="codcolour">
                <div class="padding-20">
                    <h4 class="whitetext">Introducing ACL Call of Duty: Ghosts League</h4>
                    <p class="whitetext">
                    We’ve hinted at it before, and now we are happy to announce, ACL’s very first online league for Call of Duty: Ghosts. What a better way to say goodbye to Ghosts and prepare for the upcoming release of Advance Warfare.
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="/events/2014/live/syd2014.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/acl/acl10.jpg)">
            <div class="bluecolour">
                <div class="padding-20">
                    <h4 class="whitetext">ACL Sydney Announced</h4>
                    <p class="whitetext">
                    Come join us for the largest multi-title eSports event that Australia has ever seen where ACL truly brings gaming to the next level. 
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="/articles/gigabytenvidia2014.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/acl/acl10.jpg)">
            <div class="aclcolour">
                <div class="padding-20">
                    <h4 class="whitetext">Nvidia & Gigabyte Sponsor 2014 ACL Pro Circuit</h4>
                    <p class="whitetext">
                    Today ACL is proud to announce a partnership with Nvidia & Gigabyte to further develop the growth and prestige of eSports within Australia for the 2014 ACL Pro Circuit. 
                    </p>
                </div>
            </div>
        </div>
        </a>
        
    </div>

    
<%= partial "footer" %>

