---
title: ACL - League of Legends
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="../../css/foundation.css"/>
<link rel="stylesheet" href="../../css/aclpro.css">
<script src="../../js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="small-12 columns articlebox" style="background-image: url(/images/lol/splash15.jpg); margin-bottom: 20px;">
        <div>
            <div class="topsectionarticle">
            <h1 class="whitetext">League of Legends</h1>
            </div>
        </div>    
    </div>
    
    <div class="row">
    
        <a href="/events/2014/online/lol/onlineround4.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/lol/splash9.jpg)">
            <div class="lolcolour">
                <div class="padding-20">
                    <h4 class="whitetext">ACL League of Legends Online Round 4</h4>
                    <p class="whitetext">
                    The action returns with the announcement of ACL League of Legends Online Round 4. The winning team will qualify for the Oceanic Regional Final.
                    </p>
                </div>
            </div>
        </div>
        </a>
        
        <a href="/events/2014/lol.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/lol/splash7.jpg)">
            <div class="lolcolour">
                <div class="padding-20">
                    <h4 class="whitetext">League of Legends at ACL Sydney</h4>
                    <p class="whitetext">
                    All League of Legends information relating to ACL Sydney can be found at the landing page. Landing pages include quick access to registered teams, announcements, tournament brackets and results once the tournament is over.
                    </p>
                </div>
            </div>
        </div>
        </a>
        
        <a href="/results/2014/lol/results.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/lol/splash14.jpg)">
            <div class="lolcolour">
                <div class="padding-20">
                    <h4 class="whitetext">Results</h4>
                    <p class="whitetext">
                    Check out our updated results pages for all ACL League of Legends events of 2014! 
                    </p>
                </div>
            </div>
        </div>
        </a>
          
    </div>
    
    <div class="row hide-for-small">
        
    <div><p class="empty">Top lel</p></div>
        
    <%= partial "thinbanners" %>
    <%= partial "thickbanners" %>
        
    </div>
    
    <!--<div class="row padding-0" style="margin-top: 20px;">
    <div class="small-12 columns">
        <div class="flex-video">
       <object width="640" height="360"><param name="movie" value="http://www.youtube.com/v/aeizQqqAlCs?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/aeizQqqAlCs?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
       </div>
    </div>
    </div>-->
    
<%= partial "footer" %>
</body>
</html>
