---
title: Australian Cyber League - Pro Circuit
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="../../css/foundation.css"/>
<link rel="stylesheet" href="../../css/aclpro.css">
<script src="../../js/vendor/modernizr.js"></script>
</head>
<body>

    <!-- The following two sections both require changing when necessary as they hide
    and show depending on the screen size-->
    <!--This section is for Desktop and Tablet sized screens-->
    <div style="margin-top: -20px;">
    
        <!--This section is for ACL Brisbane-->
        <div class="small-4 columns topsection padding-0" 
        style="background-image: url(/images/bris/2014/brisbg.jpg)">
            <img class="topsectionlan" src="/images/bris/2014/brisemblem.png"/>
        </div>
        
        <!--This section is for ACL Sydney-->
       <div class="small-4 columns topsection padding-0" 
        style="background-image: url(/images/syd/2014/sydbg.jpg)">
            <img class="topsectionlan" src="/images/syd/2014/sydemblem.png"/>
        </div>
        
        <!--This section is for ACL Melbourne-->
        <div class="small-4 columns topsection padding-0" 
        style="background-image: url(/images/melb/2014/melbbg.jpg)">
            <img class="topsectionlan" src="/images/melb/2014/melbemblem.png"/>
        </div>
        
    </div>
    
    <!--This section is for mobile screens-->
        
<%= partial "nav" %>
    
    <div>
    <p class="empty">Do you see any teletubbies?</p>
    </div>
       
    <hr>
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns padding-20">
                <h4 class="graytext">The Australian Cyber League (ACL) runs Australia’s first nation-wide competitive gaming circuit, home to the most skilled gamers from a wide array of console and PC titles.</h4>
                <p class=>Now running the world’s most popular games across PC, console and mobile platforms, the ACL frequently works with publishing partners to help deliver international quality branded events. In recent years, the ACL team has collaborated with Riot Games, Activision & Blizzard to operate World Championship qualifiers in the Oceanic region. Similarly, the Australian Cyber League also works in partnership with other global gaming operators such as Major League Gaming (MLG) in North America and Gfinity in Europe.</p>
            </div>
        </div>
    </div>
    <hr>
    
    <div class="row">
        
        <div>
        <p class="empty">Do you see any teletubbies?</p>
        </div>
        
        
        <a href="/lolportal.html">
        <div class="medium-4 columns articlebox" style="background-image: url(../../images/lol/splash9.jpg);">
            <div class="lolcolour">
                <div class="padding-20">
                    <h4 class="whitetext">League of Legends</h4>
                    <p class="whitetext">
                    League of Legend was introduced in the 2013 National Circuit and it has taken off since. The League of Legends presence in Australia continues to grow and feature at the forefront of Australian eSports.
                    </p>
                </div>
                <a href="/lolportal.html">
                <div class="bottombarlol padding-20">
                        <h6 class="whitetext text-center">League of Legends Portal</h6>
                </div>
                </a>
            </div>
        </div>
        </a>
        
        <a href="/codportal.html">
        <div class="medium-4 columns articlebox" style="background-image: url(../../images/cod/cod7.jpg);">
            <div class="codcolour">
                <div class="padding-20">
                    <h4 class="whitetext">Call of Duty</h4>
                    <p class="whitetext">
                    The only first-person shooter still growing on the ACLPro circuit, and with the franchise continuing to develop it's likely to stay.
                    </p>
                </div>
                <a href="codportal.html">
                <div class="bottombarcod padding-20">
                        <h6 class="whitetext text-center">Call of Duty Portal</h6>
                </div>
                </a>
            </div>
        </div>
        </a>
        
        <a href="/sc2portal.html">
        <div class="medium-4 columns articlebox" style="background-image: url(../../images/sc2/sc3.jpg);">
            <div class="sc2colour">
                <div class="padding-20">
                    <h4 class="whitetext">Starcraft 2</h4>
                    <p class="whitetext">
                    Starcraft 2 is one of the oldest titles on the ACLPro circuit, and it continues to provide gateways into global eSports competitions such as WCS.
                    </p>
                </div>
                <a href="sc2portal">
                <div class="bottombarsc2 padding-20">
                        <h6 class="whitetext text-center">Starcraft 2 Portal</h6>
                </div>
                </a>
            </div>
        </div>
        </a>
          
    </div>
    
    <div class="row" style="margin-top: 20px;">
    
        <a href="https://www.youtube.com/playlist?list=PLpXExMII5HiK92NB_UB9IuvHtS_5AakEH">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/cod/cod1.jpg)">
            <div class="codcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/vid_icon.png" width="75%" />
                </div>
                <div class="bottombarcod whitetext padding-20">
                <h6 class="whitetext">Call of Duty ANZ Regional Finals 2014</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.facebook.com/media/set/?set=a.10152511261343092.1073741838.240252393091&type=3">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/acl/acl12.jpg)">
            <div class="aclcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/img_icon.png" width="75%" />
                </div>
                <div class="bottombaracl whitetext padding-20">
                <h6 class="whitetext">Plantronics ACL Brisbane 2014 Gallery</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.facebook.com/media/set/?set=a.10152000690938092.1073741834.240252393091&type=3">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/acl/acl12.jpg)">
            <div class="aclcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/img_icon.png" width="75%" />
                </div>
                <div class="bottombaracl whitetext padding-20">
                <h6 class="whitetext">Plantronics ACL Sydney 2013 Gallery</h6>
                </div>
            </div>
        </div>
        </a>
        
        <a href="https://www.facebook.com/media/set/?set=a.10151795956328092.1073741829.240252393091&type=3">
        <div class="small-6 medium-3 columns articlebox" 
        style="background-image: url(/images/lol/splash16.jpg)">
            <div class="lolcolour">
                <div class="text-center" style="padding-top: 20px">
                <img src="/images/img_icon.png" width="75%" />
                </div>
                <div class="bottombarlol whitetext padding-20">
                <h6 class="whitetext">League of Legends PAX Australia 2013</h6>
                </div>
            </div>
        </div>
        </a>
        
    </div>
    
    <div class="row">
        
    <div><p class="empty">Do you see any teletubbies here?</p></div>    
        
    <%= partial "thinbanners" %>
    <%= partial "thickbanners" %>

    </div>
    
<%= partial "footer" %>
</body>
</html>
