---
title: ACL - Results
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>

<div class="articlecover small-12 columns" style="background-image: url(/images/acl/acl1.jpg);">
        <div>
            <div class="topsectionarticle">
            <h1 class="whitetext">Results Portal</h1>
            </div>
        </div>    
</div>
    
<div class="row">

    <div class="small-12 columns article">
        <div class="small-12 large-6 columns padding-40">
            <h2>2014</h2>
            <p>To date ACL has hosted numerous Online Events for our three key titles; Call of Duty, League of Legends and StarCraft II. Complimenting this has been the ACL Brisbane LAN which played host to Call of Duty and StarCraft II.
            <br>
            <br>
            In 2014 Call of Duty Online and Live Events have awarded MLG Pro Points to competing teams with ACL Brisbane awarding the winning team a spot to compete at MLG Anaheim.
            <br>
            <br>
            League of Legends Online Round 1 & 2 acted as qualifiers for Riots Oceanic Autumn and Winter Regional events with the top 2 teams from each of these events advaning to the Round of 8 to compete for the title of the regions best team.
            <br>
            <br>
            ACL has brought StarCraft II WCS to the region with Online Round 3 being the online portion of WCS America: Oceania/SEA Qualifiers.</p>
        </div>
        <a href="/results/2014/lol/results.html">
        <div class="small-4 large-2 columns topsection" style="background-image: url(/images/lol/splash3.jpg)">
        <div class="lolcolour"></div>
        </div>
	    </a>
        <a href="/results/2014/cod/results.html">
        <div class="small-4 large-2 columns topsection" style="background-image: url(/images/cod/cod2.jpg)">
        <div class="codcolour"></div>
        </div>
        </a>
        <a href="/results/2014/sc2/results.html">
        <div class="small-4 large-2 columns topsection" style="background-image: url(/images/sc2/sc16.jpg)">
        <div class="sc2colour"></div>
        </a>
        </div>
        <hr>
    </div>
    
    <div class="small-12 columns padding-0 graybg">
        <div class="small-12 large-6 columns padding-40">
            <h2>2013</h2>
            <p>Results for all ACL Online and Live events of 2013.
            <br>
            <br>
            This section is currently a work in progress and will be live shortly.
            </p>
        </div>
        
        <div class="small-12 large-6 columns padding-0">
        <div class="small-3 columns articlebox" style="background-image: url(/images/lol/splash3.jpg)">
        <div class="lolcolour"></div>
        </div>
        <div class="small-3 columns articlebox" style="background-image: url(/images/blops2/blops2.jpg)">
        <div class="codcolour"></div>
        </div>
        <div class="small-3 columns articlebox" style="background-image: url(/images/sc2/sc16.jpg)">
        <div class="sc2colour"></div>
        </div>
        <div class="small-3 columns articlebox" style="background-image: url(/images/halo/halo4.jpg)">
        <div class="halocolour"></div>
        </div>
        </div>
    </div>
    <hr>
    
    <div class="small-12 columns padding-0">
    
        <div class="small-12 large-6 columns padding-40">
            <h2>2012</h2>
            <p><p>Results for all ACL Online and Live events of 2012.
            <br>
            <br>
            This section is currently a work in progress and will be live shortly.
            </p></p>
        </div>
        
        <div class="small-12 large-6 columns padding-0">
        <div class="small-3 columns articlebox" style="background-image: url(/images/lol/splash3.jpg)">
        <div class="lolcolour"></div>
        </div>
        <div class="small-3 columns articlebox" style="background-image: url(/images/mw3/mw3.jpg)">
        <div class="codcolour"></div>
        </div>
        <div class="small-3 columns articlebox" style="background-image: url(/images/sc2/sc16.jpg)">
        <div class="sc2colour"></div>
        </div>
        <div class="small-3 columns articlebox" style="background-image: url(/images/halo/halo4.jpg);">
        <div class="halocolour"></div>
        </div>
        </div>
    
    </div>
    <hr>

</div>
    
<%= partial "footer" %>
</body>
</html>
