---
title: ACL - StarCraft II
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="../../css/foundation.css"/>
<link rel="stylesheet" href="../../css/aclpro.css">
<script src="../../js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="small-12 columns articlebox" style="background-image: url(/images/sc2/sc1.jpg); margin-bottom: 20px;">
        <div>
            <div class="topsectionarticle">
            <h1 class="whitetext">StarCraft II</h1>
            </div>
        </div>    
    </div>
    
    <div class="row">
    
        <a href="/watch/sc2.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/sc2/sc2.jpg);">
            <div class="sc2colour">
                <div class="padding-20">
                    <h4 class="whitetext">Watch Starcraft II Live at ACL Sydney</h4>
                    <p class="whitetext">
                    Check out all the action live from ACL Sydney, starting July 19, 2014! We'll have all the coverage and tournament information on our site for your viewing pleasure.
                    </p>
                </div>
            </div>
        </div>
        </a>
        
        <a href="/events/2014/sc2.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/sc2/sc3.jpg)">
            <div class="sc2colour">
                <div class="padding-20">
                    <h4 class="whitetext">StarCraft II at ACL Sydney</h4>
                    <p class="whitetext">
                    All StarCraft II information relating to ACL Sydney can be found at the landing page. Landing pages include quick access to registered teams, announcements, tournament brackets and results once the tournament is over.
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="/results/2014/sc2/results.html">
        <div class="medium-4 columns articlebox" 
        style="background-image: url(/images/sc2/sc4.jpg)">
            <div class="sc2colour">
                <div class="padding-20">
                    <h4 class="whitetext">Results</h4>
                    <p class="whitetext">
                    Check out our updated results pages for all ACL StarCraft II events of 2014! 
                    </p>
                </div>
            </div>
        </div>
        </a>
          
    </div>
    
    <div class="row">
        
    <div><p class="empty">Top lel</p></div>
    
    <%= partial "thinbanners" %>
    <%= partial "thickbanners" %>
        
    <a href="https://www.youtube.com/watch?v=S4MvDxJq1ag">
    <div class="small-6 medium-3 columns articlebox" 
    style="background-image: url(/images/sc2/sc16.jpg); margin-top: 20px;">
        <div class="sc2colour">
            <div class="text-center" style="padding-top: 20px">
            <img src="/images/vid_icon.png" width="75%" />
            </div>
            <div class="bottombarsc2 whitetext padding-20">
            <h6 class="whitetext">ACL Sydney Starcraft 2 Pool Reveal</h6>
            </div>
        </div>
    </div>
    </a>
        
    <a href="http://www.twitch.tv/aclprosc2/b/540745782">
    <div class="small-6 medium-3 columns articlebox" 
    style="background-image: url(/images/sc2/sc16.jpg); margin-top: 20px;">
        <div class="sc2colour">
            <div class="text-center" style="padding-top: 20px">
            <img src="/images/vid_icon.png" width="75%" />
            </div>
            <div class="bottombarsc2 whitetext padding-20">
            <h6 class="whitetext">Starcraft 2 ACL Online Round 4</h6>
            </div>
        </div>
    </div>
    </a>
        
    <a href="http://www.twitch.tv/aclprosc2/b/538618730">
    <div class="small-6 medium-3 columns articlebox" 
    style="background-image: url(/images/sc2/sc16.jpg); margin-top: 20px;">
        <div class="sc2colour">
            <div class="text-center" style="padding-top: 20px">
            <img src="/images/vid_icon.png" width="75%" />
            </div>
            <div class="bottombarsc2 whitetext padding-20">
            <h6 class="whitetext">WCS ANZ Season 3 Stage 2</h6>
            </div>
        </div>
    </div>
    </a>
        
    <a href="https://www.youtube.com/watch?v=JK0wyxYhNs0">
    <div class="small-6 medium-3 columns articlebox" 
    style="background-image: url(/images/sc2/sc16.jpg); margin-top: 20px;">
        <div class="sc2colour">
            <div class="text-center" style="padding-top: 20px">
            <img src="/images/vid_icon.png" width="75%" />
            </div>
            <div class="bottombarsc2 whitetext padding-20">
            <h6 class="whitetext">ACL Brisbane Starcraft 2 Grand Final</h6>
            </div>
        </div>
    </div>
    </a>
        
    </div>
    
<%= partial "footer" %>
</body>
</html>
