<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
	<%= partial "nav" %>

	<div class="articlecover small-12 columns" style="background-image: url(/images/acl/acl1.jpg);">
    </div>

	<div class="row">
    
    	<div class="small-12 columns article">
        <div class="small-12 columns padding-40">    
        
        <div class="small-12 padding-0 large-offset-1 large-10 columns">
        
        <h4>Sponsors & Partners</h4>
        <p>The Australian Cyber League is proudly sponsored by a few key organisations. These partners contribute greatly to the rise and popularity of eSports, and as a community we support them. Give back to the companies that help us!</p>
            
            <hr>
        
            <div class="small-12 large-3 columns padding-20">
            <img src="/images/sponsors/plantronics.png" />
            </div>
            <div class="small-12 large-9 columns padding-20">
            <p>Plantronics is Australia's leading headset manafacturer, with world renowned products such as the Plantronics Commander, Plantronics RIG and many more. They have constantly supported Australian eSports, so make sure to show them some appreciation by heading to the <a href="http://www.plantronics.com/au/gaming">PLANTRONICS website</a>.</p>
            </div>
            
            <hr>
            
            <div class="small-12 large-3 columns padding-20">
            <img src="/images/sponsors/nvidia.png" />
            </div>
            <div class="small-12 large-9 columns padding-20">
            <p>NVIDIA is one of the leading manafacturers of graphics cards, producing some of the most well regarded products globally. You can find more information about their products by visiting the <a href="http://www.nvidia.com">NVIDIA website</a>.</p>
            </div>
            
            <hr>
            
            <div class="small-12 large-3 columns padding-20">
            <img src="/images/sponsors/gigabyte.png" />
            </div>
            <div class="small-12 large-9 columns padding-20">
            <p>GIGABYTE has been regarded as an innovative and trusted motherboard and video card producer in the globe, you can find more information about their line of products by visiting the <a href="http://www.gigabyte.com">GIGABYTE website</a>.</p>
            </div>
            
            <hr>
            
            <div class="small-12 large-3 columns padding-20 center">
            <img src="/images/sponsors/benq.png" />
            </div>
            <div class="small-12 large-9 columns padding-20">
            <p>BenQ is a leading manafacturer in the production of gaming monitors, providing gamers with high-end gear that allows them to excell in the competition. You an find all the information about their products by visiting the <a href="http://gaming.benq.com">BENQ website</a>.</p>
            </div>
            
            <hr>
        
        </div>
        </div>
        </div>
                
    </div>
    
<%= partial "footer" %>
    
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>
</body>
</html>
