---
title: ACL - League of Legends Online Round 1 - Registered Teams
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/lol/splash1.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 1 - Registered Teams</h1>
        <h5>Autumn Regional Qualifier</h5>
        <p>ACL League of Legends Online Round 1 acted as a qualifier for Riots Oceanic Autumn Regional Round of 8. The top 2 teams from ACL qualified for their chance to take a share of the $45,000 prize pool.</p>
            
        <ul class="button-group">
        <li><a href="/archive/2014/acl-league-of-legends-online-round-1-2014.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/lol/or1/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or1.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/acl2014lolor1" target="_blank" class="button tiny">Bracket</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<table>
<tbody>
    
<tr>
<td class="regteambox">Zen</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Hiro<span class="smalltext">CAPTAIN</span></li>
<li>Deltafreeze<span class="smalltext">PLAYER</span></li>
<li>Pk Memo<span class="smalltext">PLAYER</span></li>
<li>Keane<span class="smalltext">PLAYER</span></li>
<li>Triniel<span class="smalltext">PLAYER</span></li>
<li class="graytext">Ball Dont lie<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>
    
<tr>
<td class="regteambox">Your Soul Shall Chuffer</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Denian<span class="smalltext">CAPTAIN</span></li>
<li>Chuffer<span class="smalltext">PLAYER</span></li>
<li>Zahe<span class="smalltext">PLAYER</span></li>
<li>Flying Joo<span class="smalltext">PLAYER</span></li>
<li>Jakattack<span class="smalltext">PLAYER</span></li>
<li class="graytext">Lilqtcheesroni<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">XxMLGxXsC0p3ZXx</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">kingwar711<span class="smalltext">CAPTAIN</span></li>
<li>illwrekum8<span class="smalltext">PLAYER</span></li>
<li>burlesquebarley<span class="smalltext">PLAYER</span></li>
<li>milf hunter 420<span class="smalltext">PLAYER</span></li>
<li>Theanimal5<span class="smalltext">PLAYER</span></li>
<li class="graytext">jimmy the goat<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Were Going PAX</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">AvistyBro<span class="smalltext">CAPTAIN</span></li>
<li>Drowziexo<span class="smalltext">PLAYER</span></li>
<li>Coxly<span class="smalltext">PLAYER</span></li>
<li>Oza64<span class="smalltext">PLAYER</span></li>
<li>Dec<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">We Need Poon</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">chenyboy<span class="smalltext">CAPTAIN</span></li>
<li>Aisutha<span class="smalltext">PLAYER</span></li>
<li>iM matty intel<span class="smalltext">PLAYER</span></li>
<li>paws<span class="smalltext">PLAYER</span></li>
<li>Perfection<span class="smalltext">PLAYER</span></li>
<li class="graytext">HK PCW<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Victoriana</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Trace<span class="smalltext">CAPTAIN</span></li>
<li>Żam<span class="smalltext">PLAYER</span></li>
<li>Zorox<span class="smalltext">PLAYER</span></li>
<li>Naz<span class="smalltext">PLAYER</span></li>
<li>Mistuhfahy<span class="smalltext">PLAYER</span></li>
<li class="graytext">choyza<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Toms Cubby House</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Inkay<span class="smalltext">CAPTAIN</span></li>
<li>haos<span class="smalltext">PLAYER</span></li>
<li>Bombur<span class="smalltext">PLAYER</span></li>
<li>Zero Gravity<span class="smalltext">PLAYER</span></li>
<li>muslim<span class="smalltext">PLAYER</span></li>
<li class="graytext">si11y sausage<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">The Strange Men</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Gugaber<span class="smalltext">CAPTAIN</span></li>
<li>Mhloppy<span class="smalltext">PLAYER</span></li>
<li>Lonesong<span class="smalltext">PLAYER</span></li>
<li>Reti8<span class="smalltext">PLAYER</span></li>
<li>Kagamicchi<span class="smalltext">PLAYER</span></li>
<li class="graytext">Greycreeze2345<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">The Dutch Vikings</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Woofi<span class="smalltext">CAPTAIN</span></li>
<li>Ron Burgundy<span class="smalltext">PLAYER</span></li>
<li>Nigelchua<span class="smalltext">PLAYER</span></li>
<li>tupax<span class="smalltext">PLAYER</span></li>
<li>bumfluffoner<span class="smalltext">PLAYER</span></li>
<li class="graytext">deadpool<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Standard Strat</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Pacman RAGE<span class="smalltext">CAPTAIN</span></li>
<li>Jadman<span class="smalltext">PLAYER</span></li>
<li>Deffiantz<span class="smalltext">PLAYER</span></li>
<li>David Letterman<span class="smalltext">PLAYER</span></li>
<li>Lightsxo<span class="smalltext">PLAYER</span></li>
<li class="graytext">flighing kiwi<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Spooky</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Jadden IV<span class="smalltext">CAPTAIN</span></li>
<li>Jr AceDot<span class="smalltext">PLAYER</span></li>
<li>Shiny<span class="smalltext">PLAYER</span></li>
<li>Flamethrower<span class="smalltext">PLAYER</span></li>
<li>GTEX Sol<span class="smalltext">PLAYER</span></li>
<li class="graytext">BiOZ EElsy<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Rocket S4</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">ArcTiiC 117<span class="smalltext">CAPTAIN</span></li>
<li>AsianJET<span class="smalltext">PLAYER</span></li>
<li>JustinSucks<span class="smalltext">PLAYER</span></li>
<li>KevinLikesMen<span class="smalltext">PLAYER</span></li>
<li>Guummbyyyy<span class="smalltext">PLAYER</span></li>
<li class="graytext">Murdock86<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Pro Laps</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Aditboy<span class="smalltext">CAPTAIN</span></li>
<li>Stud<span class="smalltext">PLAYER</span></li>
<li>Lunacy<span class="smalltext">PLAYER</span></li>
<li>Odmanoddy<span class="smalltext">PLAYER</span></li>
<li>LukeyLewis<span class="smalltext">PLAYER</span></li>
<li class="graytext">Lenvirthus<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Penta Legacy</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">rushedyaa<span class="smalltext">CAPTAIN</span></li>
<li>deathpython<span class="smalltext">PLAYER</span></li>
<li>elipump<span class="smalltext">PLAYER</span></li>
<li>jordan699<span class="smalltext">PLAYER</span></li>
<li>makeyoujelly<span class="smalltext">PLAYER</span></li>
<li class="graytext">melee styles<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team McN</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">McN VorGu<span class="smalltext">CAPTAIN</span></li>
<li>McN Aromatic<span class="smalltext">PLAYER</span></li>
<li>McN Moya<span class="smalltext">PLAYER</span></li>
<li>furiøus<span class="smalltext">PLAYER</span></li>
<li>jhkinthehouse<span class="smalltext">PLAYER</span></li>
<li class="graytext">McN Naya<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Frost OCE</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">MyThiiiC<span class="smalltext">CAPTAIN</span></li>
<li>Sugoi<span class="smalltext">PLAYER</span></li>
<li>Barrel of poon<span class="smalltext">PLAYER</span></li>
<li>12APE<span class="smalltext">PLAYER</span></li>
<li>Stiffy<span class="smalltext">PLAYER</span></li>
<li class="graytext">JosephKim<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team 4Not</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Dolfs<span class="smalltext">CAPTAIN</span></li>
<li>Hiro<span class="smalltext">PLAYER</span></li>
<li>MistRat<span class="smalltext">PLAYER</span></li>
<li>omgfudges<span class="smalltext">PLAYER</span></li>
<li>Zero<span class="smalltext">PLAYER</span></li>
<li class="graytext">Insanepain<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">TaricsGayBar</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Trace<span class="smalltext">CAPTAIN</span></li>
<li>Delblader<span class="smalltext">PLAYER</span></li>
<li>MTOM<span class="smalltext">PLAYER</span></li>
<li>Explodalot01<span class="smalltext">PLAYER</span></li>
<li>TheBigMoose<span class="smalltext">PLAYER</span></li>
<li class="graytext">Moistsausage<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Sydney Asian Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">I HAVE BIG TEETH<span class="smalltext">CAPTAIN</span></li>
<li>hawapp<span class="smalltext">PLAYER</span></li>
<li>StarHaNg<span class="smalltext">PLAYER</span></li>
<li>AuChieseHoHo<span class="smalltext">PLAYER</span></li>
<li>NOTlCE ME SENPAI<span class="smalltext">PLAYER</span></li>
<li class="graytext">Dragontroop<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Sudden Burst Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">SBG Stealth<span class="smalltext">CAPTAIN</span></li>
<li>SBG Tooka<span class="smalltext">PLAYER</span></li>
<li>SBG Score<span class="smalltext">PLAYER</span></li>
<li>Nujabes<span class="smalltext">PLAYER</span></li>
<li>SBG Stealth<span class="smalltext">PLAYER</span></li>
<li class="graytext">SBG Patchface<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Statik Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">DestinerdGP<span class="smalltext">CAPTAIN</span></li>
<li>DestinyGP<span class="smalltext">PLAYER</span></li>
<li>Tehbez<span class="smalltext">PLAYER</span></li>
<li>DotaBrah<span class="smalltext">PLAYER</span></li>
<li>Dogwhat<span class="smalltext">PLAYER</span></li>
<li class="graytext">Genesis<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Stacked Deck</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">VGR xRwar<span class="smalltext">CAPTAIN</span></li>
<li>Volf<span class="smalltext">PLAYER</span></li>
<li>reddagger<span class="smalltext">PLAYER</span></li>
<li>Jebediah Freeman<span class="smalltext">PLAYER</span></li>
<li>Shiv<span class="smalltext">PLAYER</span></li>
<li class="graytext">Insane<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Sexy War Machines</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Lily<span class="smalltext">CAPTAIN</span></li>
<li>Amber<span class="smalltext">PLAYER</span></li>
<li>Killforchips<span class="smalltext">PLAYER</span></li>
<li>Pet<span class="smalltext">PLAYER</span></li>
<li>Clara<span class="smalltext">PLAYER</span></li>
<li class="graytext">Adventurous<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Seraphic Nexus</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Snx Toasties<span class="smalltext">CAPTAIN</span></li>
<li>Snx OwnUbad<span class="smalltext">PLAYER</span></li>
<li>Snx Alecks<span class="smalltext">PLAYER</span></li>
<li>Snx SuperBUGs<span class="smalltext">PLAYER</span></li>
<li>Snx Kathy<span class="smalltext">PLAYER</span></li>
<li class="graytext">xDerek<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Saving Private Vayne</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">AeoN Maestro<span class="smalltext">CAPTAIN</span></li>
<li>Babigemuk<span class="smalltext">PLAYER</span></li>
<li>Captain Snuggles<span class="smalltext">PLAYER</span></li>
<li>Ebonyknife<span class="smalltext">PLAYER</span></li>
<li>Jamiec<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">RIP friends</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">mickzerofive<span class="smalltext">CAPTAIN</span></li>
<li>snowolf x<span class="smalltext">PLAYER</span></li>
<li>fadiingdream<span class="smalltext">PLAYER</span></li>
<li>Dazion<span class="smalltext">PLAYER</span></li>
<li>Rhyse<span class="smalltext">PLAYER</span></li>
<li class="graytext">Zionbash<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Rios is Love</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Navi<span class="smalltext">CAPTAIN</span></li>
<li>wolfgang<span class="smalltext">PLAYER</span></li>
<li>lil<span class="smalltext">PLAYER</span></li>
<li>kok<span class="smalltext">PLAYER</span></li>
<li>anton<span class="smalltext">PLAYER</span></li>
<li class="graytext">psycho<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Resolute Oneiric</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Spoil<span class="smalltext">CAPTAIN</span></li>
<li>Rnc Xandis<span class="smalltext">PLAYER</span></li>
<li>Rnc Yung Black<span class="smalltext">PLAYER</span></li>
<li>theCarrier<span class="smalltext">PLAYER</span></li>
<li>TallyWhacka<span class="smalltext">PLAYER</span></li>
<li class="graytext">Vanilla<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Reality Check Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">vernallistic<span class="smalltext">CAPTAIN</span></li>
<li>RUSTYK3NTZ<span class="smalltext">PLAYER</span></li>
<li>Summonernameisno<span class="smalltext">PLAYER</span></li>
<li>ironfall<span class="smalltext">PLAYER</span></li>
<li>ThePinkBeast<span class="smalltext">PLAYER</span></li>
<li class="graytext">la squid<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Radium eSports</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">fzd spectre<span class="smalltext">CAPTAIN</span></li>
<li>Splinter<span class="smalltext">PLAYER</span></li>
<li>Buzz<span class="smalltext">PLAYER</span></li>
<li>Talwin<span class="smalltext">PLAYER</span></li>
<li>Lamill<span class="smalltext">PLAYER</span></li>
<li class="graytext">Liquify<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Qlimax Crew</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">QMX Straxmorz<span class="smalltext">CAPTAIN</span></li>
<li>QMX Liazz<span class="smalltext">PLAYER</span></li>
<li>QMX Tmac<span class="smalltext">PLAYER</span></li>
<li>Unoriginal<span class="smalltext">PLAYER</span></li>
<li>Superficial<span class="smalltext">PLAYER</span></li>
<li class="graytext">Raamsy<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Primera Sangre</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">WiFiCarry<span class="smalltext">CAPTAIN</span></li>
<li>boonsy<span class="smalltext">PLAYER</span></li>
<li>Only Akali<span class="smalltext">PLAYER</span></li>
<li>Siimba<span class="smalltext">PLAYER</span></li>
<li>Shemicle<span class="smalltext">PLAYER</span></li>
<li class="graytext">Trixi<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Poetic Justice</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Religion<span class="smalltext">CAPTAIN</span></li>
<li>lLynkx<span class="smalltext">PLAYER</span></li>
<li>Gooselife<span class="smalltext">PLAYER</span></li>
<li>Eskim0 Mb<span class="smalltext">PLAYER</span></li>
<li>Fourby<span class="smalltext">PLAYER</span></li>
<li class="graytext">jdm8<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Pave The Way</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Anacondaasqueeze<span class="smalltext">CAPTAIN</span></li>
<li>Formido<span class="smalltext">PLAYER</span></li>
<li>OnDeezNutz<span class="smalltext">PLAYER</span></li>
<li>vS Kloss<span class="smalltext">PLAYER</span></li>
<li>vS Swanepoel<span class="smalltext">PLAYER</span></li>
<li class="graytext">Sinisteer<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">OVERWATCH</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">OVW MUSS<span class="smalltext">CAPTAIN</span></li>
<li>toboggan69<span class="smalltext">PLAYER</span></li>
<li>OVW STONIEDUDE<span class="smalltext">PLAYER</span></li>
<li>mr youturls<span class="smalltext">PLAYER</span></li>
<li>stg mr herbet<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Original Flavour</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Tyrane<span class="smalltext">CAPTAIN</span></li>
<li>goin4ya<span class="smalltext">PLAYER</span></li>
<li>Grimald<span class="smalltext">PLAYER</span></li>
<li>Bigbrownstain<span class="smalltext">PLAYER</span></li>
<li>Xaiji<span class="smalltext">PLAYER</span></li>
<li class="graytext">Ani<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Origin Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">KinkyWiener<span class="smalltext">CAPTAIN</span></li>
<li>Sleepy<span class="smalltext">PLAYER</span></li>
<li>Vexen<span class="smalltext">PLAYER</span></li>
<li>Sil3ntQ<span class="smalltext">PLAYER</span></li>
<li>Reelople<span class="smalltext">PLAYER</span></li>
<li class="graytext">Rawrskiies<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Orbit Prime</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">oRb wrekt<span class="smalltext">CAPTAIN</span></li>
<li>oRb bulzy<span class="smalltext">PLAYER</span></li>
<li>oRb exo<span class="smalltext">PLAYER</span></li>
<li>oRb 8mg<span class="smalltext">PLAYER</span></li>
<li>oRb levi124<span class="smalltext">PLAYER</span></li>
<li class="graytext">oRb norak<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">On The Moon</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Synical<span class="smalltext">CAPTAIN</span></li>
<li>Thawny<span class="smalltext">PLAYER</span></li>
<li>Sm1l3ys<span class="smalltext">PLAYER</span></li>
<li>FaIlen Angel<span class="smalltext">PLAYER</span></li>
<li>Captainn Levi<span class="smalltext">PLAYER</span></li>
<li class="graytext">Vimana<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">NZsheeps</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Chingu<span class="smalltext">CAPTAIN</span></li>
<li>Zebrò<span class="smalltext">PLAYER</span></li>
<li>happey<span class="smalltext">PLAYER</span></li>
<li>Saiclone<span class="smalltext">PLAYER</span></li>
<li>AZKdenii<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Team Nv</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Nv Mattress<span class="smalltext">CAPTAIN</span></li>
<li>Nv FirstMate<span class="smalltext">PLAYER</span></li>
<li>Nv incible<span class="smalltext">PLAYER</span></li>
<li>Nv HeavenzCurse<span class="smalltext">PLAYER</span></li>
<li>Nv Pekka Kokko<span class="smalltext">PLAYER</span></li>
<li class="graytext">fatsleepypanda<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Noxious Rebellion</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">NX FluffyCow<span class="smalltext">CAPTAIN</span></li>
<li>NX Chillyphilly<span class="smalltext">PLAYER</span></li>
<li>NX Black star<span class="smalltext">PLAYER</span></li>
<li>NX insub<span class="smalltext">PLAYER</span></li>
<li>NX mauseum<span class="smalltext">PLAYER</span></li>
<li class="graytext">ScREAM<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Nerf Urf</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Oxycotton26<span class="smalltext">CAPTAIN</span></li>
<li>Down to Urf<span class="smalltext">PLAYER</span></li>
<li>Himynameisthatch<span class="smalltext">PLAYER</span></li>
<li>Genesis<span class="smalltext">PLAYER</span></li>
<li>K3you<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Mosman Boiz</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">2bfu<span class="smalltext">CAPTAIN</span></li>
<li>momotaro111<span class="smalltext">PLAYER</span></li>
<li>hasion<span class="smalltext">PLAYER</span></li>
<li>playnskillz<span class="smalltext">PLAYER</span></li>
<li>punchups<span class="smalltext">PLAYER</span></li>
<li class="graytext">nanglamen<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Ministry eSports</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">M Nter<span class="smalltext">CAPTAIN</span></li>
<li>M Psyker<span class="smalltext">PLAYER</span></li>
<li>M Zed Flanders<span class="smalltext">PLAYER</span></li>
<li>M Dis<span class="smalltext">PLAYER</span></li>
<li>M Leeroy<span class="smalltext">PLAYER</span></li>
<li class="graytext">SNX James<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Mindfreak</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">MF Shotzz<span class="smalltext">CAPTAIN</span></li>
<li>mf chuchuz<span class="smalltext">PLAYER</span></li>
<li>mf erectgymnast<span class="smalltext">PLAYER</span></li>
<li>mf cardrid<span class="smalltext">PLAYER</span></li>
<li>mr juve<span class="smalltext">PLAYER</span></li>
<li class="graytext">vanilla<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">OriginGaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">KinkyWiener<span class="smalltext">CAPTAIN</span></li>
<li>Sleepy<span class="smalltext">PLAYER</span></li>
<li>Vexen<span class="smalltext">PLAYER</span></li>
<li>Sil3ntQ<span class="smalltext">PLAYER</span></li>
<li>Reelople<span class="smalltext">PLAYER</span></li>
<li class="graytext">Rawrskiies<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">MINDCONTROL</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Rayne<span class="smalltext">CAPTAIN</span></li>
<li>Zerg<span class="smalltext">PLAYER</span></li>
<li>Scrappy<span class="smalltext">PLAYER</span></li>
<li>Shaws<span class="smalltext">PLAYER</span></li>
<li>Deathsniffer<span class="smalltext">PLAYER</span></li>
<li class="graytext">RQM crusnix<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Melbourne Vipers</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">MvP Kacz95<span class="smalltext">CAPTAIN</span></li>
<li>MvP Karnous<span class="smalltext">PLAYER</span></li>
<li>MvP Pure Swiss<span class="smalltext">PLAYER</span></li>
<li>MvP Helios<span class="smalltext">PLAYER</span></li>
<li>MvP Gimpy<span class="smalltext">PLAYER</span></li>
<li class="graytext">Kaczmarski94<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Majesty</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Insttinct<span class="smalltext">CAPTAIN</span></li>
<li>XiXaX<span class="smalltext">PLAYER</span></li>
<li>PancakeMiix<span class="smalltext">PLAYER</span></li>
<li>PurpleChiby<span class="smalltext">PLAYER</span></li>
<li>Trissy<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Loaded</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">LG Morange<span class="smalltext">CAPTAIN</span></li>
<li>Eyosane<span class="smalltext">PLAYER</span></li>
<li>LG Magby<span class="smalltext">PLAYER</span></li>
<li>LG Xatu<span class="smalltext">PLAYER</span></li>
<li>LG Eyosane<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Little Wraith</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">porky<span class="smalltext">CAPTAIN</span></li>
<li>Stars<span class="smalltext">PLAYER</span></li>
<li>littledopa<span class="smalltext">PLAYER</span></li>
<li>spacekitten<span class="smalltext">PLAYER</span></li>
<li>Bhz<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Little Mermaids</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Randomman159<span class="smalltext">CAPTAIN</span></li>
<li>Ezzer<span class="smalltext">PLAYER</span></li>
<li>Dilaan King<span class="smalltext">PLAYER</span></li>
<li>Jewbucca<span class="smalltext">PLAYER</span></li>
<li>Lapras2<span class="smalltext">PLAYER</span></li>
<li class="graytext">Stickm8<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Killer Instinct</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Two inches deep<span class="smalltext">CAPTAIN</span></li>
<li>THRETN<span class="smalltext">PLAYER</span></li>
<li>Zephor<span class="smalltext">PLAYER</span></li>
<li>Lockdown<span class="smalltext">PLAYER</span></li>
<li>Reqr<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Kawaii Beta Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Gruxen<span class="smalltext">CAPTAIN</span></li>
<li>Skarky101<span class="smalltext">PLAYER</span></li>
<li>Valko<span class="smalltext">PLAYER</span></li>
<li>Edilan<span class="smalltext">PLAYER</span></li>
<li>Imang0<span class="smalltext">PLAYER</span></li>
<li class="graytext">whatevertrevor<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Just Meerkats</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Cheloll<span class="smalltext">CAPTAIN</span></li>
<li>ChrisMisTreez<span class="smalltext">PLAYER</span></li>
<li>Surskit<span class="smalltext">PLAYER</span></li>
<li>JM Ignicia<span class="smalltext">PLAYER</span></li>
<li>PopSanity<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Jack is jungle ok</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Own<span class="smalltext">CAPTAIN</span></li>
<li>Gavin<span class="smalltext">PLAYER</span></li>
<li>Tomorrow<span class="smalltext">PLAYER</span></li>
<li>Odi<span class="smalltext">PLAYER</span></li>
<li>Timoshes a babe<span class="smalltext">PLAYER</span></li>
<li class="graytext">Alexiss<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Is this just Fantasy?</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">fourg33k<span class="smalltext">CAPTAIN</span></li>
<li>jaykey<span class="smalltext">PLAYER</span></li>
<li>ness<span class="smalltext">PLAYER</span></li>
<li>ice cold killer<span class="smalltext">PLAYER</span></li>
<li>cool god<span class="smalltext">PLAYER</span></li>
<li class="graytext">av fantasy<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">In Rupert We Trust</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Wraithhz<span class="smalltext">CAPTAIN</span></li>
<li>ImDooly<span class="smalltext">PLAYER</span></li>
<li>Artix<span class="smalltext">PLAYER</span></li>
<li>Letchy<span class="smalltext">PLAYER</span></li>
<li>Skyous<span class="smalltext">PLAYER</span></li>
<li class="graytext">Adolfslastdancer<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Imperious</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Manicapanda<span class="smalltext">CAPTAIN</span></li>
<li>Zappo<span class="smalltext">PLAYER</span></li>
<li>Deaano<span class="smalltext">PLAYER</span></li>
<li>Munk<span class="smalltext">PLAYER</span></li>
<li>Rivendell<span class="smalltext">PLAYER</span></li>
<li class="graytext">Solvyx<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Ignitis</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">ChaosEater<span class="smalltext">CAPTAIN</span></li>
<li>Kenken<span class="smalltext">PLAYER</span></li>
<li>ryuten<span class="smalltext">PLAYER</span></li>
<li>nx bdoink<span class="smalltext">PLAYER</span></li>
<li>Snx Sapphires<span class="smalltext">PLAYER</span></li>
<li class="graytext">j beenzino<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Hunter River Raiders</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Modbrat<span class="smalltext">CAPTAIN</span></li>
<li>Seppy<span class="smalltext">PLAYER</span></li>
<li>Arlenn<span class="smalltext">PLAYER</span></li>
<li>Oaul<span class="smalltext">PLAYER</span></li>
<li>scabboy<span class="smalltext">PLAYER</span></li>
<li class="graytext">xGenshinX<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Hugh is God</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">TomaDERP<span class="smalltext">CAPTAIN</span></li>
<li>WhiteFangHT<span class="smalltext">PLAYER</span></li>
<li>Molten Potato69<span class="smalltext">PLAYER</span></li>
<li>BlackyMario<span class="smalltext">PLAYER</span></li>
<li>Yonko<span class="smalltext">PLAYER</span></li>
<li class="graytext">Imortalninja<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Gravity e-Sports</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">GrV Hoonsta<span class="smalltext">CAPTAIN</span></li>
<li>DownRightDarius<span class="smalltext">PLAYER</span></li>
<li>GrV iOn<span class="smalltext">PLAYER</span></li>
<li>GrV Starsteps<span class="smalltext">PLAYER</span></li>
<li>GrV Crayz<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Galaxy Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">EclipsxSceptic<span class="smalltext">CAPTAIN</span></li>
<li>Big Cally Bear<span class="smalltext">PLAYER</span></li>
<li>Voltain<span class="smalltext">PLAYER</span></li>
<li>smarteypants<span class="smalltext">PLAYER</span></li>
<li>MajinMissBuu<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Fruit Basket</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Slaydere<span class="smalltext">CAPTAIN</span></li>
<li>Prawnstar<span class="smalltext">PLAYER</span></li>
<li>Emphasis<span class="smalltext">PLAYER</span></li>
<li>Asian<span class="smalltext">PLAYER</span></li>
<li>weneedmoregold<span class="smalltext">PLAYER</span></li>
<li class="graytext">Uze<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Four C One D</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Ice Cold Killer<span class="smalltext">CAPTAIN</span></li>
<li>Fourg33k<span class="smalltext">PLAYER</span></li>
<li>Jaykey<span class="smalltext">PLAYER</span></li>
<li>Ness<span class="smalltext">PLAYER</span></li>
<li>Cool Mog<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">FlapTatBird</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">TsukimeChan<span class="smalltext">CAPTAIN</span></li>
<li>warnox<span class="smalltext">PLAYER</span></li>
<li>tomato73<span class="smalltext">PLAYER</span></li>
<li>marsbar37<span class="smalltext">PLAYER</span></li>
<li>antho<span class="smalltext">PLAYER</span></li>
<li class="graytext">Bosshog7<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">OriginGaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">KinkyWiener<span class="smalltext">CAPTAIN</span></li>
<li>Sleepy<span class="smalltext">PLAYER</span></li>
<li>Vexen<span class="smalltext">PLAYER</span></li>
<li>Sil3ntQ<span class="smalltext">PLAYER</span></li>
<li>Reelople<span class="smalltext">PLAYER</span></li>
<li class="graytext">Rawrskiies<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Filthy Pirates Xpress</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">NooGiN<span class="smalltext">CAPTAIN</span></li>
<li>Giffney<span class="smalltext">PLAYER</span></li>
<li>Sleight<span class="smalltext">PLAYER</span></li>
<li>Tubsta<span class="smalltext">PLAYER</span></li>
<li>Foxsetsuna<span class="smalltext">PLAYER</span></li>
<li class="graytext">Drunkencheer<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Fibonacci 5</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">F5 Zarozz Mid<span class="smalltext">CAPTAIN</span></li>
<li>f5 toxzic<span class="smalltext">PLAYER</span></li>
<li>f5 coldham<span class="smalltext">PLAYER</span></li>
<li>f5 tartarus<span class="smalltext">PLAYER</span></li>
<li>benarthur<span class="smalltext">PLAYER</span></li>
<li class="graytext">nubsyy<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Exusia</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Luxury<span class="smalltext">CAPTAIN</span></li>
<li>Urami<span class="smalltext">PLAYER</span></li>
<li>Best Jung1er OCE<span class="smalltext">PLAYER</span></li>
<li>Tomatoeq<span class="smalltext">PLAYER</span></li>
<li>Denizenn<span class="smalltext">PLAYER</span></li>
<li class="graytext">Klownie<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">EV</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">EV Rusty<span class="smalltext">CAPTAIN</span></li>
<li>EV Tgun<span class="smalltext">PLAYER</span></li>
<li>EV Prince<span class="smalltext">PLAYER</span></li>
<li>EV Skwiggle<span class="smalltext">PLAYER</span></li>
<li>Zephyre<span class="smalltext">PLAYER</span></li>
<li class="graytext">Will2g<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Dynasty Black</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Hot Probs<span class="smalltext">CAPTAIN</span></li>
<li>Customunit<span class="smalltext">PLAYER</span></li>
<li>Wiz khalisi<span class="smalltext">PLAYER</span></li>
<li>Juggrnautt<span class="smalltext">PLAYER</span></li>
<li>OG Wave<span class="smalltext">PLAYER</span></li>
<li class="graytext">Steggs<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Dots</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">AKG Senpai<span class="smalltext">CAPTAIN</span></li>
<li>AKG Lovers<span class="smalltext">PLAYER</span></li>
<li>Pk Crow<span class="smalltext">PLAYER</span></li>
<li>Pk 8bucks<span class="smalltext">PLAYER</span></li>
<li>AKG Right<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">District Attorneys</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Kagesha<span class="smalltext">CAPTAIN</span></li>
<li>Quick<span class="smalltext">PLAYER</span></li>
<li>beeg<span class="smalltext">PLAYER</span></li>
<li>Random Postman<span class="smalltext">PLAYER</span></li>
<li>Dantini<span class="smalltext">PLAYER</span></li>
<li class="graytext">LuckStar<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Core Esport</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">KinkyWiener<span class="smalltext">CAPTAIN</span></li>
<li>Sleepy<span class="smalltext">PLAYER</span></li>
<li>Vexen<span class="smalltext">PLAYER</span></li>
<li>Sil3ntQ<span class="smalltext">PLAYER</span></li>
<li>Reelople<span class="smalltext">PLAYER</span></li>
<li class="graytext">Rawrskiies<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">OriginGaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">LV150<span class="smalltext">CAPTAIN</span></li>
<li>Little Tricky<span class="smalltext">PLAYER</span></li>
<li>DefRAY<span class="smalltext">PLAYER</span></li>
<li>HatersNC<span class="smalltext">PLAYER</span></li>
<li>Ygdrazil<span class="smalltext">PLAYER</span></li>
<li class="graytext">Joxx<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Copenhagen Pigs</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Doomlawrd<span class="smalltext">CAPTAIN</span></li>
<li>Phishing 4 Fizz<span class="smalltext">PLAYER</span></li>
<li>Stykee<span class="smalltext">PLAYER</span></li>
<li>Tiny Chopper<span class="smalltext">PLAYER</span></li>
<li>Velimas Senpai<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Cool groovy dudes</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">BennyKing<span class="smalltext">CAPTAIN</span></li>
<li>Greensanity<span class="smalltext">PLAYER</span></li>
<li>Mankyweb<span class="smalltext">PLAYER</span></li>
<li>Rjcuz<span class="smalltext">PLAYER</span></li>
<li>Toblito<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">ComeAndPetOurOneTurtle</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Jason3211<span class="smalltext">CAPTAIN</span></li>
<li>UrMumsWetVagina<span class="smalltext">PLAYER</span></li>
<li>Fiizz01<span class="smalltext">PLAYER</span></li>
<li>Tysonftw<span class="smalltext">PLAYER</span></li>
<li>KevinooBz<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Channel 7</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Miku<span class="smalltext">CAPTAIN</span></li>
<li>Tonight<span class="smalltext">PLAYER</span></li>
<li>Exiah<span class="smalltext">PLAYER</span></li>
<li>Leoeva<span class="smalltext">PLAYER</span></li>
<li>Aigooo<span class="smalltext">PLAYER</span></li>
<li class="graytext">Dottikins<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">change in concavity</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">bukkoo<span class="smalltext">CAPTAIN</span></li>
<li>grisha<span class="smalltext">PLAYER</span></li>
<li>OCE hotshotGG<span class="smalltext">PLAYER</span></li>
<li>bladeboii<span class="smalltext">PLAYER</span></li>
<li>OCE Faker<span class="smalltext">PLAYER</span></li>
<li class="graytext">pusslickr720<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Cant say</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">wp gandalf<span class="smalltext">CAPTAIN</span></li>
<li>jebediah freeman<span class="smalltext">PLAYER</span></li>
<li>aamazed<span class="smalltext">PLAYER</span></li>
<li>teru<span class="smalltext">PLAYER</span></li>
<li>squid<span class="smalltext">PLAYER</span></li>
<li class="graytext">smz24<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Bulktech Gaming Esports Legit Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">revertYORICKnerf<span class="smalltext">CAPTAIN</span></li>
<li>Favourable<span class="smalltext">PLAYER</span></li>
<li>InflatableSenpai<span class="smalltext">PLAYER</span></li>
<li>daz the king<span class="smalltext">PLAYER</span></li>
<li>Starless<span class="smalltext">PLAYER</span></li>
<li class="graytext">Naisha<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">OriginGaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">KinkyWiener<span class="smalltext">CAPTAIN</span></li>
<li>Sleepy<span class="smalltext">PLAYER</span></li>
<li>Vexen<span class="smalltext">PLAYER</span></li>
<li>Sil3ntQ<span class="smalltext">PLAYER</span></li>
<li>Reelople<span class="smalltext">PLAYER</span></li>
<li class="graytext">Rawrskiies<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Buff Transfer Complete</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Froxzen<span class="smalltext">CAPTAIN</span></li>
<li>Grantabulous<span class="smalltext">PLAYER</span></li>
<li>Coolfox<span class="smalltext">PLAYER</span></li>
<li>bazzy<span class="smalltext">PLAYER</span></li>
<li>trispirus<span class="smalltext">PLAYER</span></li>
<li class="graytext">outraged<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Bronzescrubz</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">blood odin<span class="smalltext">CAPTAIN</span></li>
<li>frostbitepku<span class="smalltext">PLAYER</span></li>
<li>Nzhello437<span class="smalltext">PLAYER</span></li>
<li>VBH VN<span class="smalltext">PLAYER</span></li>
<li>Ruptur3<span class="smalltext">PLAYER</span></li>
<li class="graytext">belindakim<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Batmans</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Saadie<span class="smalltext">CAPTAIN</span></li>
<li>illuminatreturns<span class="smalltext">PLAYER</span></li>
<li>rydogggz<span class="smalltext">PLAYER</span></li>
<li>whatthefishpaste<span class="smalltext">PLAYER</span></li>
<li>monkeyception<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Avidity</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Cammo<span class="smalltext">CAPTAIN</span></li>
<li>Windy<span class="smalltext">PLAYER</span></li>
<li>Champloo<span class="smalltext">PLAYER</span></li>
<li>Glacial<span class="smalltext">PLAYER</span></li>
<li>Fry<span class="smalltext">PLAYER</span></li>
<li class="graytext">Amec<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">AVANT GARDE</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Av Tealz<span class="smalltext">CAPTAIN</span></li>
<li>Av Intrepid<span class="smalltext">PLAYER</span></li>
<li>Av Profound<span class="smalltext">PLAYER</span></li>
<li>Av Smileyfaceex<span class="smalltext">PLAYER</span></li>
<li>Av Psyker<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Aspire</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">hey its relax<span class="smalltext">CAPTAIN</span></li>
<li>gosu battlecake<span class="smalltext">PLAYER</span></li>
<li>supporting<span class="smalltext">PLAYER</span></li>
<li>bl deathify<span class="smalltext">PLAYER</span></li>
<li>m nyx<span class="smalltext">PLAYER</span></li>
<li class="graytext">oggerz<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Amumu Frost</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Ambition<span class="smalltext">CAPTAIN</span></li>
<li>Ç4 SextacyDragon<span class="smalltext">PLAYER</span></li>
<li>Tivoniol<span class="smalltext">PLAYER</span></li>
<li>Florio<span class="smalltext">PLAYER</span></li>
<li>Jippy<span class="smalltext">PLAYER</span></li>
<li class="graytext">nSky<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Aggression</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">AnimalAGR<span class="smalltext">CAPTAIN</span></li>
<li>dark brad<span class="smalltext">PLAYER</span></li>
<li>uneeq<span class="smalltext">PLAYER</span></li>
<li>Ronggai<span class="smalltext">PLAYER</span></li>
<li>ffudles<span class="smalltext">PLAYER</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">420 Weed Wizard Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Dessert Porn<span class="smalltext">CAPTAIN</span></li>
<li>Mups<span class="smalltext">PLAYER</span></li>
<li>ßµttMuƒƒins<span class="smalltext">PLAYER</span></li>
<li>Sgt Platy<span class="smalltext">PLAYER</span></li>
<li>Dexter<span class="smalltext">PLAYER</span></li>
<li class="graytext">Real Nature<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

<tr>
<td class="regteambox">Venum Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Lapras<span class="smalltext">CAPTAIN</span></li>
<li>ArmadyI God<span class="smalltext">PLAYER</span></li>
<li>Jarrah<span class="smalltext">PLAYER</span></li>
<li>Powerful<span class="smalltext">PLAYER</span></li>
<li>RagingRoyy<span class="smalltext">PLAYER</span></li>
<li class="graytext">mightydom<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>

    
</tbody>
</table>
    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
