---
title: ACL - StarCraft II 2014 - Results
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/sc2/sc9.jpg);">
        <div>
            <div class="topsectionarticle">
            <h1 class="whitetext">StarCraft II</h1>
            <h5 class="whitetext" style="margin-top: -20px;">2014 RESULTS</h5>
            </div>
        </div> 
    </div>
    
<div class="row">

    <div class="small-12 columns article">

    <div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">Online Round 4</h2>
            <table>
                     <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
              <tr style="width:450px">
                <td>1st</td>
                <td>Crimson</td>
                <td>300</td>
              </tr>
            <tr>
                <td>2nd</td>
                <td>Revenant</td>
                <td>268</td>
              </tr>
            <tr>   
                <td>3rd</td>
                <td>Petrify</td>
                <td>240</td>
              </tr>
            <tr>  
                <td>4th</td>
                <td>Fighto</td>
                <td>220</td>
              </tr>  
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/sc2/or4.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/sc2/or4.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/sc2/sc10.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

    <div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">Online Round 3</h2>
            <table>
                     <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
              <tr style="width:450px">
                <td>1st</td>
                <td>KingKong</td>
                <td>300</td>
              </tr>
            <tr>
                <td>2nd</td>
                <td>Petraeus</td>
                <td>268</td>
              </tr>
            <tr>   
                <td>3rd</td>
                <td>Iaguz</td>
                <td>240</td>
              </tr>
            <tr>  
                <td>4th</td>
                <td>Alopex</td>
                <td>220</td>
              </tr>  
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/sc2/or3.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/sc2/or3.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/sc2/sc9.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>
        
<div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">ACL Brisbane</h2>
            <table>
                     <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
            <tr style="width:450px">
                <td>1st</td>
                <td>KingKong</td>
                <td>750</td>
              </tr>
            <tr>
                <td>2nd</td>
                <td>HuT</td>
                <td>670</td>
              </tr>
            <tr>   
                <td>3rd</td>
                <td>PiG</td>
                <td>600</td>
              </tr>
            <tr>  
                <td>4th</td>
                <td>Pezz</td>
                <td>550</td>
              </tr> 
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/sc2/bris2014.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/sc2/bris2014.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/sc2/sc16.jpg); background-size: cover;">
            <img src="/images/bris/2014/brisemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

    <div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">Online Round 2</h2>
            <table>
                     <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
              <tr style="width:450px">
                <td>1st</td>
                <td>KingKong</td>
                <td>300</td>
              </tr>
            <tr>
                <td>2nd</td>
                <td>PiG</td>
                <td>268</td>
              </tr>
            <tr>   
                <td>3rd</td>
                <td>NXZ</td>
                <td>240</td>
              </tr>
            <tr>  
                <td>4th</td>
                <td>HuT</td>
                <td>220</td>
              </tr>   
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/sc2/or2.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/sc2/or2.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/sc2/sc8.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>

    <div class="darkbg">
        <div class="small-12 large-6 columns padding-40">
            <h2 class="whitetext">Online Round 1</h2>
            <table>
                     <tr style="width:450px">
                <th style="width:50px" align="left"><b>Placing</b></th>
                <th style="width:300px" align="left"><b>Player</b></th>
                <th style="width:100px" align="left">Points</th>
                </tr>
            <tr style="width:450px">
                    <td>1st</td>
                    <td>Petrify</td>
                    <td>300</td>
                  </tr>
            <tr>
                    <td>2nd</td>
                    <td>PiG</td>
                    <td>268</td>
                  </tr>
            <tr>   
                    <td>3rd</td>
                    <td>Probe</td>
                    <td>240</td>
                  </tr>
            <tr>  
                    <td>4th</td>
                    <td>Kez</td>
                    <td>220</td>
            </tr>  
            </table>                
           <ul class="button-group">
            <li><a href="/results/2014/sc2/or1.html" class="button tiny">Full Event Details</a></li> 
           </ul>
        </div>

        <a href="/results/2014/sc2/or1.html">
        <div class="small-12 large-6 columns padding-0">
            <div class="aclcolour" style="background-image: url(/images/sc2/sc7.jpg); background-size: cover;">
            <img src="/images/online/onlemblem.png" />
           </div>
        </div>
        </a><hr>
    </div>
           
</div>
</div>
    
<%= partial "footer" %>
</body>
</html>
