---
title: ACL - StarCraft II 2014 - Results
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
        <div class="articlecover small-12 columns" style="background-image: url(/images/sc2/sc15.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 3 - Results</h1>
        <p>ACL StarCraft Online Round 3 acted as an official Blizzard qualifier for the American World Championship Series. 1st place during the tournament was offered an invite to compete on the world stage. The tournament also acted as the third of four online qualifiers for ACL's second 2014 LAN event, ACL Sydney. Competitors played for a share in $2,500 in prize money.
        <br>
        <br></p>
            
        <ul class="button-group">
        <li><a href="/archive/2014/acl-starcraft-ii-online-round-1.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/sc2/or1/registered_players.html" class="button secondary tiny">Registered Players</a></li>
        <li><a href="/results/2014/sc2/or1.html" class="button tiny">Results</a></li>
        <li><a href="http://2014sc2.challonge.com/ACLOR1" target="_blank" class="button tiny">Bracket</a></li>
        </ul>    
        </div>
        
    </div>
        
<div class="small-12 columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0 large-offset-3 large-6 columns">
<table>
  <tr style="width:450px">
    <th style="width:50px" align="left"><b>Placing</b></th>
    <th style="width:300px" align="left"><b>Player</b></th>
    <th style="width:100px" align="left">Points</th>
    </tr>
  <tr style="width:450px">
    <td>1st</td>
    <td>KingKong</td>
    <td>300</td>
  </tr>
<tr>
    <td>2nd</td>
    <td>Petraeus</td>
    <td>268</td>
  </tr>
<tr>   
    <td>3rd</td>
    <td>Iaguz</td>
    <td>240</td>
  </tr>
<tr>  
    <td>4th</td>
    <td>Alopex</td>
    <td>220</td>
  </tr>
<tr> 
    <td>5th</td>
    <td>Blysk</td>
    <td>204</td>
  </tr>
<tr>
    <td>6th</td>
    <td>Probe</td>
    <td>190</td>
  </tr>
<tr>
    <td>7th</td>
    <td>EnDerr</td>
    <td>176</td>
  </tr>
<tr>
    <td>8th</td>
    <td>Pezz</td>
    <td>164</td>
  </tr>
<tr>
    <td>9th</td>
    <td>Frustration</td>
    <td>152</td>
  </tr>
<tr>
    <td>10th</td>
    <td>Heartz</td>
    <td>142</td>
  </tr>
<tr>
    <td>11th</td>
    <td>Crimson</td>
    <td>131</td>
  </tr>
<tr>
    <td>12th</td>
    <td>MightyKiwi</td>
    <td>122</td>
  </tr>
<tr>
    <td>13th</td>
    <td>NXZ</td>
    <td>112</td>
  </tr>
<tr>
    <td>14th</td>
    <td>Lobo</td>
    <td>103</td>
  </tr>
<tr>
    <td>15th</td>
    <td>Revenant</td>
    <td>94</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>Wally</td>
    <td>86</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>Petrify</td>
    <td>78</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>RivaL</td>
    <td>71</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>Fenner</td>
    <td>64</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>DemiLove</td>
    <td>58</td>
  </tr>
  <tr>
    <td>21st</td>
    <td>NostalgIA</td>
    <td>51</td>
  </tr>
  <tr>
    <td>22nd</td>
    <td>Livibee</td>
    <td>46</td>
  </tr>
  <tr>
    <td>23rd</td>
    <td>StriKE</td>
    <td>40</td>
  </tr>
  <tr>
    <td>24th</td>
    <td>Peppy</td>
    <td>34</td>
  </tr>
  <tr>
    <td>25th</td>
    <td>JunO</td>
    <td>30</td>
  </tr>
  <tr>
    <td>26th</td>
    <td>Soundwave</td>
    <td>25</td>
  </tr>
  <tr>
    <td>27th</td>
    <td>Vivid</td>
    <td>20</td>
  </tr>
  <tr>
    <td>28th</td>
    <td>Phoenix</td>
    <td>15</td>
  </tr>
  <tr>
    <td>29th</td>
    <td>Dane</td>
    <td>11</td>
  </tr>
  <tr>
    <td>30th</td>
    <td>Kez</td>
    <td>8</td>
  </tr>
  <tr>
    <td>31st</td>
    <td>Yours</td>
    <td>6</td>
  </tr>
  <tr>
    <td>32nd</td>
    <td>Pox</td>
    <td>4</td>
  </tr>
</table>
</div>
</div>
    
</div>
    
<%= partial "footer" %>
</body>
</html>
