---
title: ACL - League of Legends Online Round 3 - Registered Teams
---

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Australian Cyber League</title>
<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/aclpro.css">
<link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
<script type="text/javascript" src="/js/responsive-tables.js"></script>
<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
    
    <!--Please only change text areas and links as required. 
    Do not alter any of the outside code. 
    Do not change images unless required to (such as images in the article section).
    In regards to the article section, you may need to change the "...color" tag in the div to match
    that of the content in the article. There are only 4 variations of this that should cover across
    the whole website, these are: lolcolour, codcolour, sc2colour, aclcolour.
    In instances where these do not apply, contact your closest web guru.
    Good luck & have fun.-->
      
<%= partial "nav" %>
    
    <div class="articlecover small-12 columns" style="background-image: url(/images/lol/splash3.jpg);">
    </div>

    <div class="row">
    
        <div class="small-12 columns article padding-40">
        <h1>Online Round 3 - Registered Teams</h1>
        <h5>ACL Sydney Qualifier</h5>
        <p>ACL League of Legends Online Round 3 acted as a qualifier for ACL Sydney. The top 4 teams were invited to compete at ACL Sydney joined by the top 4 teams from the Oceanic Winter Regional. The winner takes out the lions share of a $6k prize pool along with a spot in the Oceanic Regional Finals.</p>
            
        <ul class="button-group">
        <li><a href="/archive/2014/acl-league-of-legends-online-round-3.html" class="button secondary tiny">Announcement</a></li>
        <li><a href="/events/2014/online/lol/or3/registered_teams.html" class="button secondary tiny">Registered Teams</a></li>
        <li><a href="/results/2014/lol/or3.html" class="button tiny">Results</a></li>
        <li><a href="http://challonge.com/acl2014lolor3" class="button tiny">Bracket</a></li>
        </ul>    
        </div>
        
    </div>

  
<div class="columns darkbg padding-40" style="margin-bottom: 20px;">

<div class="row">
<div class="small-12 padding-0">

<table>
<tbody>
    
<tr>
<td class="regteambox">r u playing 4 a medal</td>
<td width="900px">
<ol class="inline-list regplayerbox">
<li class="goldtext">Chenyboy<span class="smalltext">CAPTAIN</span></li>
<li>paws<span class="smalltext">PLAYER</span></li>
<li>Chuffer<span class="smalltext">PLAYER</span></li>
<li>Variables<span class="smalltext">PLAYER</span></li>
<li>Profound<span class="smalltext">PLAYER</span></li>
<li class="graytext">daegu ilban<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>      
</tr>
    
<tr>
<td class="regteambox">Ex Dreamers</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Niwa<span class="smalltext">CAPTAIN</span></li>
<li>Ubergiantsbro<span class="smalltext">PLAYER</span></li>
<li>tgun<span class="smalltext">PLAYER</span></li>
<li>Zahe<span class="smalltext">PLAYER</span></li>
<li>Tomoyo Sakagami<span class="smalltext">PLAYER</span></li>
<li class="graytext">SerbBeCarrying<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Your Soul Shall Chuffer</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Denian<span class="smalltext">CAPTAIN</span></li>
<li>Jakattack<span class="smalltext">PLAYER</span></li>
<li>Guo<span class="smalltext">PLAYER</span></li>
<li>Tempname507<span class="smalltext">PLAYER</span></li>
<li>flying Joe<span class="smalltext">PLAYER</span></li>
<li class="graytext">Emphasis<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Dire Wolves</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Rippii 1<span class="smalltext">CAPTAIN</span></li>
<li>Magnelious<span class="smalltext">PLAYER</span></li>
<li>ap0c<span class="smalltext">PLAYER</span></li>
<li>Charliee<span class="smalltext">PLAYER</span></li>
<li>Dead Quartet<span class="smalltext">PLAYER</span></li>
<li class="graytext">Fake Taxi<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Gone Fishing</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Meerkatz<span class="smalltext">CAPTAIN</span></li>
<li>Independence<span class="smalltext">PLAYER</span></li>
<li>Voodoochild<span class="smalltext">PLAYER</span></li>
<li>GallyOp<span class="smalltext">PLAYER</span></li>
<li>Supporting<span class="smalltext">PLAYER</span></li>
<li class="graytext">game theif<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">HengMog Gaming</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">av xtatu corsair<span class="smalltext">CAPTAIN</span></li>
<li>Av Skwiggle Asus<span class="smalltext">PLAYER</span></li>
<li>zerg da queen<span class="smalltext">PLAYER</span></li>
<li>av psyker asus<span class="smalltext">PLAYER</span></li>
<li>av impaired<span class="smalltext">PLAYER</span></li>
<li class="graytext">hey nubs<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">AKG</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">AKG SaejBOi<span class="smalltext">CAPTAIN</span></li>
<li>AKG Joon<span class="smalltext">PLAYER</span></li>
<li>AKG White<span class="smalltext">PLAYER</span></li>
<li>AKG MiraN<span class="smalltext">PLAYER</span></li>
<li>AKG NADA<span class="smalltext">PLAYER</span></li>
<li class="graytext">AKG Lovers<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Ignite eSports</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">iG Urami<span class="smalltext">CAPTAIN</span></li>
<li>Kagesha<span class="smalltext">PLAYER</span></li>
<li>iG Coehn<span class="smalltext">PLAYER</span></li>
<li>Faker Jr<span class="smalltext">PLAYER</span></li>
<li>Shoulderraven<span class="smalltext">PLAYER</span></li>
<li class="graytext">iG EKlipsed<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">BlackJack</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Mum<span class="smalltext">CAPTAIN</span></li>
<li>Royaie<span class="smalltext">PLAYER</span></li>
<li>Ambition<span class="smalltext">PLAYER</span></li>
<li>Conan<span class="smalltext">PLAYER</span></li>
<li>nana<span class="smalltext">PLAYER</span></li>
<li class="graytext">Donde Voy<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">lomo kings</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Zeaious<span class="smalltext">CAPTAIN</span></li>
<li>Boxgap<span class="smalltext">PLAYER</span></li>
<li>Fibsy<span class="smalltext">PLAYER</span></li>
<li>Kiwifruit<span class="smalltext">PLAYER</span></li>
<li>Dontcallmecactus<span class="smalltext">PLAYER</span></li>
<li class="graytext">ave<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Urgot Rule 34</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Gruxen<span class="smalltext">CAPTAIN</span></li>
<li>themaniac2<span class="smalltext">PLAYER</span></li>
<li>DWAI Cage<span class="smalltext">PLAYER</span></li>
<li>Bidiot<span class="smalltext">PLAYER</span></li>
<li>DWAI Offchopz<span class="smalltext">PLAYER</span></li>
<li class="graytext">dlilEndar<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Will They Fail?</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">Modbrat<span class="smalltext">CAPTAIN</span></li>
<li>Seppy<span class="smalltext">PLAYER</span></li>
<li>Scabboy<span class="smalltext">PLAYER</span></li>
<li>Shottywils<span class="smalltext">PLAYER</span></li>
<li>Arlenn<span class="smalltext">PLAYER</span></li>
<li class="graytext">xGenshinx<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Storm</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">ts Lapras<span class="smalltext">CAPTAIN</span></li>
<li>Aetharus<span class="smalltext">PLAYER</span></li>
<li>ts Rapid<span class="smalltext">PLAYER</span></li>
<li>ts God<span class="smalltext">PLAYER</span></li>
<li>The God Support<span class="smalltext">PLAYER</span></li>
<li class="graytext">ts Rain<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Bound 2 Best Song Oce</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">o Bubbles o<span class="smalltext">CAPTAIN</span></li>
<li>Scream<span class="smalltext">PLAYER</span></li>
<li>Prince Hoodie<span class="smalltext">PLAYER</span></li>
<li>lmtdEdition<span class="smalltext">PLAYER</span></li>
<li>ryuza<span class="smalltext">PLAYER</span></li>
<li class="graytext">auburn2144<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
<tr>
<td class="regteambox">Team Immunity</td>
<td>
<ol class="inline-list regplayerbox">
<li class="goldtext">iM Sangy intel<span class="smalltext">CAPTAIN</span></li>
<li>iM raydere intel<span class="smalltext">PLAYER</span></li>
<li>Grimtongue<span class="smalltext">PLAYER</span></li>
<li>I suk xD<span class="smalltext">PLAYER</span></li>
<li>Swiffer<span class="smalltext">PLAYER</span></li>
<li class="graytext">iM Swip3rR intel<span class="smalltext">SUBSTITUTE</span></li>
</ol>
</td>
</tr>
    
</tbody>
</table>
    
</div>
    
</div>

    
</div>
    
<%= partial "footer" %>
    
</body>
</html>
